
/* Banner 01 */
.banner-01 .slide-container{position:relative;}
.banner-01 .slide{
    position:relative; min-height:calc(100vh - 6.75rem); padding:3.5rem 0; overflow:hidden;
    display:flex; align-items:center;
}
.banner-01 .slide > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-01 .slide > .hero{
    position:absolute; bottom:0; right:-5vw; width:70vw; height:100%;
    display:flex; align-items:flex-end; justify-content:center;
}
.banner-01 .slide > .hero img{
    display:block; width:auto; max-width:100%; height:auto; max-height:calc(100% - 2rem);
}
.banner-01 .slide > .container{position:relative;}
.banner-01 .quote-container{display:flex; margin:3rem 0;}
.banner-01 .quote-container > .wrapper{position:relative;}
.banner-01 .quote-container .quote{position:absolute; display:block; height:3rem; width:auto;}
.banner-01 .quote-container .quote.quote-left{bottom:calc(100% + .25rem); left:0;}
.banner-01 .quote-container .quote.quote-right{top:calc(100% + .25rem); right:0;}
.banner-01 .arrows{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    justify-content:space-between; pointer-events:none;
}
.banner-01 .arrows > .arrow{
    display:block; pointer-events:auto; cursor:pointer; transition:opacity .25s;
}
.banner-01 .arrows > .arrow:hover{opacity:.7;}
.banner-01 .arrows > .arrow img{display:block; height:5rem; width:auto;}
@media screen and (max-width:1199.98px){
    .banner-01 .slide > .hero{right:0; width:50vw;}
    .banner-01 .quote-container .quote{height:2.875rem;}
    .banner-01 .arrows > .arrow img{height:4.5rem;}
}
@media screen and (max-width:991.98px){
    .banner-01 .slide{align-items:flex-start; padding:3rem 0;}
    .banner-01 .slide > .hero{right:-3rem; width:28rem;}
    .banner-01 .quote-container .quote{height:2.625rem;}
    .banner-01 .arrows > .arrow img{height:4rem;}
}
@media screen and (max-width:767.98px){
    .banner-01 .slide{padding:2.5rem 0;}
    .banner-01 .slide > .hero{left:0; right:0; width:auto; height:22rem;}
    .banner-01 .quote-container{justify-content:center;}
    .banner-01 .quote-container .quote{height:2.5rem;}
}
@media screen and (max-width:575.98px){
    .banner-01 .slide{padding:2rem 0;}
    .banner-01 .quote-container .quote{height:2.25rem;}
    .banner-01 .arrows{display:none;}
}
.banner-01 .slide .animate{
    opacity:0; transform:translateY(4rem); transition:all ease-in-out .75s;
}
.banner-01 .slide.slick-active .animate{opacity:1; transform:none; transition-delay:var(--delay);}
.loading .banner-01 .slide .animate{opacity:0!important; transform:translateY(4rem)!important;}


/* Client 01 */
.client-01 .slide-container{width:100%;}
.client-01 .slide > .wrapper{width:100%; padding:0 .5rem;}
.client-01 .slide .client{display:block; width:100%; transition:opacity .25s;}
.client-01 .slide .client:hover{opacity:.8;}
.client-01 .slide .client > img{display:block; width:100%; height:auto;}


/* Paginate */
.paginate{display:flex; align-items:center;}
.paginate .page{
  display:flex; align-items:center; justify-content:center;
  border-radius:50%; cursor:pointer; font-size:1rem; font-weight:400;
  padding:.125rem 0 0 0; margin:.125rem .1875rem; width:2.25rem; height:2.25rem;
  transition:background .25s, color .25s, box-shadow .25s;
}

.paginate.style-02{display:flex; align-items:center;}
.paginate.style-02 .arrow{
  display:flex; align-items:center; position:relative; pointer-events:auto; border:1px solid transparent; 
  background:none; box-shadow:none; cursor:pointer; font-size:1rem; width:2rem; height:2rem;
  transition:color .25s; border-radius:50%; justify-content:center; 
}

.paginate.style-02 .pages{display:flex; align-items:center; margin:0 .375rem;}
.paginate.style-02 .page{
  display:block; border:0; width:2rem; height:2rem; line-height:2rem;
  font-size:.875rem; font-weight:400; border-radius:50%; box-shadow:none;
  cursor:pointer; margin:0 .0625rem; padding:0; text-align:center;
  transition:background .25s, color .25s; border:1px solid transparent;
}


.paginate.style-02 .page.active, .paginate.style-02 .dot{pointer-events:none;}
.paginate.style-02 .page.disabled{pointer-events:none; opacity:.7;}
@media screen and (max-width:767.98px){
    .paginate.style-02 .pages{margin:0 1.125rem;}
}
@media screen and (max-width:575.98px){
    .paginate.style-02 .pages{margin:0 .75rem;}
}

/* Faq 01 */
.faq-01{width:100%;}
.faq-01 .faq{width:100%; margin:.4375rem 0 0 0;}
.faq-01 .faq > .question{
  width:100%; display:flex; border:1px solid transparent; height:4.5rem;
  cursor:pointer; transition:border-color .25s; border-radius:.4375rem;
}
.faq-01 .faq .ftag{
  width:3rem; height:auto; display:flex; justify-content:center; 
  align-items:center; font-weight:600;
}
.faq-01 .faq .title{
  display:flex; align-items:center; height:auto; width:calc(100% - 19rem);
  transition:color .25s; -webkit-line-clamp:2;
}
.faq-01 .faq .arrow{display:none; width:5rem; height:auto; font-size:1.875rem;}
.faq-01 .faq.active .arrow{display:block;}
.faq-01 .faq .arrow > .wrapper{display:flex; justify-content:center; align-items:center; width:5rem; height:100%;}
.faq-01 .faq .date-view{
    width:11rem; display:flex; justify-content:flex-end; align-items:center;
    padding-right:1rem;
} 
.faq-01 .faq .date-view > .wrapper .icon > em{font-size:.875rem;}
.faq-01 .faq > .answer{display:none; width:100%; padding:.75rem .4375rem;}
.faq-01 .faq > .answer > .wrapper{
    display:flex; justify-content:space-between; width:100%; max-width:calc(100% - 6.5rem);
    margin:0 auto;
}
.faq-01 .faq.active .answer-wrapper{display:none;}
.faq-01 .faq .answer-wrapper{
  width:5rem; display:flex; flex-direction:column; align-items:center; justify-content:center;
  border-radius:0 .4375rem .4375rem 0;
}
.faq-01 .faq .answer-wrapper > img{
  display:block; max-width:100%; max-height:100%; width:auto; height:1.375rem;
}
.faq-01 .faq > .answer .content > .wrapper{display:flex; align-items:center; flex-wrap:wrap;}
.faq-01 .faq > .answer .content > .wrapper .img-container{width:25%; border-radius:.5rem; overflow:hidden;}
.faq-01 .faq > .answer .content > .wrapper .text-container{width:75%; padding:0 1.5rem;}
@media screen and (max-width:1199.98px){
  .faq-01 .faq > .question{height:auto;}
}
@media screen and (max-width:991.98px){
  .faq-01 .faq > .answer > .wrapper{max-width:100%;}
}
@media screen and (max-width:767.98px){
  .faq-01 .faq > .answer .content > .wrapper .img-container{width:100%;}
  .faq-01 .faq > .answer .content > .wrapper .text-container{width:100%; padding:.5rem 0;}
}

/* Faq 02 */
.faq-02{width:100%;}
.faq-02 .faq{width:100%; margin:.4375rem 0 0 0;}
.faq-02 .faq > .question{
  width:100%; display:flex; border:1px solid transparent; height:4.5rem;
  cursor:pointer; transition:border-color .25s; border-radius:.4375rem; overflow:hidden;
}
.faq-02 .faq .ftag{
  width:4rem; height:auto; display:flex; justify-content:center; 
  align-items:center; font-weight:600; border-right:2px solid transparent;
}
.faq-02 .faq > .question .ftag > .icon{display:flex; justify-content:center; align-items:center;}
.faq-02 .faq > .question .ftag > .icon img{
  display:block; max-width:100%; max-height:100%; width:auto; height:2rem;  
}
.faq-02 .faq > .question .title{
  display:flex; align-items:center; height:auto; width:calc(100% - 9rem);
  transition:color .25s; -webkit-line-clamp:2; padding:1rem 0 1rem 1rem; 
}
.faq-02 .faq > .question .chevron-wrapper{
  width:5rem; display:flex; flex-direction:column; align-items:center; justify-content:center;
  border-radius:0 .4375rem .4375rem 0; transition:background .25s;
}
.faq-02 .faq > .answer{
  display:none; width:100%; border:1px solid #3aa57b; padding:0 2.875rem;
  border-top:0; border-radius:0 0 .4375rem .4375rem;
}

.faq-02 .faq > .answer .content > .wrapper{display:flex; align-items:center; flex-wrap:wrap;}
.faq-02 .faq > .answer .content > .wrapper .img-container{width:25%; border-radius:.5rem; overflow:hidden;}
.faq-02 .faq > .answer .content > .wrapper .text-container{width:75%; padding:0 1.5rem;}
@media screen and (max-width:575.98px){
  .faq-02 .faq > .question{height:auto;}
}

/* Faq 03 */
.faq-03{min-width:600px;}
.faq-03 .faq{width:100%; margin:.4375rem 0 0 0;}
.faq-03 .faq > .question{
  width:100%; display:flex; border:1px solid transparent; height:4.5rem;
  cursor:pointer; transition:border-color .25s; border-radius:.4375rem; overflow:hidden;
}
.faq-03 .faq .ftag{
  width:4rem; height:auto; display:flex; justify-content:center; 
  align-items:center; font-weight:600; border-right:2px solid transparent;
}
.faq-03 .faq > .question .ftag > .icon{display:flex; justify-content:center; align-items:center;}
.faq-03 .faq > .question .ftag > .icon img{
  display:block; max-width:100%; max-height:100%; width:auto; height:1.375rem;  
}
.faq-03 .faq > .question .title{
  display:flex; align-items:center; height:auto; width:17rem;
  transition:background .5s, color .5s; -webkit-line-clamp:2; padding:1rem 0 1rem 1rem; 
}
.faq-03 .faq > .question .link{
  display:flex; align-items:center; width:calc(100% - 21rem); transition:background .5s, color .5s;
}

/* Faq 04 */
.faq-04{min-width:600px;}
.faq-04 .faq{width:100%; margin:.4375rem 0 0 0;}
.faq-04 .faq > .question{
  width:100%; display:flex; border:1px solid transparent; height:4.5rem;
  cursor:pointer; transition:border-color .25s; border-radius:.4375rem; overflow:hidden;
}
.faq-04 .faq .ftag{
  width:4rem; height:auto; display:flex; justify-content:center; 
  align-items:center; font-weight:600; border-right:2px solid transparent;
}
.faq-04 .faq > .question .ftag > .icon{display:flex; justify-content:center; align-items:center;}
.faq-04 .faq > .question .ftag > .icon img{
  display:block; max-width:100%; max-height:100%; width:auto; height:1.375rem;  
}
.faq-04 .faq > .question .text-container{
  height:auto; width:calc(100% - 4rem);
  transition:background .5s, color .5s; -webkit-line-clamp:2; padding:1rem 0 1rem 1rem; 
}
.faq-04 .faq > .question .text-container > .date-view .wrapper{display:flex; align-items:center;}
.faq-04 .faq > .question .text-container > .date-view .wrapper > .icon{
  display:flex; align-items:center; font-size:.375rem; margin-right:.5rem;
}
.faq-04 .faq > .question .text-container > .date-view .wrapper > .icon em{transition:color .5s;}
@media screen and (max-width:991.98px){
  .faq-04 .faq > .question{height:auto;}
}

/* Faq 05 */
.faq-05{min-width:800px;}
.faq-05 .faq{width:100%; margin:.4375rem 0 0 0;}
.faq-05 .faq > .question{
  width:100%; display:flex; border:1px solid transparent; height:4.5rem;
  cursor:pointer; transition:border-color .25s; border-radius:.4375rem; overflow:hidden;
}
.faq-05 .faq .ftag{
  width:4rem; height:auto; display:flex; justify-content:center; transition:background .5s;
  align-items:center; font-weight:600; border-right:2px solid transparent;
}
.faq-05 .faq > .question .ftag > .icon{display:flex; justify-content:center; align-items:center;}
.faq-05 .faq > .question .ftag > .icon img{
  display:block; max-width:100%; max-height:100%; width:auto; height:2rem;  
}
.faq-05 .faq > .question .text{
  width:10rem; display:flex; flex-direction:column; justify-content:center; align-items:center;
  transition:background .5s, color .5s;
}
.faq-05 .faq > .question .title{
  display:flex; align-items:center; height:auto; width:calc(100% - 30rem);
  transition:color .25s; padding:1rem 0 1rem 1rem; transition:background .5s, color .5s;
}
.faq-05 .faq > .question .date-view{
  width:11rem; display:flex; justify-content:center; align-items:center;
  transition:background .5s, color .5s;
}
.faq-05 .faq > .question .date-view > .wrapper .icon{
  font-size:.875rem; display:flex; align-items:center;
}
.faq-05 .faq > .question .date-view > .wrapper .icon > em{
  width:1.375rem; height:1.375rem; display:flex; justify-content:center; align-items:center;
  transition: .5s;
}
.faq-05 .faq > .question .button-download{
  width:5rem; display:flex; flex-direction:column; align-items:center; justify-content:center;
  border-radius:0 .4375rem .4375rem 0; transition:background .5s, color .5s;
}
.faq-05 .faq > .question .button-download > .btn{transition:background .5s, color .5s;}
@media screen and (max-width:575.98px){
  .faq-05 .faq > .question{height:auto;}
}

.post-video{display:block; width:100%; max-width:44rem; margin:0 auto;}
.post-video > .wrapper{position:relative; width:100%; padding:56% 0 0 0;}
.post-video video, .post-video iframe{width:100%; height:100%;}
.post-video video.fit{position:absolute; top:0; bottom:0; left:0; right:0;}

/* Section 01 */
.section-01{position:relative; background-size:cover; background-position:center;}
.section-01 > .hero{
    position:absolute; bottom:0; left:0; width:55vw; height:100%;
    display:flex; align-items:flex-end; justify-content:center;
}
.section-01 > .hero img{display:block; width:auto; max-width:100%; height:auto; max-height:100%;}
@media screen and (max-width:991.98px){
    .section-01{padding-bottom:36rem;}
    .section-01 > .hero{width:100vw; height:36rem;}
}
@media screen and (max-width:767.98px){
    .section-01{padding-bottom:30rem;}
    .section-01 > .hero{height:30rem;}
}
@media screen and (max-width:575.98px){
    .section-01{padding-bottom:22rem;}
    .section-01 > .hero{height:23rem;}
}


/* Section 02 */
.section-02{padding-bottom:8rem;}
@media screen and (max-width:991.98px){
    .section-02{padding-bottom:7rem;}
}
@media screen and (max-width:767.98px){
    .section-02{padding-bottom:6rem;}
}
@media screen and (max-width:575.98px){
    .section-02{padding-bottom:5rem;}
}


/* Section 03 */
.section-03{background-size:cover; background-position:center;}
.section-03 > .container{margin-top:-1rem;}


/* Section 05 */
.section-05 .swiper-container > .bullet .bullet-wrapper{display:flex; justify-content:center; align-items:center;}
.section-05 .swiper-pagination-bullets{padding:0 .5rem; border-radius:1000em;}
.section-05 .swiper-pagination-bullet{
    margin:0 .25rem;  width:0.4375rem; height:0.4375rem; border-radius:.3125rem; 
    transition:width .25s; opacity:1;
}
.section-05 .swiper-pagination-bullet.swiper-pagination-bullet-active{width:2.125rem;}


/* Section 06 */
.section-06 .swiper-container > .bullet .bullet-wrapper{display:flex; justify-content:center; align-items:center;}
.section-06 .swiper-pagination-bullets{padding:0 .5rem; border-radius:1000em;}
.section-06 .swiper-pagination-bullet{
    margin:0 .25rem;  width:0.4375rem; height:0.4375rem; border-radius:.3125rem; 
    transition:width .25s; opacity:1;
}
.section-06 .swiper-pagination-bullet.swiper-pagination-bullet-active{width:2.125rem;}


/* Section-07 */
.section-07 .swiper-container > .btns-swiper{
    width:100%;  position:absolute; bottom:1rem; z-index:2; padding:0 2rem;
}
.section-07 .swiper-container > .btns-swiper .wrapper{width:auto; display:flex; align-items:center; justify-content:space-between;}

.section-07 .swiper-container > .btns-swiper .wrapper > .btn .arrow{
    width:3rem; height:3rem; display:flex; justify-content:center; align-items:center;
    border-radius:50%; border:2px solid transparent; font-size:1.5rem;
}
@media screen and (max-width:991.98px){
    .section-07 .swiper-container > .btns-swiper .wrapper > .btn .arrow{width:2.5rem; height:2.5rem; font-size:1rem;}
}

.section-07 .swiper-container > .btns-swiper .wrapper > .btn .arrow{
    background:#3a8b6c; color:#ffffff; border-color:#ffffff;
}
.section-07 .swiper-container > .btns-swiper .wrapper > .dots{width:auto; padding:.25rem 1.5rem; border-radius:.5rem;}
.section-07 .swiper-container > .btns-swiper .wrapper > .dots{background:#2c8260; color:#ffffff;}


/* Section 08 */
.section-08{position:relative;}
.section-08 .pattern{position:absolute; top:0; left:0; bottom:0; right:0;}
.section-08 .pattern > .wrapper{position:relative; width:100%; height:100%;}
.section-08 .pattern > .wrapper img{
    position:absolute; bottom:0; left:auto; right:0; display:block;  width:auto; z-index:-1;
}
.section-08 .captcha-container{display:flex; align-items:center;}
@media screen and (max-width:575.98px){
  .section-08 .captcha-container{flex-wrap:wrap;}
  .section-08 .captcha-container > .btns{margin-left:0!important; margin-top:1rem;}
}

/* Section 09 */
.section-09{position:relative;}
.section-09 .swiper-background{
  position:absolute; top:7rem; left:0; right:0; bottom:0; height:calc(100% - 300px); width:auto; z-index:-1;
}
/* .section-09 .swiper-container > .swiper-wrapper{margin-bottom:calc(100% -15rem) ;} */
.section-09 .swiper-container > .shelf-container{margin-top:-3%;}
.section-09 .swiper-background > .arrows-container{width:100%; padding:0 2rem; margin-top:10rem;}
.section-09 .swiper-background > .arrows-container .wrapper{display:flex; justify-content:space-between;}
.section-09 .swiper-container{margin-top:14rem;}
.section-09 .swiper-background > .arrows-container .arrow{
  width:2rem; height:2rem; border:2px solid transparent; display:flex;
  justify-content:center; align-items:center; border-radius:50%; cursor:pointer;
}

.section-09 .swiper-background > .arrows-container .arrow{border-color:#303031;}
.section-09 .swiper-background > .arrows-container .arrow > em{color:#303031;}


/* Breadcrumb 01 */
.breadcrumb-01 .top{position:relative; width:100%; padding:1.5rem 0 4rem 0;}
.breadcrumb-01 .top > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.breadcrumb-01 .bottom .wrapper a:last-child{position:relative; padding-left:2.375rem;}
.breadcrumb-01 .bottom .wrapper a:last-child::before{
  position:absolute; content:""; width:1rem; height:4px; top:40%; left:.5rem;
}



/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{position:relative; width:100%;}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{position:relative; display:none; width:100%; padding:0; margin:0;}
.tab-container .tab-content.active{display:block;}

/* Tabs 01 */
.tab-container .tabs.tabs-01{
    display:flex; align-items:center; justify-content:center; flex-wrap:wrap;
}
.tab-container .tabs.tabs-01 .tab{
    position:relative; display:flex; align-items:center; font-size:1rem; font-weight:400;
    padding:.5625rem 1rem; border-radius:.5rem; transition:background .25s, color .25s;
}
.tab-container .tabs.tabs-01 .tab::after{
    content:''; position:absolute; top:0; bottom:0; left:-.5px; width:1px;
    transition:opacity .25s;
}
.tab-container .tabs.tabs-01 .tab:first-child::after{display:none;}
.tab-container .tabs.tabs-01 .tab.active::after,
.tab-container .tabs.tabs-01 .tab.active + .tab::after{opacity:0!important;}
.tab-container .tabs.tabs-01 .tab > .icon-inactive,
.tab-container .tabs.tabs-01 .tab > .icon-active{
    display:flex; align-items:center; justify-content:center; width:2.25rem; height:1.5rem;
    margin:0 .5rem 0 0; transition:opacity .25s;
}
.tab-container .tabs.tabs-01 .tab > .icon-active{position:absolute; opacity:0;}
.tab-container .tabs.tabs-01 .tab.active > .icon-inactive{opacity:0;}
.tab-container .tabs.tabs-01 .tab.active > .icon-active{opacity:1;}
.tab-container .tabs.tabs-01 .tab > .icon-inactive > img,
.tab-container .tabs.tabs-01 .tab > .icon-active > img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
@media screen and (max-width:575.98px){
    .tab-container .tabs.tabs-01{display:block;}
    .tab-container .tabs.tabs-01 .tab::after{display:none!important;}
}


/* Table Footer */
.table-footer{display:flex; align-items:center; justify-content:center; flex-wrap:wrap;}
@media screen and (min-width:768px){
    .table-footer > .paginate + .btns{margin-left:1.5rem; width:auto;}
}
@media screen and (max-width:767.98px){
    .table-footer > .paginate + .btns{margin-top:1rem; justify-content:center;}
}
