/* Section 01 */
.section-01{
    height:100%; min-height:calc(100vh - 6.75rem); background-size:cover; background-repeat:no-repeat;
    background-position: center; 
}

/* Section 02 */
.section-02{
    height:100%; min-height:600px;
}
.section-02 .text-wrapper{
    bottom:1rem; left:1rem;
}

/* Section 03 */
.section-03 .text-wrapper{
    bottom:1rem; transform: translate(50%, -50%);
}