/* Section 01 */
.section-01{
    height:100%; min-height:calc(100vh - 6.75rem); background-size:cover; background-repeat:no-repeat;
    background-position: center; 
}

/* Section 02 */
.section-02{
    height:100%; min-height:600px;
}
.section-02 .text-wrapper{
    bottom:1rem; left:1rem;
}
.section-02 ul{
   list-style-type:none; margin-right:1rem;
}
.section-02 ul li{
    display:inline; text-align: center;
}
.section-02 ul li a{
    display:inline-block; margin:0.5rem;
}
.section-02 .categories{
    display:flex; flex-wrap: wrap; justify-content:center; align-items:center;
}
.section-02 .pagination{
    display:flex; justify-content:center; align-items:center;
}
.section-02 .categories a.active{
    padding:.375rem 1.25rem .25rem 1.25rem; border-radius:.5rem;
}
.section-02 .pagination a.active{
    width:35px; height:35px; display:inline-block; margin:0.5rem;
    padding:0.5rem; border-radius:50%; line-height:1.3;
}
@media screen and (max-width:1299.98px){
    .section-02 .ss-text-wrapper {max-width:15rem;}
    .section-02 .lg-text-wrapper {max-width:40rem;}
}
@media screen and (max-width:991.98px){
    .section-02 .lg-text-wrapper {max-width:25rem;}
}
@media screen and (max-width:767.98px){
    .section-02 .ss-text-wrapper {max-width:38rem;}
    .section-02 .lg-text-wrapper {max-width:32rem;}
}
@media screen and (max-width:575.98px){
    .section-02 .ss-text-wrapper {max-width:38rem;}
    .section-02 .lg-text-wrapper {max-width:32rem;}
}

/* Section 03 */
.section-03{
    height:100%; min-height:805px; background-size:cover; background-repeat:no-repeat;
    background-position: center; 
}
.section-03 .text-wrapper{
    bottom:1rem; width:222px; 
}

/* Section 04 */
.section-04 h5{
   min-height:80px;
}

/* Section 06 */
.section-06 .text-wrapper{
    bottom:1.5rem; left:1.5rem;
}