
/* Reset */
html, body{background:#000000;}
html, body, a, a:hover, table.table{color:#fecb00;}
img, .img-bg, .hero, .section-bg, .img-fill, .pattern, .mobile-screen, iframe, .chart-container,
.swiper-background::before, .swiper-background::after, .section-03 .section-card::before,.icon-view.disable,.checkbox-set input:checked ~ .checkmark::before{filter: grayscale(1)!important;}

/* Colors */
/* Colors */
.color-p, 
.color-s, 
.color-t, 
.color-white,
.color-black, 
.color-dark, 
.color-gray, 
.color-sgray
.color-01, 
.color-02, 
.color-03, 
.color-04, 
.color-05, 
.color-06, 
.color-07,
.color-08{color:#fecb00!important;}
.color-black-theme{color:#000000!important;}
.color-white-theme{color:#fecb00!important;}

.bg-p, 
.bg-s, 
.bg-t, 
.bg-white, 
.bg-black, 
.bg-dark, 
.bg-gray, 
.bg-sgray, 
.bg-01, 
.bg-02, 
.bg-03, 
.bg-04, 
.bg-05, 
.bg-06, 
.bg-07,
.bg-08{background:#000000!important;}
.bg-black-theme{background:#000000!important;}
.bg-white-theme{background:#fecb00!important; color:#000000!important}
.bg-white-theme-02{background:#ffffff!important;}

.bcolor-p, 
.bcolor-s, 
.bcolor-t 
.bcolor-white,
.bcolor-black,
.bcolor-dark, 
.bcolor-gray, 
.bcolor-sgray,
.bcolor-01,
.bcolor-02,
.bcolor-03,
.bcolor-04,
.bcolor-05,
.bcolor-06,
.bcolor-07,
.bcolor-08{border-color:#fecb00!important;}
.bcolor-black-theme{border-color:#000000!important;}


/* Global Filter */
.filter.style-01{background:rgba(0,0,0,.4)}
.filter.style-02{background:rgba(0,0,0,.4)}
.filter.style-02.bgcolor-02{background:rgba(0,0,0,.4)!important;}
.filter.style-03{ 
    background-image:linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,.4),
    rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0));
}
.filter.style-04{
  background-image:linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,.9),
  rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),
  rgba(0,0,0,0));
}
  

/* Accessibility & Quick Links */
nav.side-panel > .wrapper > .icon{background:#000000;}

/* Global Search Container */
.global-search-container .hamburger > *{background:#fecb00;}

/* Super Topnav */
nav.stopnav .btn.btn-circle{border-color:#fecb00; background:#fecb00;}
nav.stopnav .flag-wrapper{background:#fecb00; color:#000000;}
nav.stopnav .btn-social:hover{background:#fecb00; color:#000000;}
nav.stopnav .option-select > .dropdown{background:#fecb00;}
nav.stopnav .option-select > .dropdown .item{border-color:#000000; color:#000000;}
nav.stopnav .option-select > .dropdown .item:hover{background:#000000; color:#fecb00;}

nav.stopnav.style-02{border-color:#fecb00;}
nav.stopnav.style-02 .option{border-color:#fecb00;}
nav.stopnav.style-02 .option-select > .select{background:#fecb00; color:#000000;}
nav.stopnav.style-02 .option-select > .dropdown{background:#fecb00;}
nav.stopnav.style-02 .option-select > .dropdown .item{border-color:#000000; color:#000000;}
nav.stopnav.style-02 .option-select > .dropdown .item:hover{background:#000000; color:#fecb00;}
nav.stopnav.style-02 .blocks > .option .hotline > em{border-color:#fecb00;}
nav.stopnav.style-02 .option-select > .select.language{color:#000000!important;}

nav.stopnav.style-04 .btn-social{border-color:#fecb00;}
nav.topnav.style-04 .menu:hover > *:first-child{background:#fecb00; color:#000000;}

/* Super Topnav Minisite */
nav.stopnav-minisite{background:#000000; border-color:#fecb00;}
nav.stopnav-minisite .logo{color:#fecb00;}
nav.stopnav-minisite .option,
nav.stopnav-minisite .option .dropdown{background:#000000; border-color:#fecb00!important;}
nav.stopnav-minisite .option > a{color:#fecb00;}
nav.stopnav-minisite .option .chev svg{fill:#fecb00;}
nav.stopnav-minisite .btn-menu{border-color:#fecb00; color:#fecb00;}
nav.stopnav-minisite .btn-menu svg{fill:#fecb00;}
nav.stopnav-minisite .btn-menu:hover{background:#fecb00; color:#000000;}
nav.stopnav-minisite .btn-menu:hover svg{fill:#000000;}
nav.stopnav-minisite .hamburger > *{background:#fecb00;}
nav.stopnav-minisite .btn-menu:hover .hamburger > *{background:#000000;}

/* Topnav */
nav.topnav{background:#000000; color:#fecb00; border-bottom:1px solid #fecb00;}
nav.topnav .menu::before, nav.topnav .option::before{background:#fecb00!important;}
nav.topnav .menu::after{background:#fecb00;}
nav.topnav .menu:hover > *:first-child{color:#fecb00;}
nav.topnav .menu > a, nav.topnav .option{color:#fecb00;}
nav.topnav .menu:hover > a, nav.topnav .menu.active > a,
nav.topnav .option:hover, nav.topnav .option.active{color:#000000;}
nav.topnav .option.sidenav-toggle{background:#fecb00;}
nav.topnav .hamburger > *{background:#000000;}
nav.topnav .submenu{border-color:#fecb00;}
nav.topnav .submenu-dropdown,
nav.topnav .option > .dropdown{background:#000000; border:1px solid #fecb00;}
nav.topnav .submenu:hover > *:first-child{background:#fecb00!important; color:#000000!important;}
nav.topnav .submenu-title{color:#fecb00;}
nav.topnav .submenu-block:first-child > .submenu-title{color:#fecb00; border-color:#fecb00;}
nav.topnav .submenu > a{color:#fecb00;}
nav.topnav .submenu .submenu > a::before{background:#fecb00;}
nav.topnav .submenu > a::after{background:#fecb00;}
nav.topnav .option > .dropdown .flag-wrapper:hover{background:#fecb00;}
nav.stopnav-minisite .option .dropdown .menu > a{color:#fecb00;}
nav.stopnav-minisite .option .dropdown .menu:hover > a{background:#fecb00; color:#000000;}
nav.stopnav-minisite .option .dropdown .menu > a::before{background:#fecb00;}
nav.stopnav-minisite .option .dropdown .menu:hover > a::before{background:#000000;}

nav.topnav.clear:not(.sticky){background:transparent; border-color:transparent;}

/* Topnav Minisite */
nav.topnav-minisite{background:#fecb00;}
nav.topnav-minisite .menu > a{color:#000000;}
nav.topnav-minisite .menu:hover > a,
nav.topnav-minisite .menu.active > a{background:#000000; color:#fecb00;}
nav.topnav-minisite .menu::before, nav.topnav-minisite .menu::after{display:none;}
nav.topnav-minisite .submenu-dropdown{background:#000000; border:1px solid #fecb00;}
nav.topnav-minisite .submenu-title{color:#fecb00;}
nav.topnav-minisite .submenu-block:first-child > .submenu-title{
    color:#fecb00; border-color:#fecb00;
}
nav.topnav-minisite .submenu > a{color:#fecb00;}
nav.topnav-minisite .submenu .submenu > a{color:#fecb00;}
nav.topnav-minisite .submenu .submenu > a::before{background:#fecb00;}
nav.topnav-minisite .submenu > a::after{background:#fecb00; opacity:.2;}

/* Sidenav */
nav.sidenav{background:#000000; border-left:1px solid #fecb00;}
nav.sidenav .hamburger > *{background:#fecb00;}
nav.sidenav .submenu > *:first-child{border-color:#000000;}
nav.sidenav .submenu:hover > *:first-child{background:#000000; color:#fecb00;}
nav.sidenav .submenu:hover > .dropdown-toggle{color:#fecb00;}
nav.sidenav .sidenav-toggle, nav.sidenav .options, 
nav.sidenav .options > .option, nav.sidenav .options > .option-btn,
nav.sidenav .option > .dropdown, nav.sidenav .option > .dropdown > *, 
nav.sidenav .scroll-wrapper, nav.sidenav .menu > a{border-color:#fecb00;}
nav.sidenav .submenu > a{border-color:#000000;}
nav.sidenav .option > .dropdown{background:#000000;}
nav.sidenav .menu > a{color:#fecb00;}
nav.sidenav .submenu > a{color:#000000; background:#fecb00;}
nav.sidenav .dropdown-toggle{color:#fecb00;}
nav.sidenav .submenu .dropdown-toggle{color:#000000;}

nav.side-panel .panel-row:first-child {background:#000000; color:#fecb00;}
nav.side-panel .option:not(.btn-cursor):hover, nav.side-panel .option:not(.btn-cursor).active{
  background:#fecb00; color:#000000; fill:#000000;
}
nav.side-panel .option {color:#fecb00; fill:#fecb00;}
nav.side-panel .panel-row:nth-child(even){background:#171717;}
nav.side-panel .panel-row{background:#000000; color:#fecb00;}
nav.side-panel .panel{border-color:rgba(255,255,0,.3);}
nav.side-panel .option-row .icon + *::before{background:#fecb00;}
nav.side-panel .hamburger > *{background:#ffffff;}

/* Global Search Container */
.global-search-container .search-panel{background:#000000; border:1px solid #fecb00;}
.global-search-container input[type=text],
.global-search-container input[type=text]:focus{border-color:#fecb00!important;}
.global-search-container .form-group .append .icon{color:#000000;}
.global-search-container.minisite .btn-close{background:#fecb00;}
.global-search-container.minisite .hamburger > *{background:#000000;}
.global-search-container.minisite .form-group .append .icon{color:#fecb00;}

/* Back to Top */
.back-to-top{background:#000000; color:#fecb00!important; border-color:#fecb00;}

/* Footer */
nav.footer{background:#000000; border-color:#fecb00;}
nav.footer .btn-footer{background:#000000; color:#fecb00; border:1px solid #fecb00;}
nav.footer ul > li::before{background:#fecb00;}
nav.footer ul > li > a{color:#fecb00;}
nav.footer .footer-socials > .social{background:#fecb00; color:#000000;}
nav.footer .footer-socials > .social:hover{background:#000000; color:#fecb00; border-color:#fecb00;}
nav.footer .count-web > *{background:#fecb00; color:#000000; border-color:#000000!important;}

nav.footer.style-03 .footer-container{background:#000000;}
nav.footer.style-03 .footer-socials .social{
  background:#000000; color:#fecb00; border-color:#fecb00;
}
nav.footer.style-03 .footer-socials > .social-wrapper .tooltip{background:#fecb00; color:#000000;}

nav.footer.style-04 .footer-top, nav.footer.style-04 .footer-bottom,
nav.footer.style-05 .footer-bottom, nav.footer.style-06 .footer-bottom{border-color:#fecb00;}

nav.footer.style-07{background:#fecb00!important;}
nav.footer.style-07 .footer-container{background:#000000;}
nav.footer.style-07 .footer-bottom{border-color:#fecb00!important;}

nav.footer.style-08 .footer-bottom{border-color:#fecb00;}
nav.footer.style-08 .social-links > .btns-social .btn-social:hover{background:#fecb00; color:#000000;}

nav.footer.style-09 .footer-bottom{border-color:#fecb00;}

nav.footer.style-10 .footer-bottom{border-color:#fecb00;}
nav.footer.style-10 .social-links > .btns-social .btn-social:hover{background:#fecb00; color:#000000;}
nav.footer.style-10 .text-intro{border-color:#fecb00;}

nav.footer.style-11{background:#fecb00!important;}
nav.footer.style-11 .footer-container{background:#000000;}
nav.footer.style-11 .footer-bottom{border-color:#fecb00!important;}
nav.footer.style-11 .footer-socials > .social{background:#000000; color:#fecb00;}
nav.footer.style-11 .footer-socials > .social:hover{background:#fecb00; color:#000000;}

/* Footer Single Pages */ 
nav.footer-single-page .social-list .tooltip{background:#fecb00; color:#000000;}
nav.footer-single-page .social-list .icon:hover{background:#fecb00; color:#000000;}

/* Super Footer */
nav.sfooter .visitor-count{border:1px solid #fecb00;}

/* Super Footer Minisite */
nav.sfooter-minisite{background:#000000; color:#fecb00;}
nav.sfooter-minisite .logo h6{color:#fecb00;}
nav.sfooter-minisite table.table-contact td p{color:#fecb00;}
nav.sfooter-minisite table.table-contact td a{color:#fecb00;}
nav.sfooter-minisite table.table-contact td a:hover{color:#fecb00;}
nav.sfooter-minisite .quick-links a{color:#fecb00;}
nav.sfooter-minisite .quick-links a:hover{color:#fecb00;}
nav.sfooter-minisite .quick-links a::before{background:#fecb00;}
nav.sfooter-minisite .visitor-count{border-color:#fecb00;}
nav.sfooter-minisite .btn.btn-social{background:#000000;}
nav.sfooter-minisite .btn.btn-social:hover{background:#fecb00; color:#000000;}
nav.sfooter-minisite .grid-line > .line::before{background:#fecb00;}

/* Sidebar (Member page) */
.sidebar{border-color:#fecb00;}
.sidebar .wrapper > .arrow-container .arrow{background:#fecb00; color:#000000;}
.sidebar .logo-container{border-color:#fecb00;}
.sidebar .menu-container > .menu-item:not(.menu-item:last-child){border-color:#fecb00;}
.sidebar .menu-item:hover .tooltip, .sidebar .profile-container:hover .tootltip{background:#fecb00; color:#000000;}


/* Section & Container */
.section-bg{background:transparent!important;}


/* Buttons */
.btn.btn-ss::after{background:#000000;}
.btn.btn-more{color:#fecb00;}
.btn.btn-more::after{background:#fecb00;}

.btn.btn-02, .btn.btn-02:focus,
.btn.btn-03, .btn.btn-03:focus,
.btn.btn-05, .btn.btn-05:focus,
.btn.btn-06, .btn.btn-06:focus,
.btn.btn-09, .btn.btn-09:focus,
.btn.btn-10, .btn.btn-10:focus,
.btn.btn-11, .btn.btn-11:focus,
.btn.btn-13, .btn.btn-13:focus,
.btn.btn-14, .btn.btn-14:focus,
.btn.btn-15, .btn.btn-15:focus,
.btn.btn-16, .btn.btn-16:focus,
.btn.btn-20, .btn.btn-20:focus,
.btn.btn-22, .btn.btn-22:focus,
.btn.btn-24, .btn.btn-24:focus{background:#fecb00; color:#000000;}
.btn.btn-25, .btn.btn-25:focus,
.btn.btn-26, .btn.btn-26:focus{background:#000000; color:#fecb00;}
.btn.btn-08, .btn.btn-08:focus{border-color:#fecb00; color:#fecb00;}
.btn.btn-19, .btn.btn-19:focus{color:#000000; border-color:#000000;}
.btn.btn-19:hover{background:#000000; border-color:#000000; color:#fecb00!important;}


.btn.btn-02:hover{background:#fecb00!important; color:#000000!important;}
.btn.btn-05.btn-white-theme, .btn.btn-05:focus.btn-white-theme,
.btn.btn-13, .btn.btn-13:focus.btn-white-theme{background:#000000!important; color:#fecb00!important;}
.btn.btn-13.btn-black-theme, .btn.btn-13:focus.btn-black-theme{
  background:#fecb00!important; color:#000000!important;
}
.btn.btn-13:focus.bcolor-white-theme{border-color:#fecb00!important;}

.btn.btn-03.btn-black-theme, .btn.btn-03.btn-black-theme:focus{background:#000000; color:#fecb00;}
.btn.btn-04, .btn.btn-04:focus{background:#000000; color:#fecb00;}
.btn.btn-12.btn-black-theme, .btn.btn-12.btn-black-theme:focus{background:#000000; color:#fecb00;}
.btn.btn-21.btn-white-theme, .btn.btn-21.btn-white-theme:focus{background:#000000; color:#fecb00;}
.btn.btn-21.btn-black-theme, .btn.btn-21.btn-black-theme:focus{background:#fecb00; color:#000000;}

.btn-browse-container .btn-browse{background:#000000; border-color:#000000; color:#fecb00;}
.btn-browse-container .form-input{background:#000000; color:#fecb00;}

.btn.btn-action-style-02:hover{border-color:#000000;}
.btn.btn-action-style-04 .wrapper > .icon{background:#000000; color:#fecb00!important;}
.btn.btn-action-style-04.style-02 .wrapper > .icon{background:transparent; color:#fecb00!important;}
.btn.btn-action-style-04.style-02{background:#000000; color:#fecb00;}
.btn.btn-action-style-04.style-02:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.4); color:#000000;}
.btn.btn-action-style-04.style-02:hover .wrapper > .icon{color:#000000!important;}
.btn.btn-action-style-06{background:#fecb00;}
.btn.btn-action-style-06 span{color:#000000;}
.btn.btn-action-style-06 .sep{background:#000000;}
.btn.btn-action-style-06:before, .btn.btn-action-style-06:after{background:#fecb00;}

.btn.btn-fb, .btn.btn-fb:focus, .btn.btn-fb:hover,
.btn.btn-gg, .btn.btn-gg:focus, .btn.btn-gg:hover,
.btn.btn-tw, .btn.btn-tw:focus, .btn.btn-tw:hover,
.btn.btn-line, .btn.btn-line:focus, .btn.btn-line:hover{background:#fecb00; color:#000000; border-color:#fecb00;}

/* Breadcrumb-01 */
.breadcrumb-01 .wrapper a:last-child::before{background:#fecb00;}

/* Breadcrumb-02 */
.breadcrumb-02 .bottom > .container .wrapper{background:#fecb00;}
.breadcrumb-02 .bottom > .container .wrapper:before,
.breadcrumb-02 .bottom > .container .wrapper:after{background:#fecb00;}
.breadcrumb-02 .sub-title{color:#000000!important;}
.breadcrumb-02 .bottom .title-link{color:#000000!important;}
.breadcrumb-02 select{border-color:#000000!important;}
.breadcrumb-02 .dropdown-icon{border-color:#000000!important;}
.breadcrumb-02 .bottom .wrapper .title-link:nth-child(3) > *{border-color:#000000!important;}
.breadcrumb-02 .ui.icon.input > em.icon.style-03{background:#fecb00; color:#000000; border-color:#000000;}
.breadcrumb-02 .ui.icon.input input{border-color:#000000;}
.breadcrumb-02 input[type='search']{background:#000000;}

/* Breadcrumb-03 */
.breadcrumb-03{background:#000000;}
.breadcrumb-03:before{background:#000000;}
.breadcrumb-03 .wrapper a::before{background:#fecb00;}
.breadcrumb-03.style-02 .wrapper a{color:#000000;}
.breadcrumb-03.style-02 .wrapper a::before{background:#000000;}
.breadcrumb-03.style-03 .wrapper a{color:#ffffff;}
.breadcrumb-03.style-03 .wrapper a::before{background:#ffffff;}

/* Box Shadow */
.box-shadow.style-05{box-shadow: rgba(0, 0, 0, 0.9) 4px 4px 18px 6px, rgba(0, 0, 0, 0.8) -6px -2px 16px 0px;}

/* Card Line */
.card-line.style-01{background:#fecb00;}
.card-line.style-01.card-line-black-theme{background:#e4b703;}
.card-line.style-02{background:#fecb00;}
.card-line.style-03{background:#fecb00;}

/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea,
.form-group .upload-wrapper::before{
    color:#fecb00!important; background:#000000!important; border-color:#fecb00!important;
}
input[type="search"]::placeholder{color:#fecb00;}

/* Input Wrapper */
.form-group .prepend .icon, 
.form-group .append .icon{color:#fecb00; border:1px solid #fecb00;}
.form-group .upload-wrapper::after{
    color:#fecb00; background:#000000; border-color:#fecb00;
}
.form-group .upload-wrapper > .text{color:#000000;}

/* Input Dropzone */
.input-dropzone{border:1px solid #fecb00; color:#fecb00;}
input[type="email"][disabled], input[type="text"][disabled]{color:#000000!important}

/* Checkbox Set */
.checkbox-set > label::before{background:#000000; border-color:#fecb00;}
.checkbox-set > label::after{background:#fecb00; border-color:#fecb00;}

/* Main Container */
.main-container .main-content > .wrapper .ss-box.style-02{border-color:#fecb00;}
.main-container .main-content .profile-edit > .photo-upload{background:#fecb00; color:#000000;}


/* Calendar - Week */
.calendar-week .fc-view-container{border-color:#fecb00!important;}
.calendar-week .fc-day-grid .fc-day.fc-widget-content{color:#fecb00;} 
.calendar-week .fc-day-grid .fc-day.fc-widget-content.fc-today{
  background:#fecb00; color:#000000;
} 
.calendar-week .fc-day-grid td.fc-widget-content{border-color:#fecb00!important;}
.calendar-week .fc-row.fc-week.fc-widget-content .fc-axis.fc-widget-content:first-child,
.calendar-week .fc-axis.fc-time.fc-widget-content{background:#fecb00; color:#000000;}
.calendar-week .fc-time-grid .fc-event{
  background:#fecb00; color:#000000; border:2px solid #000000!important;
}
.calendar-week .fc-toolbar.fc-header-toolbar .fc-button{color:#fecb00;}
.calendar-week .fc-day.fc-today{background:#e4b703!important;}
.calendar-week .fc-unthemed td{border-color:#fecb00;}

/* Calendar */
.calendar-style-02 .calendar-header table th.prev, 
.calendar-style-02 .calendar-header table th.next{border-color:#fecb00;}
.calendar-style-02 .months-container .month-container .month-title{background:#fecb00; color:#000000;}
.calendar-style-02 .months-container table.month .day-header{border-color:#fecb00;}
.calendar-style-02 .calendar-footer > .wrapper-container p::after,
.calendar-style-02 .calendar-footer > .wrapper-container p::before{color:#fecb00!important;}

/* Calendar Header */
.calendar-header .wrapper > .text{background:#fecb00; color:#000000;}
.calendar-header .wrapper > .btn-calendar{border-color:#fecb00!important;}

/* Calendar - Day */
.calendar-wrapper .calendar-header-title > .wrapper .time{border-color:#fecb00!important;}
.calendar-day td.fc-axis.fc-widget-content:first-child{background:#fecb00; color:#000000;}
.calendar-day .fc-unthemed td{border-color:#fecb00;}
.calendar-day .fc-time-grid-event{background:#fecb00!important; border-color:#e4b703!important;}
.calendar-day .fc-time-grid .fc-event .fc-title{color:#000000;}

/* Calendar - Month */
.calendar-month .fc-day-header{background:#fecb00; color:#000000;}
.calendar-month .fc-day-number{background:#fecb00; color:#000000;}
.calendar-month .fc-unthemed td.fc-today{background:#fcd847;}
.calendar-month .fc-unthemed td{border-color:#fecb00;}
.calendar-month .fc-day.fc-other-month{background:#f7e7a8!important;}

/* Calendar - Week */
.calendar-week .fc-time-grid td.fc-axis.fc-widget-content:first-child{background:#fecb00; color:#000000;}
.calendar-week .fc-day-grid .fc-bg td:first-child{background:#fecb00; color:#000000;}
.calendar-week .fc-day-grid .fc-day.fc-widget-content{border-color:#fecb00;}

/* Calendar - Year */
.calendar-year .fc-multimonth-month{border:3px solid #fecb00;}
.calendar-year .fc-multimonth-month .fc-multimonth-title{
  background:rgba(0,0,0,.06); color:#000000;
}
.calendar-year .fc-multimonth-month.active .fc-multimonth-title{
  background:rgba(0,0,0,.24); color:#000000;
}
.calendar-year .fc-col-header-cell-cushion{color:#000000;}
.calendar-year .fc-multimonth-month{box-shadow:0px 2px 6px 4px rgba(255,255,255,.04);}
.calendar-year .fc-multiMonthYear-view .fc-daygrid-event.fc-event-end,
.calendar-year .fc-multiMonthYear-view .fc-daygrid-event.fc-event-start,
.calendar-year .fc-multiMonthYear-view .fc-daygrid-more-link{background:#000000;}
.calendar-year .fc-multiMonthYear-view .fc-daygrid-day .fc-daygrid-day-number{color:#000000;}
.calendar-year .fc-multiMonthYear-view .fc-daygrid-day.active .fc-daygrid-day-number{color:#fecb00;}
.calendar-year .fc-popover{border-left-color:#000000;}
.calendar-year .fc-popover .fc-popover-header .fc-popover-title{color:#000000;}
.calendar-year .fc-popover .fc-popover-body .fc-event{background:transparent; color:#000000;}
.calendar-year .fc-popover .fc-popover-body .fc-event *{color:#000000;}
.calendar-year .fc-popover .fc-popover-body .fc-event:hover{background:rgba(0,0,0,.06);}


/* Chat Container */
.chat-container .chat > .profile-container{background:#fecb00;}
.chat-container .chat .text-wrapper{
    background:#000000; color:#fecb00; border-color:#fecb00;
}

/* CK Editor */
.ck.ck-editor__main>.ck-editor__editable{
  border-color:#dddddd!important; transition:border-color .25s;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused{
  border-color:#fe4d01!important;
}
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar{background:#e1e1e1;}
.ck.ck-dropdown .ck-button.ck-dropdown__button,
.ck-rounded-corners .ck.ck-button{border-color:#ffffff;}
.ck.ck-button.ck-on{background:#ffffff!important;}


/* Client 02 */
.client-02 .swiper-pagination-bullet{background:#fecb00;}

/* Election Commission */
.election-commission-container .header{background:#000000; color:#fecb00;}

/* List Footer */
.list-footer.minisite .slot select{background:#fecb00!important; color:#000000!important;}

/* Password Level */
.password-level > .levels > *{border-color:#fecb00;}
.password-level.level-1 > .levels > *:nth-child(1),
.password-level.level-2 > .levels > *:nth-child(1), 
.password-level.level-2 > .levels > *:nth-child(2){background:#fecb00;}

/* Popup */
.popup-container .popup-box > .content-container{background:#000000; border-color:#fecb00;}
.popup-container .popup-box > .btn-close{background:#fecb00; color:#000000;}
.popup-container .popup-box .hamburger > *{background:#000000;}
.popup-container.simple .popup-box > .btn-close{background:#fecb00;}
.popup-container.simple .hamburger > *{background:#000000;}

/* Popup Container */
.popup-container.theme-01 .popup-header{border-color:#fecb00;}
.popup-container.theme-01 .popup-header,
.popup-container.theme-01 .box-body{background:#000000;}
.popup-container.theme-01 .close-icon{color:#000000; background:#fecb00;}
.popup-container.theme-01 .close-icon:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

/* Post Stat */
.post-stats, .post-stats .post-stat{border-color:#fecb00;}

/* Special Box */
.ss-box.style-05{border-color:#fecb00;}

/* Special Box Header */
.ss-box-header{border-color:#fecb00;}
.ss-box-header .ellipsis{background:#fecb00; color:#000000;}
.ss-box-header.style-03 .ellipsis-container{background:#fecb00;}
.ss-box-header.style-03 .ellipsis-container:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}
.ss-box-header.style-03 .ellipsis-container > em{color:#fecb00; background:#000000;}

/* Special List */
.list-style-01 li:before{background:#000000;}
.list-style-02 li:before{background:#000000;}
.list-style-02.white-theme li:before{background:#fecb00;}
.list-style-03 li::before{background:#000000;}
.ss-list.style-04.level-3 > li::before{background:#000000;}
.ss-list.style-04 > li::before{background:#000000;}
.ss-list.style-04 .line{background:#000000;}
.ss-list.style-08 > li::before{background:#000000;}
.ss-list.style-13 > li::before{background:#000000;}
.ss-list.style-13.theme-02 > li::before{background:#fecb00;}
.ss-list.style-14 > li::before{background:#fecb00;}

/* Section Options */
.section-options .option{background:#000000; color:#fecb00; border-color:#fecb00;}
.section-options .option:first-child{background:#fecb00!important; color:#000000!important;}
.section-options .socials > .social{background:#fecb00; color:#000000;}
.section-options .option > .icon.active, 
.section-options .option > .icon:hover{background:#fecb00; color:#000000;}

/* Shortcode */
.shortcode-container .shortcode-content,
.shortcode-container .shortcode-content::after{background:#000000; border-color:#fecb00;}
.shortcode-container .shortcode-content{box-shadow:0 0 10px 2px rgb(0 0 0 / 15%);}
.shortcode-container textarea{
    border-color:transparent!important; background:transparent!important;
    color:#fecb00!important;
}

/* Special Box */
.ss-box.style-02{border-color:#000000;}

/* Buttons Group */
.buttons-group{border-color:#fecb00;}

/* Checkbox Set */
.checkbox-set > .checkmark::before,
.checkbox-set > .checkmark::after{border-color:#fecb00;}
.checkbox-set > .checkmark{border-color:#fecb00;}
.checkbox-set input:checked ~ .checkmark{background:#000000;}
.checkbox-set .bg-color.white-theme{background:#fecb00!important;}

/* Category Container */
.category-container .cate-list{border-color:#fecb00;}
.category-container .cate-list.bcolor-white-theme{border-color:#000000;}

/* Content Found - Search Pages */
.content-found .icon{color:#fecb00;}

/* Custom Select */
.custom-select .select-selected{background:#fecb00; color:#000000;}
.custom-select .chev{color:#000000;}
.custom-select .select-items{background:#fecb00;}
.custom-select .select-items div, .custom-select .select-selected{color:#000000;}
.custom-select .select-items div:hover{background:#000000!important; color:#fecb00;}

/* Ui */

/* Dropdown */
.dropdown-icon{background:#fecb00; color:#000000;}
.dropdown-icon.style-02{background:#d3a901; color:#ffffff;}

/* List Header Calendar */
.list-header-calendar .options .option.search em.icon{background:#fecb00; color:#000000;}
.list-header-calendar .dropdown-icon{background:#fecb00; color:#000000;}
.list-header-calendar .options #search{background:transparent; border-color:#fecb00;}

/* List Header 02 */
.list-header.style-02 .option > select{background:#000000!important; border-color:#fecb00;}
.list-header.style-02 .option > .dropdown-icon{background:#fecb00; color:#000000; border-color:#fecb00;}
.list-header.style-02 .option > .ui.icon.input input{background:#000000!important; border-color:#fecb00;}
.list-header.style-02 .option > .ui.icon.input > em.icon{background:#fecb00; color:#000000; border-color:#000000;}
.list-header.style-02 .option .icon-view{border-color:#fecb00;}
.list-header.style-02 .option .icon-view:hover, 
.list-header.style-02 .option .icon-view.active{background:#fecb00;}

/* Form check container */
.form-check-container{border-color:#fecb00;}
.form-check-container.active{background:#000000;}
.form-check-container .checkmark,
.form-check-container-02 .checkmark{background:#000000; border-color:#fecb00;}
.form-check-container  input:checked ~ .checkmark,
.form-check-container-02  input:checked ~ .checkmark{background:#000000!important;}
.form-check-container .checkmark:after,
.form-check-container-02 .checkmark:after{border-color:#fecb00;}


.form-check-container-03 .checkmark{background:#fecb00;}
.form-check-container-03  input:checked ~ .checkmark{background:#fecb00!important;}
.form-check-container-03 .checkmark:after{border-color:#000000;}

/* Faq 01 */
.faq-01 .faq > .question{border-color:#fecb00;}
.faq-01 .faq .arrow{border-color:#fecb00!important;}
.faq-01 .faq .answer-wrapper{border-color:#fecb00;}
@media screen and (max-width:991.98px){
  .faq-01 .faq > .question.style-02 .arrow > .wrapper,
  .faq-01 .faq > .question.style-02 .answer-wrapper{border-top:1px solid;}
}

/* Faq 02 */
.faq-02 .faq > .question{border-color:#fecb00;}
.faq-02 .faq > .question .ftag{border-color:#fecb00;}
.faq-02 .faq > .answer{border-color:#fecb00;}
.faq-02 .faq > .answer .content{border-color:#fecb00;}

.faq-02.theme-02 .faq > .question .ftag{background:#000000;}
.faq-02.theme-02 table.table{background:#000000;}
/* Faq 03 */
.faq-03 .faq > .question{border-color:#fecb00;}
.faq-03 .faq > .question .ftag{border-color:#fecb00;}

/* Faq 04 */
.faq-04 .faq > .question{border-color:#fecb00;}
.faq-04 .faq > .question .ftag{border-color:#fecb00;}

/* Faq 05 */
.faq-05 .faq > .question{border-color:#fecb00;}
.faq-05 .faq > .question .ftag{border-color:#fecb00;}
.faq-05 .faq > .question .button-download > .btn{background:#fecb00; color:#000000;}
.faq-05 .faq:hover > .question .button-download > .btn{background:#000000; color:#fecb00; border-color:#fecb00;}

/* Faq 06 */
.faq-06 .faq > .question{border-color:#fecb00;}
.faq-06 .faq .answer-wrapper{background:#fecb00; color:#000000;}
.faq-06 .faq > .answer .content{border-color:#fecb00;}
.faq-06 .faq .checkbox-set input:checked ~ .checkmark{background:#fecb00;}
.faq-06 .faq  .checkbox-set > .checkmark{border-color:#fecb00; background:#000000;}
.faq-06 .faq .checkbox-set > .checkmark::before, .faq-06 .faq .checkbox-set > .checkmark::after{border-color:#000000;}

/* Faq 07 */
.faq-07 .faq .arrows-container{background:#000000;}
.faq-07 .faq > .question{border-color:#000000;}
.faq-07 .faq .arrow::before, .faq-07 .faq .arrow::after{background:#fecb00;}
.faq-07 .faq tbody{background:#fecb00;}
.faq-07 .faq > .answer .content > .wrapper .text-container a{color:#000000!important;}
.faq-07 .faq .text-container > .analysis-results .wrapper{color:#000000!important;}
.faq-07 .faq > .answer .content > .wrapper .content-left{background:#000000; color:#fecb00;}
.faq-07 .faq > .answer .content{border-color:#000000;}

/* Faq 08 */
.faq-08 .faq > .question{background:#000000; color:#fecb00;}
.faq-08 .faq > .answer .content{border-color:#000000;}
.faq-08 .faq.active .options .btn{border-color:#fecb00!important;}

/* Faq 09 */
.faq-09 .faq > .question{border-color:#000000;}
.faq-09 .faq > .question .ftag{border-color:#000000; background:#000000;}
.faq-09 .faq > .answer .content{border-color:#000000;}

/* Faq 10 */
.faq-10 .faq > .question .ftag{background:#000000;}
.faq-10 .faq > .question{border-color:#000000;}

/* Faq 11 */
.faq-11.theme-02 .faq > .question{color:#000000;}
.faq-11.theme-02 .faq > .question .ftag{background:#000000;}

/* Faq 12 */
.faq-12 .faq-link > .question{border-color:#fecb00;}
.faq-12 .faq-link > .question .ftag{border-color:#fecb00;}
.faq-12 .faq-link > .answer{border-color:#fecb00;}
.faq-12 .faq-link > .answer .content{border-color:#fecb00;}

/* Form */
.form.style-01 .form-footer{border-color:#000000;}
.form.style-01 input[type='email']{border-color:#000000!important;}
.form.style-02 select{background:#000000!important; color:#fecb00!important;}
.form.style-02 input[type=text], .form.style-02 textarea, .form.style-02 input[type=password],
.form.style-02 input[type=email]{
  background:#000000!important; border-color:#d3a901!important;
}
.form.style-02 ::placeholder{color:#fecb00!important;}
.form.style-02 .ss-sep-01.style-02 > *::before, .ss-sep-01.style-02 > *::after{background:#000000;}
.form.style-02.style-02 .password-level > .levels > *{border-color:#000000;}
.form.style-02 .password-level.level-1 > .levels > *:nth-child(1){
  background:#000000; border-color:#000000;
}

.form.style-02.white-theme input[type=text], .form.style-02.white-theme textarea, 
.form.style-02.white-theme input[type=password], .form.style-02.white-theme input[type=email]{
  background:#fecb00!important; border-color:#d3a901!important;
}

.form.style-02.black-theme input[type=text], .form.style-02.black-theme textarea, 
.form.style-02.black-theme input[type=password], .form.style-02.black-theme input[type=email]{
  background:#fecb00!important; border-color:#e4b703!important;
}
.form.style-02.black-theme ::placeholder{color:#000000!important;}

.form.style-02.black-theme select{background:#fecb00!important; color:#000000!important;}
.form.style-02.black-theme textarea{background:#fecb00!important; border-color:#000000!important;}
.form.style-02.black-theme  .ss-sep-01.style-02 > *::before, 
.form.style-02.black-theme .ss-sep-01.style-02 > *::after{background:#fecb00!important;}
.form.style-02.black-theme .dropdown-icon{background:#e4b703;}

.form.style-05 .ui.icon.input > input{background:#fecb00!important;}
.form.style-05 .ui.icon.input > input::placeholder{color:#000000!important;}
.form.style-05 .ui.icon.input > em.icon{background:#e4b703; color:#000000;}

.form.style-06 input[type=text], .form.style-06 textarea, 
.form.style-06 input[type=password], .form.style-06 input[type=email]{
  background:#fecb00!important; border-color:#e4b703!important; color:#000000!important;
}
.form.style-06 ::placeholder{color:#000000!important;}
.form.style-06 .dropdown-icon{background:#e4b703!important; color:#000000;}
.form.style-06 .btn-upload{background:#000000!important; color:#fecb00;}
.form.style-06 select{background:#fecb00!important; color:#000000!important;}
.form.style-06 .ss-sep-01 > *::before, .form.style-06 .ss-sep-01 > *::after{background:#000000;}

/* Form Container 03 */
.form-container-03 .option .icon-view{border-color:#000000;}
.form-container-03 .option .icon-view:hover, 
.form-container-03 .option .icon-view.active{background:#000000;}

/* rc-container */
.rc-container.style-02 > label::before{border-color:#fecb00;}
.rc-container.style-02 > label::after{background:#000000;}

.rc-container.style-03 > label::after{background:#000000!important;}
.rc-container.style-03 > label::before{border-color:#000000;}

.rc-container.style-04 > label::before{border-color:#fecb00;}
.rc-container.style-04 > label::after{background:#fecb00;}
.rc-container.style-04 > input:checked + label::after{background:#000000;}

/* Mobile Device Container */
.mobile-device-container .wrapper > .text-container{background:#000000;}

/* Pagination */
.paginate.style-02 .arrow{border-color:#fecb00; color:#000000; background:#fecb00;}
.paginate.style-02 .arrow:hover{background:#000000; color:#fecb00;}
.paginate.style-02 .page{border-color:#fecb00; color:#fecb00;}
.paginate.style-02 .page:hover, .paginate.style-02 .page.active{background:#fecb00; color:#000000; border-color:#fecb00;}

.paginate.style-03 .page:hover, .paginate.style-03 .page{color:#000000;}
.paginate.style-03 .page:hover, .paginate.style-03 .page.active{background:#000000; color:#fecb00;}

/* Popular Search Container  */
.popular-search-container{background:#fecb00;} 
.popular-search-container .ss-tags > .tag{background:#000000; color:#fecb00;}

/* Table */
table.table.table-download .download-card{background:#fecb00; border-color:#000000;}
table.table.table-download.style-03 td:nth-child(1){background:#000000;}
table.table.table-download.style-03 .download-card{background:#000000;}
table.table.table-download .text-footer > .wrapper .icon{color:#000000;}
table.table.table-download .title-container{background:#fecb00; color:#000000;}
table.table.table-download .title-container a{color:#000000;}
table.table.table-download .arrow-container{background:#fecb00; color:#000000;}
table.table.table-download .btn.btn-02, .btn.btn-02:focus{background:#000000; color:#fecb00;}

table.table.table-download.style-03 tr{border-color:#000000;}
table.table.table-download.style-03 .download-card{background:#000000; border-color:#000000;}
table.table.table-download.style-03 .data-analysis > .wrapper .icon{color:#000000;}
table.table.table-download.style-03 .data-analysis > .wrapper .icon > em{color:#000000!important;}
table.table.table-download.style-03 .data-analysis > .wrapper{border-color:#000000!important;}

table.table.table-download.style-04 tr{border-color:#000000;}
table.table.table-download.style-04 .download-card{background:#fecb00; border-color:#000000;}
table.table.table-download.style-04 .button-container{background:#fecb00;}
table.table.table-download.style-04 .button-container .btn{background:#000000; color:#fecb00;}
table.table.table-download.style-04 .data-analysis > .wrapper .icon{color:#000000;}
table.table.table-download.style-04 .data-analysis > .wrapper .icon > em{color:#000000!important;}
table.table.table-download.style-04 .data-analysis > .wrapper{border-color:#000000!important;}

table.table.table-download.style-05{background:#fecb00;}
table.table.table-download.style-05 .table-card{border-color:#000000!important;}
table.table.table-download.style-05 .button-container{background:#fecb00;}

table.table.style-05.table-download.theme-03{background:#000000!important;}
table.table.style-05.table-download.theme-03 .download-card{background:transparent!important;}
table.table.style-05.table-download.theme-03 tr{border-color:#fecb00;}

table.table.table-download.style-06{color:#000000;}
table.table.table-download.style-06 tr{border-color:#000000!important;}
table.table.table-download.style-06{background:#fecb00!important;}
table.table.table-download.style-06 tr > td.download-card{background:#000000;}
table.table.table-download.style-06 .color-04{color:#000000!important;}
table.table.table-download.style-06 tr:hover > td.warning-container em,
table.table.table-download.style-06 tr:hover > td.warning-container a{color:#000000!important;}

/* Tab Container 01 */
.tab-container.theme-02 .tab-contents.style-02 > .tab-content{background:#fecb00;}

.tab-container .tabs.tabs-01 .tab::after{background:#fecb00;}
.tab-container .tabs.tabs-01.style-02 .tab{color:#000000;}
.tab-container .tabs.tabs-01.style-02 .tab.active{background:#000000; color:#fecb00;}

.tab-container .tabs.tabs-02 .tab.active{background:#000000; color:#fecb00;}
.tab-container .tabs.tabs-02.white-theme .tab.active{background:#fecb00!important; color:#000000!important;}

.tab-container .tabs.tabs-03 .tab.active > .wrapper{border-color:#fecb00;}

/* Tab 04 */
.tab-container .tabs.tabs-04 .tab.active > .title{color:#fecb00;}
.tab-container .tabs.tabs-04 .tab::before{background:#000000!important;}

/* Tags Container */
.tags-container{border-color:#fecb00;}
.tags-container .social-list .icon.active{background:#fecb00!important; color:#000000;}
.tags-container .social-list .icon:hover{background:#fecb00; color:#000000;}

.tags-container.style-02{border-color:#000000;}
.tags-container.style-02 .ss-tags.style-02{border-color:#000000;}
.tags-container.style-02 .tag{color:#000000;}
.tags-container.style-02 .tag:hover{color:#fecb00;}
.tags-container.style-02 .tag::before{background:#000000;}
.tags-container.style-02 .tag::after{background:#282828;}
.tags-container.style-02 .social-list .icon{color:#000000;}
.tags-container.style-02 .social-list .icon:hover,
.tags-container.style-02 .social-list .icon.active{background:#000000!important; color:#fecb00;}
.tags-container .social-list .tooltip{background:#000000; color:#fecb00;}

/* Select */
select.bg-style-02{background:#000000!important; border-color:#000000!important; color:#696969!important;}
.option.cate.style-02 .dropdown-icon{color:#fecb00!important; border-color:#fecb00!important;}

/* Search Container */
.search-container{border-color:#fecb00;}
.search-container .ui.icon.input input{background:#000000!important; border-color:#fecb00;}
.search-container .ui.icon.input > em.icon{background:#fecb00; color:#000000; border-color:#000000;}

.search-container .form > .search-wrapper:after,
.search-container .form > .form-group .date-wrapper:after{background:#fecb00; color:#000000;}

/* Banner 02 */
.banner-02 .arrow{border-color:#fecb00; color:#fecb00;}

/* Banner 03 */
.banner-03 span.swiper-pagination-bullet:hover,
.banner-03 span.swiper-pagination-bullet-active{background:#fecb00!important; color:#000000!important;}
.banner-03 .text-slide-container{background:#fecb00; color:#000000;}

/* Ribbob */
.ribbon-wrapper{
    border-color:#000000;
    box-shadow: rgba(0, 0, 0) 0px 13px 27px -8px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.ribbon-wrapper:before{border-color:transparent #000000 transparent transparent}
.ribbon-wrapper:after{border-color:#000000 transparent transparent transparent}

/* Shortcode */
.shortcode-container .shortcode-content > .arrow{border-color:#fecb00; background:#000000;}

/* Section 05 */
.section-05 .swiper-pagination-bullets{background:#fecb00;}
.section-05 .swiper-pagination-bullet-active{background:#000000;}
.section-05 .arrow-container > .arrow{background:#fecb00; color:#000000;}
.section-05 .arrow-container > .arrow.active,
.section-05 .arrow-container > .arrow:hover{background:transparent; border-color:#fecb00; color:#fecb00;}

/* Section 06 */
.section-06 .swiper-pagination-bullets{background:#fecb00;}
.section-06 .swiper-pagination-bullet-active{background:#000000;}
.section-06 .arrow-container > .arrow{background:#fecb00; color:#000000;}

/* Section 07 */
.section-07 .swiper-container > .btns-swiper .wrapper > .btn .arrow{background:#fecb00; color:#000000; border-color:#000000;}
.section-07 .swiper-container > .btns-swiper .wrapper > .dots{background:#fecb00; color:#000000;}

/* Section 09 */
.section-09 .swiper-background > .text-wrapper{background:#fecb00;}
.section-09 .swiper-arrows-container > .arrows-container .arrow{
  background:#000000; border-color:#000000; color:#ffffff;
}

.section-12 .content-box > .line{border-color:#fecb00;}
  
/* Section 14 */
.section-14 .ss-title{color:#000000; border-color:#000000;}
.section-14 .ss-box > .body{background:#fecb00;}
.section-14 .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#000000!important;}
.section-14 .arrow-container > .arrow{background:#fecb00; color:#000000;}
.section-14 .arrow-container > .arrow.active,
.section-14 .arrow-container > .arrow:hover{background:transparent; border-color:#fecb00; color:#fecb00;}

/* Section 15 */
.section-15 .arrow-container > .arrow{background:#fecb00; color:#000000;}
.section-15 .swiper-pagination-bullet-active{background:#000000;}

/* Section 18 */ 
.section-18 .arrow-container > .arrow{background:#fecb00; color:#000000;}

/* Section 21 */
.section-21 .arrow-container > .arrow{background:#fecb00; color:#000000;}

/* Section 23 */ 
.section-23 .swiper-pagination-bullets{background:#fecb00;}
.section-23 .swiper-pagination-bullet-active{background:#000000;}
.section-23 .arrow-container > .arrow{background:#fecb00; color:#000000;}
.section-23 .arrow-container > .arrow.active,
.section-23 .arrow-container > .arrow:hover{background:transparent; border-color:#fecb00; color:#fecb00;}

/* Section 24 */
.section-24 .swiper-container > .fraction-container .wrapper > .dots{background:#fecb00;}
.section-24 .swiper-container .dots > span:first-child{color:#000000;}
.section-24 .arrow-container > .btn .arrow{background:#fecb00; color:#000000;}
.section-24 .arrow-container > .btn .arrow:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}


/* Section 25 */
.section-25 .swiper-pagination-bullets{background:#fecb00;}
.section-25 .swiper-pagination-bullet-active{background:#000000;}
.section-25 .arrow-container > .arrow{background:#fecb00; color:#000000;}

/* Section 29 */
.section-29 .steps{background:#fecb00; color:#000000;}
.section-29 .swiper-pagination-bullet{background:#fecb00;}
.section-29 .swiper-pagination-bullet-active{background:#e4b703;}

/* Section 31 */
.section-31 .swiper-pagination-bullet{background:#fecb00;}
.section-31 .swiper-pagination-bullet-active{background:#e4b703;}

/* Section 32 */
.section-32 .swiper-pagination-bullet{background:#fecb00;}
.section-32 .swiper-pagination-bullet-active{background:#e4b703;}

/* Section 33 */ 
.section-33 .swiper-pagination-bullets{background:#fecb00;}
.section-33 .swiper-pagination-bullet-active{background:#000000;}
.section-33 .arrow-container > .arrow{background:#fecb00; color:#000000;}
.section-33 .arrow-container > .arrow.active,
.section-33 .arrow-container > .arrow:hover{background:transparent; border-color:#fecb00; color:#fecb00;}

/* Special Tag */
.ss-tags.style-02{border-color:#fecb00;}
.ss-tags > .tag.style-02{background:#fecb00; color:#000000;}
.ss-tags > .tag.style-03{background:#fecb00; color:#000000;}
.ss-tags > .tag.style-04{background:#fecb00; color:#000000;}

/* Special Title */
.ss-title-style-02.style-02{background:#fecb00; color:#000000; border-color:#000000;}
.ss-title-style-02.style-02:after{background:#fecb00;}
.ss-title-style-02.style-02 .link-more > .text, .ss-title-style-02 .link-more > .arrow{color:#000000;}
.ss-title.style-03{border-color:#fecb00;}

/* sep 01 */
.ss-sep-01.white-theme > *::before, .ss-sep-01.white-theme > *::after{background:#fecb00!important;}
.ss-sep-01 > *::before, .ss-sep-01 > *::after{background:#fecb00;}

/* Special Card  */
.ss-card .number-of-picture{background:rgba(0,0,0,.4); color:#fecb00;}

/* Special Card 01 */
.ss-card-01 .ss-img::after{
  background-image:linear-gradient(to top,rgba(0,0,0,.8),rgba(0,0,0,.7),
  rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),
  rgba(0,0,0,0),rgba(0,0,0,0));
}
.ss-card-01 .text-container > .ss-tags .tag{background:#000000; color:#fecb00;}

/* Special Card 03 */
.ss-card-03{background:#fecb00;}

/* Special Card 05 */
.ss-card-05.filter-02 .ss-img::after{
    background-image:linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,.9),
    rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),
    rgba(0,0,0,0));
  }

/* Special Card 12 */
.ss-card-12 .text-container{border-color:#fecb00;}

/* Special Card 11 */
.ss-card-11 .filter-01{background:rgb(0,0,0,.4)}

/* Special Card 17 */
.ss-card-17 .wrapper .img-container .ebook-container::before{background:#e4b703;}
.ss-card-17 .wrapper .img-container .ebook-container::after{background:#fecb00;}
.ss-card-17 .wrapper .img-container .ebook-container > .wrapper > img{border-color:#fecb00;}

/* Special Card 18 */
.ss-card-18 .wrapper .img-container .ebook-container:before{background:#e4b703;}
.ss-card-18 .wrapper .img-container .ebook-container::after{background:#fecb00;}
.ss-card-18 .wrapper .img-container .ebook-container > .wrapper > img{border-color:#fecb00;}

/* Special Card 20 */
.ss-card-20 .wrapper > .date .wrapper{border-color:#fecb00;}
.ss-card-20 .wrapper > .date .wrapper > .day{background:#fecb00; color:#000000;}
.ss-card-20 .wrapper > .date .wrapper.style-02::after{background:#dddddd;}

/* Special Card 21 */
.ss-card-21 .wrapper > .date .wrapper{border-color:#fecb00;}
.ss-card-21 .wrapper > .date .wrapper > .day{background:#fecb00; color:#000000;}
.ss-card-21 .wrapper > .date .wrapper > .month{color:#fecb00;}
.ss-card-21 .wrapper > .date .wrapper::after{background:#dddddd;}

/* Special Card 23 */
.ss-card-23 .text-container{background:#000000;}
.ss-card-23 .text-container .title{color:#fecb00;}
.ss-card-23 .text-container > .ss-tags .tag{background:#fecb00; color:#000000;}

/* Special Card 24 */
.ss-card-24{background:#fecb00;}
.ss-card-24 .wrapper > .icon{background:#000000;}
.ss-card-24 .wrapper > .text-container .title,
.ss-card-24 .wrapper > .text-container .desc{color:#000000;}
.ss-card-24 .wrapper > .text-container .arrow{color:#000000;}

/* Special Card 25 */
.ss-card-25{border-color:#fecb00;}
.ss-card-25 .text-container > .arrow{color:#fecb00;}

/* Special Card 26 */
.ss-card-26{border-color:#fecb00;}
.ss-card-26 .wrapper > .icon{color:#000000; background:#fecb00;}
.ss-card-26:hover .wrapper > .text-container .title{color:#fecb00;}
.ss-card-26:hover .wrapper > .text-container{background:#fecb00;}
.ss-card-26:hover .wrapper > .text-container .title{color:#000000;}

/* Special Card 28 */
.ss-card-28 .text-container{background:#fecb00; color:#000000;}

/* Special Card 29 */
.ss-card-29{background:#fecb00; color:#000000;}

/* Special Card 30 */
.ss-card-30 .wrapper > .text-container a{color:#000000!important; border-color:#000000!important;}

/* Special Card 39 */
.ss-card-39{border-color:#fecb00;}
.ss-card-39 .date-container{background:#fecb00; color:#000000;}

/* Special Card 31 */
.ss-card-31{border-color:#000000;}
.ss-card-31 .top > .wrapper .item:nth-child(1) > .icon{background:#000000; color:#fecb00;}
.ss-card-31.style-02{border-color:#fecb00;}
.ss-card-31.style-02 .top > .wrapper .item:nth-child(1) > .icon{background:#fecb00; color:#000000;}

/* Special Card 32 */
.ss-card-32{border-color:#fecb00;}
.ss-card-32 .wrapper > .text-container .title{color:#000000;}
.ss-card-32 .wrapper > .text-container .x-mark{background:#000000; color:#fecb00;}

.ss-card-32.style-02 .wrapper > .text-container .title{color:#fecb00;}
.ss-card-32.style-02 .wrapper{border-color:#fecb00!important;}
.ss-card-32.style-02 .wrapper > .text-container .x-mark{background:#fecb00; color:#000000;}

.ss-card-32.mini-site .wrapper > .icon{background:#000000;}
.ss-card-32.mini-site .wrapper > .text-container .title{color:#000000!important;}
.ss-card-32.mini-site{border-color:#000000!important;}
.ss-card-32.mini-site .wrapper > .text-container .x-mark{background:#000000; color:#fecb00;}

/* Special Card 33 */
.ss-card-33{border-color:#000000; color:#000000;}

/* Special Card 34 */
.ss-card-34{border-color:#fecb00;}
.ss-card-34 .wrapper > .icon{border-color:#fecb00;}
.ss-card-34 .text-container > .social-list .icon:hover{background:#fecb00; color:#000000;}

/* Special Card 35 */
.ss-card-35 .wrapper > .date .wrapper > .day{background:#fecb00; color:#000000;}
.ss-card-35 .wrapper > .date{border-color:#fecb00;}

/* Special Card 36 */
.ss-card-36 .filter-01{background:rgba(0,0,0,.4);}

/* Special Card 37 */
.ss-card-37 .text-container{border-color:#fecb00;}
.ss-card-37 .card-footer .link-footer > .arrow{color:#fecb00;}

/* Special Card 38 */
.ss-card-38 .wrapper > .text-container{border-color:#fecb00;}
.ss-card-38 .wrapper > .text-container .title, .ss-card-38 .card-footer .wrapper,
.ss-card-38 .link-footer > .arrow, .ss-card-38 .link-footer > .text{color:#fecb00!important;}

/* Special Card 40 */
.ss-card-40 .text-container{background:#fecb00;}
.ss-card-40 .text-container .text{color:#000000!important;}
.ss-card-40 .text-container > .date-container .date-wrapper{background:#000000;}

/* Special Card 41 */
.ss-card-41 .image-container > .date-container .date-wrapper{background:#000000;}

/* Special Card 44 */
.ss-card-44 .text-container{background:#fecb00; color:#000000;}

/* Special Card 45 */
.ss-card-45{border-color:#fecb00;}
.ss-card-45 .ss-tags > .tag{background:#fecb00; color:#000000;}

/* Special Card 46 */
.ss-card-46 .topic > .title::before, .ss-card-46 .topic > .title::after{background:#fecb00;}

/* Special Card 49 */
.ss-card-49 .header{background:#000000; color:#fecb00;}

/* Special Card 51 */
.ss-card-51{border-color:#fecb00;}
.ss-card-51 .card-line{background:#fecb00;}

/* Special Card 52 */
.ss-card-52{background:#000000; color:#fecb00;}

/* Special Card 60  */
.ss-card-60 .card-footer > .wrapper .icon{color:#000000;}
.ss-card-60 .text-container{border-color:#000000;}

/* Special Card 61 */
.ss-card-61 .text-container{border-color:#fecb00;}
.ss-card-61 .card-footer .link-footer > .arrow{color:#fecb00;}

/* Special Card 62 */
.ss-card-62 .wrapper > .img-container .ebook-container::before{background:#e4b703;}
.ss-card-62 .wrapper > .img-container .ebook-container::after{background:#fecb00;}
.ss-card-62 .wrapper > .img-container .ebook-container > .wrapper > img{border-color:#fecb00;}
.ss-card-62 .text-container{border-color:#fecb00;}
.ss-card-62 .card-footer .link-footer > .arrow{color:#fecb00;}

/* Special Card 63 */
.ss-card-63 .title{color:#000000!important;}
.ss-card-63 .card-footer{color:#000000!important;}
.ss-card-63 .card-footer .color-05{color:#000000!important;}
.ss-card-63 .card-footer .bcolor-05{border-color:#000000!important;}

/* Special Card 64 */
.ss-card-64 .wrapper > .img-container .ebook-container::before{background:#e4b703;}
.ss-card-64 .wrapper > .img-container .ebook-container::after{background:#fecb00;}
.ss-card-64 .wrapper > .img-container .ebook-container > .wrapper > img{border-color:#fecb00;}
.ss-card-64 .wrapper > .text-container{border-color:#fecb00;}

/* Special Card 65 */
.ss-card-65 .text-container{border-color:#000000; color:#000000;}

/* Special Card 67 */
.ss-card-67{border-color:#000000;}
.ss-card-67 .wrapper > .icon{background:#000000;}
.ss-card-67 .wrapper > .icon em{background:#fecb00;}
.ss-card-67 .text-container > .social-list .icon:hover{background:#000000;}

/* Special Card 68 */
.ss-card-68{border-color:#000000;}
.ss-card-68 .top > .wrapper .item:nth-child(1) > .icon{background:#000000; color:#fecb00;}

/* Special Card 69 */
.ss-card-69{background:#000000; color:#fecb00;}

/* Special Card 70 */
.ss-card-70, .ss-card-70 h6{color:#000000!important;}
.ss-card-70 .option > .icon{color:#000000;}

/* Special Card 73 */
.ss-card-73 .number{background:#000000;}
.ss-card-73.theme-02 .number{background:#fecb00; color:#000000;}

/* Special Card 75 */
.ss-card-75 .number{background:#fecb00; color:#000000;}

/* Special Card 79 */
.ss-card-79 .wrapper > .icon{border-color:#fecb00; background:transparent;}

