
/* Reset */
html, body, table.table{color:#000000;}


/* Colors */
.color-p, .h-color-p:hover{color:#0ab3de!important;}
.color-s, .h-color-s:hover{color:#194e84!important;}
.color-t, .h-color-t:hover{color:#f4b510!important;}
.color-white, .h-color-white:hover{color:#ffffff!important;}
.color-black, .h-color-black:hover{color:#000000!important;}
.color-dark, .h-color-dark:hover{color:#222325!important;}
.color-gray, .h-color-gray:hover{color:#696969!important;}
.color-sgray, .h-color-sgray:hover{color:#e1e1e1!important;}
.color-01, .h-color-01:hover{color:#ff9933!important;}
.color-02, .h-color-02:hover{color:#2e603b!important;}

.bg-p{background:#0ab3de!important;}
.bg-s{background:#194e84!important;}
.bg-t{background:#f4b510!important;}
.bg-white{background:#ffffff!important;}
.bg-black{background:#000000!important;}
.bg-dark{background:#222325!important;}
.bg-gray{background:#696969!important;}
.bg-sgray{background:#e1e1e1!important;}
.bg-01{background:#ff9933!important;}
.bg-02{background:#2e603b!important;}

.bcolor-p{border-color:#0ab3de!important;}
.bcolor-s{border-color:#194e84!important;}
.bcolor-t{border-color:#f4b510!important;}
.bcolor-white{border-color:#ffffff!important;}
.bcolor-black{border-color:#000000!important;}
.bcolor-dark{border-color:#222325!important;}
.bcolor-gray{border-color:#696969!important;}
.bcolor-sgray{border-color:#e1e1e1!important;}
.bcolor-01{border-color:#ff9933!important;}
.bcolor-02{border-color:#2e603b!important;}


/* Buttons */
.btn.btn-p, .btn.btn-p:focus{color:#ffffff; background:#194e84; border-color:#194e84;}
.btn.btn-p:hover{background:#696969; border-color:#696969;}
.btn.btn-p:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-s, .btn.btn-s:focus{color:#ffffff; background:#04adf0; border-color:#04adf0;}
.btn.btn-s:hover{background:#696969; border-color:#696969;}
.btn.btn-s:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-inactive, .btn.btn-inactive:focus, .btn.btn-inactive:hover,
.btn.btn-inactive:active{color:#ffffff; background:#e1e1e1; border-color:#e1e1e1;}

.btn.btn-01, .btn.btn-01:focus{color:#ffffff; background:#000033; border-color:#000033;}
.btn.btn-01:hover{background:#696969; border-color:#696969;}
.btn.btn-01:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-02, .btn.btn-02:focus{color:#ffffff; background:#2e603b; border-color:#2e603b;}
.btn.btn-02:hover{background:#fef200; border-color:#ffffff; color:#2e603b;}
.btn.btn-02:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}





/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea,
.form-group .upload-wrapper::before{
    color:#000000!important; background:#ffffff!important; border-color:#dddddd!important;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
input[type=file]:focus, select:focus, textarea:focus,
.form-group .upload-wrapper:hover::before{border-color:#311916!important;}

input[type=text].fgray, input[type=email].fgray, input[type=password].fgray, input[type=date].fgray, 
input[type=tel].fgray, input[type=number].fgray, input[type=phone].fgray, input[type=submit].fgray, 
input[type=file].fgray, select.fgray, textarea.fgray,
.form-group .upload-wrapper.fgray::before{background:#f8f9fa!important;}
input[type=text].sgray, input[type=email].sgray, input[type=password].sgray, input[type=date].sgray, 
input[type=tel].sgray, input[type=number].sgray, input[type=phone].sgray, input[type=submit].sgray, 
input[type=file].sgray, select.sgray, textarea.sgray,
.form-group .upload-wrapper.sgray::before{background:#e1e1e1!important;}

/* Radio & Checkbox Container */
.rc-container > label::before{border-color:#0ab3de;}
.rc-container > label::after{background:#0ab3de;}

/* Select */
select.style-02{background:#2e603b!important; color:#ffffff!important; border-color:#2e603b!important;}

/* Category Container */
.category-container .cate-list{border-color:#eeeeee;}

/* Super Topnav */
nav.stopnav .option{border-color:rgba(255,255,255,.3);}
nav.stopnav .option-select > .dropdown{background:#0ab3de; border-color:rgba(255,255,255,.3);}
nav.stopnav .option-select > .dropdown .item{border-color:rgba(255,255,255,.3);}
nav.stopnav .option-select > .dropdown .item:hover{background:#194e84; color:#f4b510;}
nav.stopnav .btn-social:hover{background:#194e84; color:#f4b510;}

/* Topnav */
nav.topnav{background:#ffffff;}
nav.topnav .logo{color:#194e84;}
nav.topnav .logo:hover{color:#0ab3de;}
nav.topnav .menu:hover > *:first-child{color:#0ab3de;}
nav.topnav .menu > *:first-child::after{background:#039cd6;}
nav.topnav .submenu-dropdown{background:rgba(10,179,222,.92); color:#ffffff;}
nav.topnav .submenu{border-color:rgba(255,255,255,.3);}
nav.topnav .submenu:hover > *:first-child{background:#194e84; color:#f4b510;}
nav.topnav .sidenav-toggle::before{background:#194e84;}
nav.topnav .sidenav-toggle:hover::before{background:#0ab3de;}
nav.topnav .hamburger > *{background:#ffffff;}

/* Sidenav */
nav.sidenav{background:#ffffff;}
nav.sidenav .hamburger > *{background:#222325;}
nav.sidenav .sidenav-toggle, nav.sidenav .options, 
nav.sidenav .options > .option, nav.sidenav .options > .option-btn,
nav.sidenav .option > .dropdown, nav.sidenav .option > .dropdown > *, nav.sidenav .scroll-wrapper, 
nav.sidenav .menu > *:first-child{border-color:#e1e1e1;}
nav.sidenav .submenu > *:first-child{border-color:rgba(255,255,255,.3);}
nav.sidenav .option > .dropdown{background:#ffffff;}
nav.sidenav .menu > *:first-child{color:#000000;}
nav.sidenav .menu:hover > *:first-child{color:#0ab3de;}
nav.sidenav .submenu > *:first-child{color:#ffffff; background:#0ab3de;}
nav.sidenav .submenu .submenu > *:first-child{background:#0ab3de; color:#232323;}
nav.sidenav .submenu:hover > *:first-child{color:#f4b510; background:#194e84;}
nav.sidenav .dropdown-toggle{color:#232323;}
nav.topnav .option > .dropdown .flag-wrapper:hover{background:#e1e1e1;}
nav.sidenav .options > .option-btn:hover > a{color:#0ab3de;}

/* Back to Top */
.back-to-top{background:#194e84; color:#ffffff;}
.back-to-top:hover{background:#0ab3de;}

/* Footer */
nav.footer{background:#0d1b62; color:#ffffff;}
nav.footer .footer-socials > .social{
    background:transparent; color:#ffffff; border-color:#ffffff;
}
nav.footer .footer-socials > .social:hover{background:#0ab3de; border-color:#0ab3de;}

/* Breadcrumb 01 */
.breadcrumb-01 .bottom > .wrapper{background:#ffffff;}
.breadcrumb-01 .bottom > .wrapper a{color:#000000;}
.breadcrumb-01 .wrapper a:last-child::before{background:#30906a;}
.breadcrumb-01 .wrapper a::after{background:#ffffff;}
.breadcrumb-01 .title{color:#30906a;}

/* Special List */
.ss-list > li::before{background:#0ab2de;}

/* Special Tags */
.ss-tags > .tag{background:#04adf0; color:#ffffff;}
.ss-tags > .tag.style-02{background:#dddddd; color:#000000;}

/* Paginate */
.paginate{display:flex; align-items:center;}
.paginate .page:hover{background:#f0f0f0;}
.paginate .page.active{background:#ffffff; box-shadow:0px 2px 5px 3px rgba(0,0,0,.06);}

.paginate.style-02 .arrow{border-color:#e2e2e2; color:#ffffff; background:#e2e2e2;}
.paginate.style-02 .arrow:hover{background:#2e603b}
.paginate.style-02 .page{border-color:#e2e2e2; color:#a1a1a1;}
.paginate.style-02 .page:hover, .paginate .page.active{background:#2e603b; color:#ffffff;}


.ui.icon.input > em.icon{background:#30906a; color:#ffffff;}

/* Tags Container */
.tags-container{border-color:#eeeeee;}
.tags-container .social-list .icon > em{font-size:1.125rem;}
.tags-container .social-list .icon{color:#2e603b; transition:background .5s;}
.tags-container .social-list .icon.active{background:#2e603b; color:#ffffff;}
.tags-container .social-list .icon:hover{background:#2e603b; color:#ffffff;}

/* Tabs 01 */
.tab-container .tabs.tabs-01 .tab{color:#222325;}
.tab-container .tabs.tabs-01 .tab:hover{color:#04adf0;}
.tab-container .tabs.tabs-01 .tab.active{background:#04adf0; color:#ffffff;}
.tab-container .tabs.tabs-01 .tab::after{background:#e1e1e1;}

/* List Header */
.list-header.style-02 .option .icon-view{border-color:#e6e7e9; color:#30906a;}
.list-header.style-02 .option .icon-view:hover, .list-header.style-02 .option .icon-view.active{
  border-color:#f86f38; color:#ffffff; background:#30906a;
}
.list-header.style-02.calendar .tabs::before{background:#e6e7e9;}
.list-header.style-02.calendar .tabs > .tab{color:#000000;}
.list-header.style-02.calendar .tabs > .tab::after{background:#30906a;}
.list-header.style-02.calendar .tabs > .tab:hover, 
.list-header.style-02.calendar .tabs > .tab.active{color:#30906a;}
.list-header.style-02.calendar .tabs > .tab > .count{color:#a9a9a9;}

/* Table */
table.table.table-download .download-card{background:#30906a;}
table.table.table-download .text-footer > .wrapper .icon{color:#30906a;}

/* Banner 01 */
.banner-01{background:#ffffff; box-shadow:0px 4px 10px 8px rgba(0,0,0,.08);}

/* Section 04 */
.section-04 .text-wrapper{
  background:#ffffff; 
}

/* Section 05 */ 
.section-05 .swiper-pagination-bullets{background:#f2f2f2;}
.section-05 .swiper-pagination-bullet{background:#2e603d;}
.section-05 .swiper-pagination-bullet-active{background:#2e603d;}

/* Section 06 */ 
.section-06 .swiper-pagination-bullets{background:#f2f2f2;}
.section-06 .swiper-pagination-bullet{background:#2e603d;}
.section-06 .swiper-pagination-bullet-active{background:#2e603d;}

/* Section 07 */
.section-07 .swiper-container > .btns-swiper .wrapper > .btn .arrow{
  background:#3a8b6c; color:#ffffff; border-color:#ffffff;
}

/* Special Card 01 */
.ss-card-01 .ss-img::after{
  background-image:linear-gradient(to top,rgba(0,0,0,.8),rgba(0,0,0,.7),
  rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),
  rgba(0,0,0,0),rgba(0,0,0,0));
}

/* Special Card 02 */
.ss-card-02{color:#ffffff; box-shadow:0px 4px 16px 4px rgba(0,0,0,.15);}
.ss-card-02.filter-01 .ss-img::after{
  background-image:linear-gradient(to top,rgba(13,27,98,1),rgba(13,27,98,.9),
  rgba(13,27,98,.4),rgba(13,27,98,0),rgba(13,27,98,0),rgba(13,27,98,0),
  rgba(13,27,98,0),rgba(13,27,98,0));
}
.ss-card-02.filter-02 .ss-img::after{
  background-image:linear-gradient(to top,rgba(243,181,15,1),rgba(243,181,15,.9),
  rgba(243,181,15,.4),rgba(243,181,15,0),rgba(243,181,15,0),rgba(243,181,15,0),
  rgba(243,181,15,0),rgba(243,181,15,0));
}
.ss-card-02.filter-03 .ss-img::after{
  background-image:linear-gradient(to top,rgba(10,178,222,1),rgba(10,178,222,.9),
  rgba(10,178,222,.4),rgba(10,178,222,0),rgba(10,178,222,0),rgba(10,178,222,0),
  rgba(10,178,222,0),rgba(10,178,222,0));
}

/* Special Card 03 */
.ss-card-03{background:rgba(255,255,255,.6); box-shadow:0px 4px 10px 8px rgba(0,0,0,.01);}

/* Special Card 05 */
.ss-card-05{color:#ffffff; box-shadow:0px 4px 16px 4px rgba(0,0,0,.15);}
.ss-card-05.filter-01 .ss-img::after{
  background-image:linear-gradient(to top,rgba(13,27,98,1),rgba(13,27,98,.9),
  rgba(13,27,98,.4),rgba(13,27,98,0),rgba(13,27,98,0),rgba(13,27,98,0),
  rgba(13,27,98,0));
}

/* Special Card 06 */
.ss-card-06 .text-wrapper{color:#ffffff;}
.ss-card-06 .filter-01{
  background-image:linear-gradient(to top,rgba(0,0,0,.8),rgba(0,0,0,.7),
  rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),
  rgba(0,0,0,0),rgba(0,0,0,0));
}

/* Special Card 07 */
.ss-card-07 .wrapper > .text-container .card-footer > .wrapper .icon > em{color:#2e603b;}

/* Special Card 08 */
.ss-card-08:hover .ss-img{border-color:#fff311;}
.ss-card-08:hover .btn{background:#fff311; color:#2e603b; border-color:#ffffff; box-shadow:-8px 10px 6px rgb(184,207,191,.4);}
.ss-card-08 .text-container > .card-top .wrapper > .icon em{color:#2e603b;}

/* Special Card 09 */
.ss-card-09 .wrapper > .text-container .text > .card-top .wrapper > .icon em{color:#2e603b;}
.ss-card-09:hover .ss-img{border-color:#fff311;}
.ss-card-09:hover .btn{background:#fff311; color:#2e603b; border-color:#ffffff; box-shadow:-8px 10px 6px rgb(184,207,191,.4);}
.ss-card-09 .wrapper > .img-container .ss-img > .filter-01{background:rgb(48,144,106,.6);}

/* Special Card 10  */
.ss-card-10 .card-top > .wrapper .icon > em{color:#2e603b;}

/* Special Card 11 */
.ss-card-11:hover{border-color:#fff311;}
.ss-card-11 .filter-01{background:rgb(48,144,106,.6);}
.ss-card-11 .filter-01 > .text{color:#ffffff;}

/* Special Card 12 */
.ss-card-12 .text-container{border-color:#eeeeee;}