
/* Reset */
html, body, table.table{color:#000000;}


/* Colors */
.color-p, .h-color-p:hover{color:#0ab3de!important;}
.color-s, .h-color-s:hover{color:#194e84!important;}
.color-t, .h-color-t:hover{color:#f4b510!important;}
.color-white, .h-color-white:hover{color:#ffffff!important;}
.color-black, .h-color-black:hover{color:#000000!important;}
.color-dark, .h-color-dark:hover{color:#222325!important;}
.color-gray, .h-color-gray:hover{color:#696969!important;}
.color-sgray, .h-color-sgray:hover{color:#e1e1e1!important;}

.bg-p{background:#0ab3de!important;}
.bg-s{background:#194e84!important;}
.bg-t{background:#f4b510!important;}
.bg-white{background:#ffffff!important;}
.bg-black{background:#000000!important;}
.bg-dark{background:#222325!important;}
.bg-gray{background:#696969!important;}
.bg-sgray{background:#e1e1e1!important;}

.bcolor-p{border-color:#0ab3de!important;}
.bcolor-s{border-color:#194e84!important;}
.bcolor-t{border-color:#f4b510!important;}
.bcolor-white{border-color:#ffffff!important;}
.bcolor-black{border-color:#000000!important;}
.bcolor-dark{border-color:#222325!important;}
.bcolor-gray{border-color:#696969!important;}
.bcolor-sgray{border-color:#e1e1e1!important;}


/* Buttons */
.btn.btn-p, .btn.btn-p:focus{color:#ffffff; background:#194e84; border-color:#194e84;}
.btn.btn-p:hover{background:#696969; border-color:#696969;}
.btn.btn-p:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-s, .btn.btn-s:focus{color:#ffffff; background:#04adf0; border-color:#04adf0;}
.btn.btn-s:hover{background:#696969; border-color:#696969;}
.btn.btn-s:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-inactive, .btn.btn-inactive:focus, .btn.btn-inactive:hover,
.btn.btn-inactive:active{color:#ffffff; background:#e1e1e1; border-color:#e1e1e1;}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea,
.form-group .upload-wrapper::before{
    color:#000000!important; background:#ffffff!important; border-color:#dddddd!important;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
input[type=file]:focus, select:focus, textarea:focus,
.form-group .upload-wrapper:hover::before{border-color:#311916!important;}

input[type=text].fgray, input[type=email].fgray, input[type=password].fgray, input[type=date].fgray, 
input[type=tel].fgray, input[type=number].fgray, input[type=phone].fgray, input[type=submit].fgray, 
input[type=file].fgray, select.fgray, textarea.fgray,
.form-group .upload-wrapper.fgray::before{background:#f8f9fa!important;}
input[type=text].sgray, input[type=email].sgray, input[type=password].sgray, input[type=date].sgray, 
input[type=tel].sgray, input[type=number].sgray, input[type=phone].sgray, input[type=submit].sgray, 
input[type=file].sgray, select.sgray, textarea.sgray,
.form-group .upload-wrapper.sgray::before{background:#e1e1e1!important;}


/* Super Topnav */
nav.stopnav .option{border-color:rgba(255,255,255,.3);}
nav.stopnav .option-select > .dropdown{background:#0ab3de; border-color:rgba(255,255,255,.3);}
nav.stopnav .option-select > .dropdown .item{border-color:rgba(255,255,255,.3);}
nav.stopnav .option-select > .dropdown .item:hover{background:#194e84; color:#f4b510;}
nav.stopnav .btn-social:hover{background:#194e84; color:#f4b510;}

/* Topnav */
nav.topnav{background:#ffffff;}
nav.topnav .logo{color:#194e84;}
nav.topnav .logo:hover{color:#0ab3de;}
nav.topnav .menu:hover > *:first-child{color:#0ab3de;}
nav.topnav .menu > *:first-child::after{background:#039cd6;}
nav.topnav .submenu-dropdown{background:rgba(10,179,222,.92); color:#ffffff;}
nav.topnav .submenu{border-color:rgba(255,255,255,.3);}
nav.topnav .submenu:hover > *:first-child{background:#194e84; color:#f4b510;}
nav.topnav .sidenav-toggle::before{background:#194e84;}
nav.topnav .sidenav-toggle:hover::before{background:#0ab3de;}
nav.topnav .hamburger > *{background:#ffffff;}

/* Sidenav */
nav.sidenav{background:#ffffff;}
nav.sidenav .hamburger > *{background:#222325;}
nav.sidenav .sidenav-toggle, nav.sidenav .options, 
nav.sidenav .options > .option, nav.sidenav .options > .option-btn,
nav.sidenav .option > .dropdown, nav.sidenav .option > .dropdown > *, nav.sidenav .scroll-wrapper, 
nav.sidenav .menu > *:first-child{border-color:#e1e1e1;}
nav.sidenav .submenu > *:first-child{border-color:rgba(255,255,255,.3);}
nav.sidenav .option > .dropdown{background:#ffffff;}
nav.sidenav .menu > *:first-child{color:#000000;}
nav.sidenav .menu:hover > *:first-child{color:#0ab3de;}
nav.sidenav .submenu > *:first-child{color:#ffffff; background:#0ab3de;}
nav.sidenav .submenu .submenu > *:first-child{background:#0ab3de; color:#232323;}
nav.sidenav .submenu:hover > *:first-child{color:#f4b510; background:#194e84;}
nav.sidenav .dropdown-toggle{color:#232323;}
nav.topnav .option > .dropdown .flag-wrapper:hover{background:#e1e1e1;}
nav.sidenav .options > .option-btn:hover > a{color:#0ab3de;}

/* Section 02 */
.section02 p {color:#6a6a6a !important;}
.section-02 .categories a.active{
    background:#0ab3de; color:#ffffff;
}
.section-02 .pagination a.active{
   box-shadow:0px 5px 20px 10px rgba(0,0,0,.1);
}
