
/* Reset */
html, body, table.table{background:#000000; color:#ffffff;}
img, .img-bg, .hero, .section-bg, .img-fill, .pattern, .mobile-screen, .swiper-background::before, iframe, .chart-container,
.swiper-background::after, .section-03 .section-card::before, .icon-view.disable, .post-video{filter:grayscale(1)!important;}

/* Colors */
.color-p, 
.color-s, 
.color-t, 
.color-white,
.color-black, 
.color-dark, 
.color-gray, 
.color-sgray
.color-01, 
.color-02, 
.color-03, 
.color-04, 
.color-05, 
.color-06, 
.color-07,
.color-08{color:#ffffff!important;}
.color-white-theme{color:#ffffff!important;}
.color-black-theme{color:#000000!important;}

.bg-p, 
.bg-s, 
.bg-t, 
.bg-white, 
.bg-black, 
.bg-dark, 
.bg-gray, 
.bg-sgray, 
.bg-01, 
.bg-02, 
.bg-03, 
.bg-04, 
.bg-05, 
.bg-06, 
.bg-07,
.bg-08{background:#000000!important;}
.bg-white-theme{background:#ffffff!important; color:#000000!important;}
.bg-white-theme-02{background:#ffffff!important;}
.bg-black-theme{background:#000000!important; color:#ffffff!important;}

.bcolor-p, 
.bcolor-s, 
.bcolor-t 
.bcolor-white,
.bcolor-black,
.bcolor-dark, 
.bcolor-gray, 
.bcolor-sgray,
.bcolor-01,
.bcolor-02,
.bcolor-03,
.bcolor-04,
.bcolor-05,
.bcolor-06,
.bcolor-07,
.bcolor-08{border-color:#ffffff!important;}
.bcolor-black-theme{border-color:#000000!important;}


/* Buttons */
.btn.btn-p, .btn.btn-p:focus{color:#ffffff; background:#194e84; border-color:#194e84;}
.btn.btn-p:hover{background:#696969; border-color:#696969;}
.btn.btn-p:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-s, .btn.btn-s:focus{color:#ffffff; background:#04adf0; border-color:#04adf0;}
.btn.btn-s:hover{background:#696969; border-color:#696969;}
.btn.btn-s:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-inactive, .btn.btn-inactive:focus, .btn.btn-inactive:hover,
.btn.btn-inactive:active{color:#ffffff; background:#e1e1e1; border-color:#e1e1e1;}

.btn.btn-02, .btn.btn-02:focus,
.btn.btn-03, .btn.btn-03:focus,
.btn.btn-05, .btn.btn-05:focus,
.btn.btn-09, .btn.btn-09:focus,
.btn.btn-10, .btn.btn-10:focus,
.btn.btn-11, .btn.btn-11:focus,
.btn.btn-13, .btn.btn-13:focus,
.btn.btn-14, .btn.btn-14:focus,
.btn.btn-15, .btn.btn-15:focus,
.btn.btn-16, .btn.btn-16:focus{background:#ffffff; color:#000000;}
.btn.btn-08, .btn.btn-08:focus{border-color:#ffffff; color:#ffffff;}
.btn.btn-19, .btn.btn-19:focus{color:#000000; border-color:#000000;}
.btn.btn-19:hover{background:#000000; border-color:#000000; color:#ffffff!important;}

.btn-white-theme{background:#000000!important; color:#ffffff!important;}


.btn.btn-02:hover{background:#ffffff!important; color:#000000!important;}

.btn.btn-03.btn-black-theme, .btn.btn-03.btn-black-theme:focus,
.btn.btn-04, .btn.btn-04:focus,
.btn.btn-12.btn-black-theme, .btn.btn-12.btn-black-theme:focus
{background:#000000; color:#ffffff; border-color:#000000;}
.btn.btn-21.btn-black-theme, .btn.btn-21.btn-black-theme:focus{background:#ffffff; color:#000000;}

.btn.btn-action-style-02:hover{border-color:#000000;}
.btn.btn-action-style-04 .wrapper > .icon{background:#000000; color:#ffffff!important;}

.btn.btn-fb, .btn.btn-fb:focus, .btn.btn-fb:hover,
.btn.btn-gg, .btn.btn-gg:focus, .btn.btn-gg:hover,
.btn.btn-tw, .btn.btn-tw:focus, .btn.btn-tw:hover,
.btn.btn-line, .btn.btn-line:focus, .btn.btn-line:hover{background:#ffffff; color:#000000; border-color:#ffffff;}

.btn-browse-container .btn-browse{background:#000000; border-color:#000000; color:#ffffff;}

/* Calendar */
.calendar-style-02 .calendar-header table th.prev, 
.calendar-style-02 .calendar-header table th.next{border-color:#ffffff;}
.calendar-style-02 .months-container .month-container .month-title{background:#ffffff; color:#000000;}
.calendar-style-02 .months-container table.month .day-header{border-color:#ffffff;}
.calendar-style-02 .calendar-footer > .wrapper-container p::after,
.calendar-style-02 .calendar-footer > .wrapper-container p::before{color:#ffffff!important;}

/* Calendar Header */
.calendar-header .wrapper > .text{background:#ffffff; color:#000000;}
.calendar-header .wrapper > .btn-calendar{border-color:#ffffff!important;}

/* Calendar - Day */
.calendar-wrapper .calendar-header-title > .wrapper .time{border-color:#ffffff!important;}
.calendar-day td.fc-axis.fc-widget-content:first-child{background:#ffffff; color:#000000;}
.calendar-day .fc-unthemed td{border-color:#ffffff;}

/* Calendar - Month */
.calendar-month .fc-day-header{background:#ffffff; color:#000000;}
.calendar-month .fc-day-number{background:#ffffff; color:#000000;}
.calendar-month .fc-unthemed td.fc-today{background:#dddddd;}
.calendar-month .fc-unthemed td{border-color:#ffffff;}
.calendar-month .fc-day.fc-other-month{background:#fbf2f2!important;}

/* Calendar - Week */
.calendar-week .fc-time-grid td.fc-axis.fc-widget-content:first-child{background:#ffffff; color:#000000;}
.calendar-week .fc-day-grid .fc-bg td:first-child{background:#ffffff; color:#000000;}
.calendar-week .custom-date.active{background:#ffffff; color:#000000;}
.calendar-week .fc-day-grid .fc-day.fc-widget-content{border-color:#ffffff!important;}

/* Client 02 */
.client-02 .swiper-pagination-bullet{background:#ffffff;}

.dropdown-icon{border-color:#ffffff!important;}

/* Election Commission */
.election-commission-container .header{background:#000000; color:#ffffff;}

/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea,
.form-group .upload-wrapper::before{
    color:#000000!important; background:#ffffff!important; border-color:#dddddd!important;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
input[type=file]:focus, select:focus, textarea:focus,
.form-group .upload-wrapper:hover::before{border-color:#311916!important;}

input[type=text].fgray, input[type=email].fgray, input[type=password].fgray, input[type=date].fgray, 
input[type=tel].fgray, input[type=number].fgray, input[type=phone].fgray, input[type=submit].fgray, 
input[type=file].fgray, select.fgray, textarea.fgray,
.form-group .upload-wrapper.fgray::before{background:#f8f9fa!important;}
input[type=text].sgray, input[type=email].sgray, input[type=password].sgray, input[type=date].sgray, 
input[type=tel].sgray, input[type=number].sgray, input[type=phone].sgray, input[type=submit].sgray, 
input[type=file].sgray, select.sgray, textarea.sgray,
.form-group .upload-wrapper.sgray::before{background:#e1e1e1!important;}
input[type="search"]::placeholder{color:#000000;}


/* Accessibility & Quick Links */
nav.side-panel .option:not(.btn-cursor):hover, nav.side-panel .option:not(.btn-cursor).active {
  background:#ffffff; color:#000000; fill:#000000;
}
nav.side-panel .option{color:#ffffff; fill:#ffffff;}
nav.side-panel .panel-row:first-child{background:#000000; color:#ffffff;}
nav.side-panel .panel-row {background:#000000; color:#ffffff;}
nav.side-panel .option-row .icon + *::before {background:#ffffff;}
nav.side-panel .panel{border-color: rgba(255,255,255,.3);}
nav.side-panel .hamburger > *{background:#ffffff;}

nav.sidenav{background:#ffffff;}
nav.sidenav .hamburger > *{background:#222325;}
nav.sidenav .options > .option{border-color:#000000; color:#000000;}
nav.sidenav .sidenav-toggle, nav.sidenav .options, 
nav.sidenav .options > .option, nav.sidenav .options > .option-btn,
nav.sidenav .option > .dropdown, nav.sidenav .option > .dropdown > *, nav.sidenav .scroll-wrapper, 
nav.sidenav .menu > *:first-child{border-color:#e1e1e1;}
nav.sidenav .submenu > *:first-child{border-color:#ffffff;;}
nav.sidenav .option > .dropdown{background:#ffffff;}
nav.sidenav .menu > *:first-child{color:#000000;}
nav.sidenav .submenu > *:first-child{color:#ffffff; background:#000000;}
nav.sidenav .submenu:hover > *:first-child{color:#000000; background:#ffffff;}
nav.sidenav .submenu > .dropdown-toggle{color:#ffffff;}
nav.sidenav .submenu:hover > .dropdown-toggle{color:#000000;}
nav.sidenav .dropdown-toggle{color:#232323;}

/* Super Topnav */
nav.stopnav{background:#000000;}
nav.stopnav .blocks > .option .hotline > em{border-color:#ffffff;}
nav.stopnav .option-select > .select{background:#ffffff; color:#000000;}
nav.stopnav .option-select > .dropdown{background:#000000;}
nav.stopnav .option-select > .dropdown .item{border-color:#ffffff;}
nav.stopnav .option-select > .dropdown .item:hover{background:#ffffff; color:#000000;}
nav.stopnav .btn-social:hover{background:#ffffff; color:#000000;}
nav.stopnav .blocks > .option .hotline > em{border-color:#000000;}

nav.stopnav.style-02{border-color:#000000;}
nav.stopnav.style-02 .option{border-color:#ffffff;}

nav.stopnav.style-03 .option-select > .select{background:#000000; color:#ffffff;}

nav.stopnav.style-04 .btn-social{border-color:#ffffff;}
nav.topnav.style-04 .menu:hover > *:first-child{background:#000000; color:#ffffff!important;}

/* Topnav */
nav.topnav{background:#ffffff;}
nav.topnav .logo p{color:#000000;}
nav.topnav .hamburger > *{background:#ffffff;}
nav.topnav .submenu{border-color:#ffffff;}
nav.topnav .submenu:hover > *:first-child{background:#ffffff!important; color:#000000!important;}
nav.topnav .submenu-dropdown{background:rgba(0,0,0,.92); color:#ffffff;}
nav.topnav .submenu > .submenu-dropdown{background:#000000!important;}
nav.topnav .menu > *:first-child{color:#000000;}
nav.topnav .option > .dropdown .flag-wrapper:hover{background:#e1e1e1;}

nav.topnav.style-02 .logo{color:#000000;}
nav.topnav.style-02 .menu > *:first-child::after{background:#000000;;}

nav.topnav.style-02 .submenu > .submenu-dropdown .submenu:hover > *:first-child{background:#303032;}
nav.topnav.style-02 .sidenav-toggle::before{background:#1f4e3a;}
nav.topnav.style-02 .sidenav-toggle:hover::before{background:#303032;}
nav.topnav.style-02 .sidenav-toggle::before{background:#000000;}


/* Footer */
nav.footer{border-color:#ffffff;}
nav.footer ul > li::before{background:#ffffff;}
nav.footer .footer-socials > .social{background:#ffffff; color:#000000;}
nav.footer .footer-socials > .social:hover{background:#000000; color:#ffffff; border-color:#ffffff;}
nav.footer .count-web > *{background:#ffffff; color:#000000; border-color:#000000!important;}

nav.footer.style-03 .footer-container{background:#000000}

nav.footer.style-04 .footer-top, nav.footer.style-04 .footer-bottom,
nav.footer.style-05 .footer-bottom, nav.footer.style-06 .footer-bottom{border-color:#ffffff;}

nav.footer.style-07{background:#ffffff!important;}
nav.footer.style-07 .footer-container{background:#000000;}
nav.footer.style-07 .footer-bottom{border-color:#ffffff!important;}

nav.footer.style-08 .footer-bottom{border-color:#ffffff;}
nav.footer.style-08 .social-links > .btns-social .btn-social:hover{background:#ffffff; color:#000000;}

nav.footer.style-09 .footer-bottom{border-color:#ffffff;}

nav.footer.style-10 .footer-bottom{border-color:#ffffff;}
nav.footer.style-10 .social-links > .btns-social .btn-social:hover{background:#ffffff; color:#000000;}
nav.footer.style-10 .text-intro{border-color:#ffffff;}

nav.footer.style-11{background:#ffffff!important;}
nav.footer.style-11 .footer-container{background:#000000;}
nav.footer.style-11 .footer-bottom{border-color:#ffffff!important;}
nav.footer.style-11 .footer-socials > .social{background:#000000; color:#ffffff;}
nav.footer.style-11 .footer-socials > .social:hover{background:#ffffff; color:#000000;}

/* Sidebar (Member page) */
.sidebar{border-color:#ffffff;}
.sidebar .wrapper > .arrow-container .arrow{background:#ffffff; color:#000000;}
.sidebar .logo-container{border-color:#ffffff;}
.sidebar .menu-container > .menu-item:not(.menu-item:last-child){border-color:#ffffff;}
.sidebar .menu-item:hover .tooltip, .sidebar .profile-container:hover .tootltip{background:#ffffff; color:#000000;}

/* Special Title */
.ss-title-style-02.style-02{background:#ffffff; color:#000000; border-color:#000000;}
.ss-title-style-02.style-02:after{background:#ffffff;}
.ss-title-style-02.style-02 .link-more > .text, .ss-title-style-02 .link-more > .arrow{color:#000000;}

/* Password Level */
.password-level > .levels > *{border-color:#ffffff;}
.password-level.level-1 > .levels > *:nth-child(1),
.password-level.level-2 > .levels > *:nth-child(1), 
.password-level.level-2 > .levels > *:nth-child(2){background:#ffffff;}

/* Breadcrumb-01 */
.breadcrumb-01 .wrapper a:last-child::before{background:#ffffff;}

/* Breadcrumb-02 */
.breadcrumb-02 .bottom > .container .wrapper{background:#ffffff;}
.breadcrumb-02 .bottom > .container .wrapper:before,
.breadcrumb-02 .bottom > .container .wrapper:after{background:#ffffff;}
.breadcrumb-02 .sub-title{color:#000000!important;}
.breadcrumb-02 .bottom .title-link{color:#000000!important;}
.breadcrumb-02 select{border-color:#000000!important;}
.breadcrumb-02 .dropdown-icon{border-color:#000000!important;}
.breadcrumb-02 .bottom .wrapper .title-link:nth-child(3) > *{border-color:#000000!important;}

/* Form check container */
.form-check-container{border-color:#ffffff;}
.form-check-container.active{background:#000000;}
.form-check-container .checkmark,
.form-check-container-02 .checkmark{background:#ffffff; border-color:#ffffff;}
.form-check-container  input:checked ~ .checkmark,
.form-check-container-02  input:checked ~ .checkmark{background:#000000!important;}
.form-check-container .checkmark:after,
.form-check-container-02 .checkmark:after{border-color:#ffffff;}

/* Faq 01 */
.faq-01 .faq > .question{border-color:#ffffff;}
.faq-01 .faq .arrow{border-color:#ffffff!important;}
.faq-01 .faq .answer-wrapper{border-color:#ffffff;}

/* Faq 02 */
.faq-02 .faq > .question{border-color:#ffffff;}
.faq-02 .faq > .question .ftag{border-color:#ffffff;}
.faq-02 .faq > .answer{border-color:#ffffff;}

/* Faq 03 */
.faq-03 .faq > .question{border-color:#ffffff;}
.faq-03 .faq > .question .ftag{border-color:#ffffff;}

/* Faq 04 */
.faq-04 .faq > .question{border-color:#ffffff;}
.faq-04 .faq > .question .ftag{border-color:#ffffff;}

/* Faq 05 */
.faq-05 .faq > .question{border-color:#ffffff;}
.faq-05 .faq > .question .ftag{border-color:#ffffff;}
.faq-05 .faq > .question .button-download > .btn{background:#ffffff; color:#000000;}
.faq-05 .faq:hover > .question .button-download > .btn{background:#000000; color:#ffffff; border-color:#ffffff;}

/* Faq 06 */
.faq-06 .faq > .question{border-color:#ffffff;}
.faq-06 .faq .answer-wrapper{background:#dddddd; color:#000000;}

/* Faq 07 */
.faq-07 .faq .arrow-container{background:#000000;}
.faq-07 .faq > .question{border-color:#000000;}
.faq-07 .faq .arrow::before, .faq-07 .faq .arrow::after{background:#ffffff;}
.faq-07 .faq tbody{background:#ffffff;}
.faq-07 .faq > .answer .content > .wrapper .text-container a{color:#000000!important;}
.faq-07 .faq .text-container > .analysis-results .wrapper{color:#000000!important;}
.faq-07 .faq > .answer .content > .wrapper .content-left{background:#000000; color:#ffffff;}

/* Faq 08 */
.faq-08 .faq > .question{background:#000000; color:#ffffff;}

/* rc-container */
.rc-container.style-02 > label::before{border-color:#ffffff;}
.rc-container.style-02 > label::after{background:#000000;}

.rc-container.style-03 > label::after{background:#000000!important;}
.rc-container.style-03 > label::before{border-color:#000000;}

/* Mobile Device Container */
.mobile-device-container .wrapper > .text-container{background:#000000;}

/* Global Search Container */
.global-search-container{color:#ffffff;}
.global-search-container .hamburger > *{background:#ffffff;}

/* Accessibility & Quick Links */
nav.side-panel > .wrapper > .icon{background:#000000;}

/* Buttons Group */
.buttons-group{border-color:#ffffff;}

/* Back to top*/
.back-to-top{background:#000000; border-color:#ffffff;}

/* Category Container */
.category-container .cate-list{border-color:#ffffff;}

/* Dropdown */
.dropdown-icon{background:#000000; color:#ffffff;}

/* List Header 02 */
.list-header.style-02 .option > select{background:#ffffff!important;}
.list-header.style-02 .option > .dropdown-icon{background:#ffffff; color:#000000; border-color:#000000;}
.list-header.style-02 .option > .ui.icon.input input{background:#ffffff!important;}
.list-header.style-02 .option > .ui.icon.input > em.icon{background:#ffffff; color:#000000; border-color:#000000;}
.list-header.style-02 .option .icon-view:hover, 
.list-header.style-02 .option .icon-view.active{background:#ffffff; color:#000000;}

/* Popular Search Container  */
.popular-search-container{background:#ffffff;} 
.popular-search-container .ss-tags > .tag{background:#000000; color:#ffffff;}

/* Table */
table.table.table-download .download-card{background:#ffffff; border-color:#000000;}
table.table.table-download.style-03 td:nth-child(1){background:#000000;}
table.table.table-download .text-footer > .wrapper .icon{color:#000000;}
table.table.table-download .title-container{background:#ffffff; color:#000000;}
table.table.table-download .arrow-container{background:#ffffff; color:#000000;}
table.table.table-download .btn.btn-02, .btn.btn-02:focus{background:#000000; color:#ffffff;}

table.table.table-download.style-03 tr{border-color:#000000;}
table.table.table-download.style-03 .download-card{background:#000000; border-color:#000000;}
table.table.table-download.style-03 .data-analysis > .wrapper .icon{color:#000000;}
table.table.table-download.style-03 .data-analysis > .wrapper .icon > em{color:#000000!important;}
table.table.table-download.style-03 .data-analysis > .wrapper{border-color:#000000!important;}

table.table.table-download.style-04 tr{border-color:#000000;}
table.table.table-download.style-04 .download-card{background:#ffffff; border-color:#000000;}
table.table.table-download.style-04 .button-container{background:#ffffff;}
table.table.table-download.style-04 .data-analysis > .wrapper .icon{color:#000000;}
table.table.table-download.style-04 .data-analysis > .wrapper .icon > em{color:#000000!important;}
table.table.table-download.style-04 .data-analysis > .wrapper{border-color:#000000!important;}

/* Tab Container 01 */
.tab-container .tabs.tabs-01 .tab::after{background:#000000;}
.tab-container .tabs.tabs-01.style-02 .tab{color:#000000;}
.tab-container .tabs.tabs-01.style-02 .tab.active{background:#000000; color:#ffffff;}

.tab-container .tabs.tabs-02 .tab.active{background:#000000; color:#ffffff;}
.tab-container .tabs.tabs-02.white-theme .tab.active{background:#ffffff!important; color:#000000!important;}

.tab-container .tabs.tabs-03 .tab.active > .wrapper{border-color:#ffffff;}

/* Tab 04 */
.tab-container .tabs.tabs-04 .tab.active > .title{color:#ffffff;}
.tab-container .tabs.tabs-04 .tab.active::before{background:#000000!important;}

/* Tags Container */
.tags-container{border-color:#ffffff;}
.tags-container .social-list .icon.active{background:#ffffff; color:#000000;}
.tags-container .social-list .icon:hover{background:#ffffff; color:#000000;}

/* Pagination */
.paginate.style-02 .arrow{border-color:#ffffff; color:#000000; background:#ffffff;}
.paginate.style-02 .arrow:hover{background:#000000; color:#ffffff;}
.paginate.style-02 .page{border-color:#ffffff; color:#ffffff;}
.paginate.style-02 .page:hover, .paginate.style-02 .page.active{background:#ffffff; color:#000000;}

.paginate.style-03 .page:hover, .paginate.style-03 .page{color:#000000;}
.paginate.style-03 .page:hover, .paginate.style-03 .page.active{background:#000000; color:#ffffff;}

/* Ribbob */
.ribbon-wrapper{border-color:#000000;}
.ribbon-wrapper:before{border-color:transparent #000000 transparent transparent}
.ribbon-wrapper:after{border-color:#000000 transparent transparent transparent}

/* Select */
select.bg-style-02{background:#ffffff!important; border-color:#dddddd!important; color:#696969!important;}
select.style-02{background:#ffffff!important;}

/* sep 01 */
.ss-sep-01 > *::before, .ss-sep-01 > *::after{background:#ffffff!important;}
.ss-sep-01.style-02 > *::before, .ss-sep-01.style-02 > *::after{background:#000000;}

/* Section Options */
.section-options .option{background:#000000; color:#ffffff; border-color:#ffffff;}
.section-options .option:first-child{background:#ffffff!important; color:#000000!important;}
.section-options .socials > .social{background:#ffffff; color:#000000;}
.section-options .option > .icon.active, 
.section-options .option > .icon:hover{background:#ffffff; color:#000000;}

/* Special List */
.list-style-01 li:before{background:#000000;}
.list-style-02 li:before{background:#000000;}

/* Search Container */
.search-container{border-color:#ffffff;}
.search-container .ui.icon.input input{background:#ffffff!important;}
.search-container .ui.icon.input > em.icon{background:#ffffff; color:#000000; border-color:#000000;}

/* Special Box */
.ss-box.style-02{border-color:#000000;}

/* Special Box Header */
.ss-box-header{border-color:#ffffff;}
.ss-box-header .ellipsis{background:#ffffff; color:#000000;}

/* Main Container */
.main-container .main-content > .wrapper .ss-box.style-02{border-color:#ffffff;}

/* Banner 02 */
.banner-02 .arrow{border-color:#000000; color:#000000;}

/* Banner 03 */
.banner-03 span.swiper-pagination-bullet:hover,
.banner-03 span.swiper-pagination-bullet-active{background:#ffffff!important; color:#000000!important;}
.banner-03 .text-slide-container{background:#ffffff; color:#000000;}

/* sep 01 */
.ss-sep-01 > *::before, .ss-sep-01 > *::after{background:#000000!important;}

/* Section 05 */
.section-05 .swiper-pagination-bullets{background:#ffffff;}
.section-05 .swiper-pagination-bullet-active{background:#000000;}

/* Section 06 */
.section-06 .swiper-pagination-bullets{background:#ffffff;}
.section-06 .swiper-pagination-bullet-active{background:#000000;}

/* Section 07 */
.section-07 .swiper-container > .btns-swiper .wrapper > .btn .arrow{background:#000000; color:#ffffff;}
.section-07 .swiper-container > .btns-swiper .wrapper > .dots{background:#000000; color:#ffffff;}

/* Section 09 */
.section-09 .swiper-background > .text-wrapper{background:#ffffff;}
.section-09 .swiper-arrows-container > .arrows-container .arrow{border-color:#ffffff; color:#ffffff;}

/* Section 14 */
.section-14 .ss-title{color:#000000; border-color:#000000;}
.section-14 .ss-box > .body{background:#ffffff;}
.section-14 .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#000000!important;}

/* Section 15 */
.section-15 .arrow-container > .arrow{background:#ffffff; color:#000000;}
.section-15 .swiper-pagination-bullet-active{background:#000000;}

/* Section 18 */ 
.section-18 .arrow-container > .arrow{background:#ffffff; color:#000000;}

/* Section 21 */
.section-21 .arrow-container > .arrow{background:#ffffff; color:#000000;}

/* Special Tag */
.ss-tags > .tag.style-02{background:#ffffff; color:#000000;}
.ss-tags > .tag.style-03{background:#ffffff; color:#000000;}
.ss-tags > .tag.style-04{background:#ffffff; color:#000000;}

/* Special List */
.ss-list.style-02 > li::before{background:#ffffff;}
.ss-list.style-03 > li::before{background:#ffffff;}
.list-style-03 li::before{background:#000000;}
.ss-list.style-04 > li::before{background:#000000;}
.ss-list.style-04 .line{background:#000000;}
.ss-list.style-08 > li::before{background:#000000;}

/* Special Card 03 */
.ss-card-03{background:#000000;}

/* Special Card 12 */
.ss-card-12 .text-container{border-color:#ffffff;}

/* Special Card 18 */
.ss-card-18 .wrapper > .img-container .ebook-container::after{background:#ffffff;}

/* Special Card 20 */
.ss-card-20 .wrapper > .date .wrapper{border-color:#ffffff;}
.ss-card-20 .wrapper > .date .wrapper > .day{background:#ffffff; color:#000000;}

/* Special Card 21 */
.ss-card-21 .wrapper > .date .wrapper{border-color:#ffffff;}
.ss-card-21 .wrapper > .date .wrapper > .day{background:#ffffff; color:#000000;}
.ss-card-21 .wrapper > .date .wrapper > .month{color:#ffffff;}

/* Special Card 23 */
.ss-card-23 .text-container{background:#000000;}
.ss-card-23 .text-container .title{color:#ffffff;}
.ss-card-23 .text-container > .ss-tags .tag{background:#ffffff; color:#000000;}

/* Special Card 24 */
.ss-card-24{background:#ffffff;}
.ss-card-24 .wrapper > .icon{background:#000000;}
.ss-card-24 .wrapper > .text-container .title,
.ss-card-24 .wrapper > .text-container .desc{color:#000000;}
.ss-card-24 .wrapper > .text-container .arrow{color:#000000;}

/* Special Card 25 */
.ss-card-25{border-color:#ffffff;}
.ss-card-25 .text-container > .arrow{color:#ffffff;}

/* Special Card 26 */
.ss-card-26{border-color:#ffffff;}

/* Special Card 28 */
.ss-card-28 .text-container{background:#000000; color:#ffffff;}

/* Special Card 29 */
.ss-card-29{background:#ffffff; color:#000000!important;}

/* Special Card 30 */
.ss-card-30 .wrapper > .text-container a{color:#000000!important; border-color:#000000!important;}

/* Special Card 39 */
.ss-card-39{border-color:#ffffff;}
.ss-card-39 .date-container{background:#ffffff; color:#000000;}

/* Special Card 31 */
.ss-card-31{border-color:#dddddd;}
.ss-card-31 .top > .wrapper .item:nth-child(1) > .icon{background:#000000; color:#ffffff;}
.ss-card-31.style-02{border-color:#ffffff;}
.ss-card-31.style-02 .top > .wrapper .item:nth-child(1) > .icon{background:#ffffff; color:#000000;}

/* Special Card 32 */
.ss-card-32{border-color:#ffffff;}
.ss-card-32 .wrapper > .text-container .title{color:#000000;}
.ss-card-32 .wrapper > .text-container .x-mark{background:#000000; color:#ffffff;}

.ss-card-32.style-02 .wrapper > .text-container .title{color:#ffffff;}
.ss-card-32.style-02 .wrapper{border-color:#ffffff!important;}
.ss-card-32.style-02 .wrapper > .text-container .x-mark{background:#ffffff; color:#000000;}

/* Special Card 33 */
.ss-card-33{border-color:#000000; color:#000000;}

/* Special Card 34 */
.ss-card-34{border-color:#ffffff;}
.ss-card-34 .wrapper > .icon{border-color:#ffffff;}
.ss-card-34 .text-container > .social-list .icon:hover{background:#ffffff; color:#000000;}

/* Special Card 35 */
.ss-card-35 .wrapper > .date .wrapper > .day{background:#ffffff; color:#000000;}
.ss-card-35 .wrapper > .date{border-color:#ffffff;}

/* Special Card 37 */
.ss-card-37 .text-container{border-color:#ffffff;}
.ss-card-37:hover .text-container{background:#ffffff;}
.ss-card-37:hover .text-container > .title{color:#000000;}
.ss-card-37:hover .card-footer .wrapper{color:#000000!important;}
.ss-card-37:hover .card-footer .link-footer > .text{color:#000000!important; border-color:#000000!important;}
.ss-card-37 .card-footer .link-footer > .arrow{color:#ffffff;}
.ss-card-37:hover .card-footer .link-footer > .arrow{color:#000000;}

/* Special Card 38 */
.ss-card-38 .wrapper > .text-container{background:#ffffff; border-color:#ffffff;}
.ss-card-38 .wrapper > .text-container .title, .ss-card-38 .card-footer .wrapper,
.ss-card-38 .link-footer > .arrow, .ss-card-38 .link-footer > .text{color:#000000!important;}
.ss-card-38:hover .wrapper > .text-container{background:#000000;}
.ss-card-38:hover .wrapper > .text-container .title, .ss-card-38:hover .card-footer .wrapper,
.ss-card-38:hover .link-footer > .arrow, .ss-card-38:hover .link-footer > .text{color:#ffffff!important;}

/* Special Card 40 */
.ss-card-40 .text-container{background:#ffffff;}
.ss-card-40 .text-container .text{color:#000000!important;}
.ss-card-40 .text-container > .date-container .date-wrapper{background:#000000;}

/* Special Card 41 */
.ss-card-41 .image-container > .date-container .date-wrapper{background:#000000;}

/* Special Card 44 */
.ss-card-44 .text-container{background:#ffffff; color:#000000;}

/* Special Card 45 */
.ss-card-45{border-color:#ffffff;}
.ss-card-45 .ss-tags > .tag{background:#ffffff; color:#000000;}

/* Special Card 46 */
.ss-card-46 .topic > .title::before, .ss-card-46 .topic > .title::after{background:#ffffff;}

/* Special Card 49 */
.ss-card-49 .header{background:#000000; color:#ffffff;}

/* Special Card 51 */
.ss-card-51{border-color:#ffffff;}
.ss-card-51 .card-line{background:#ffffff;}