
/* Reset */
html, body, table.table{background:#000000; color:#ffffff;}
img, .img-bg, .hero, .section-bg, .img-fill, .pattern, .mobile-screen, .swiper-background::before, iframe, .chart-container,
.swiper-background::after, .section-03 .section-card::before, .icon-view.disable, .post-video, .checkbox-set input:checked ~ .checkmark::before{filter:grayscale(1)!important;}

/* Colors */
.color-p, 
.color-s, 
.color-t, 
.color-white,
.color-black, 
.color-dark, 
.color-gray, 
.color-sgray
.color-01, 
.color-02, 
.color-03, 
.color-04, 
.color-05, 
.color-06, 
.color-07,
.color-08{color:#ffffff!important;}
.color-white-theme{color:#ffffff!important;}
.color-black-theme{color:#000000!important;}

.bg-p, 
.bg-s, 
.bg-t, 
.bg-white, 
.bg-black, 
.bg-dark, 
.bg-gray, 
.bg-sgray, 
.bg-01, 
.bg-02, 
.bg-03, 
.bg-04, 
.bg-05, 
.bg-06, 
.bg-07,
.bg-08{background:#000000!important;}
.bg-white-theme{background:#ffffff!important; color:#000000!important;}
.bg-white-theme-02{background:#ffffff!important;}
.bg-black-theme{background:#000000!important; color:#ffffff!important;}

.bcolor-p, 
.bcolor-s, 
.bcolor-t 
.bcolor-white,
.bcolor-black,
.bcolor-dark, 
.bcolor-gray, 
.bcolor-sgray,
.bcolor-01,
.bcolor-02,
.bcolor-03,
.bcolor-04,
.bcolor-05,
.bcolor-06,
.bcolor-07,
.bcolor-08{border-color:#ffffff!important;}
.bcolor-black-theme{border-color:#000000!important;}


/* Buttons */
.btn.btn-p, .btn.btn-p:focus{color:#ffffff; background:#194e84; border-color:#194e84;}
.btn.btn-p:hover{background:#696969; border-color:#696969;}
.btn.btn-p:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-s, .btn.btn-s:focus{color:#ffffff; background:#04adf0; border-color:#04adf0;}
.btn.btn-s:hover{background:#696969; border-color:#696969;}
.btn.btn-s:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-inactive, .btn.btn-inactive:focus, .btn.btn-inactive:hover,
.btn.btn-inactive:active{color:#ffffff; background:#e1e1e1; border-color:#e1e1e1;}

.btn.btn-02, .btn.btn-02:focus,
.btn.btn-03, .btn.btn-03:focus,
.btn.btn-05, .btn.btn-05:focus,
.btn.btn-09, .btn.btn-09:focus,
.btn.btn-10, .btn.btn-10:focus,
.btn.btn-11, .btn.btn-11:focus,
.btn.btn-13, .btn.btn-13:focus,
.btn.btn-14, .btn.btn-14:focus,
.btn.btn-15, .btn.btn-15:focus,
.btn.btn-16, .btn.btn-16:focus,
.btn.btn-20, .btn.btn-20:focus,
.btn.btn-22, .btn.btn-22:focus,
.btn.btn-24, .btn.btn-24:focus{background:#ffffff; color:#000000;}
.btn.btn-06, .btn.btn-06:focus,
.btn.btn-25, .btn.btn-25:focus,
.btn.btn-26, .btn.btn-26:focus{background:#000000; color:#ffffff;}
.btn.btn-08, .btn.btn-08:focus{border-color:#ffffff; color:#ffffff;}
.btn.btn-19, .btn.btn-19:focus{color:#000000; border-color:#000000;}
.btn.btn-19:hover{background:#000000; border-color:#000000; color:#ffffff!important;}

.btn.btn-05.btn-white-theme, .btn.btn-05:focus.btn-white-theme,
.btn.btn-13, .btn.btn-13:focus.btn-white-theme{background:#000000!important; color:#ffffff!important;}
.btn.btn-13.btn-black-theme, .btn.btn-13:focus.btn-black-theme{
  background:#ffffff!important; color:#000000!important;
}
.btn.btn-13:focus.bcolor-white-theme{border-color:#ffffff!important;}


.btn.btn-02:hover{background:#ffffff!important; color:#000000!important;}

.btn.btn-03.btn-black-theme, .btn.btn-03.btn-black-theme:focus,
.btn.btn-04, .btn.btn-04:focus,
.btn.btn-12.btn-black-theme, .btn.btn-12.btn-black-theme:focus
{background:#000000; color:#ffffff; border-color:#000000;}
.btn.btn-21.btn-black-theme, .btn.btn-21.btn-black-theme:focus{background:#ffffff; color:#000000;}

.btn.btn-action-style-02:hover{border-color:#000000;}
.btn.btn-action-style-04 .wrapper > .icon{background:#000000; color:#ffffff!important;}
.btn.btn-action-style-04.style-02 .wrapper > .icon{background:transparent; color:#ffffff!important;}
.btn.btn-action-style-04.style-02{background:#000000; color:#ffffff;}
.btn.btn-action-style-04.style-02:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.3); color:#ffffff;}
.btn.btn-action-style-06{background:#ffffff;}
.btn.btn-action-style-06 span{color:#000000;}
.btn.btn-action-style-06 .sep{background:#000000;}
.btn.btn-action-style-06:before, .btn.btn-action-style-06:after{background:#ffffff;}

.btn.btn-fb, .btn.btn-fb:focus, .btn.btn-fb:hover,
.btn.btn-gg, .btn.btn-gg:focus, .btn.btn-gg:hover,
.btn.btn-tw, .btn.btn-tw:focus, .btn.btn-tw:hover,
.btn.btn-line, .btn.btn-line:focus, .btn.btn-line:hover{background:#ffffff; color:#000000; border-color:#ffffff;}

.btn-browse-container .btn-browse{background:#000000; border-color:#000000; color:#ffffff;}

/* Box Shadow */
.box-shadow.style-05{box-shadow: rgba(0, 0, 0, 0.9) 4px 4px 18px 6px, rgba(0, 0, 0, 0.8) -6px -2px 16px 0px;}

/* Card Line */
.card-line.style-01{background:#ffffff;}
.card-line.style-01.card-line-black-theme{background:#dddddd;}
.card-line.style-02{background:#ffffff;}
.card-line.style-03{background:#ffffff;}

/* Calendar */
.calendar-style-02 .calendar-header table th.prev, 
.calendar-style-02 .calendar-header table th.next{border-color:#ffffff;}
.calendar-style-02 .months-container .month-container .month-title{background:#ffffff; color:#000000;}
.calendar-style-02 .months-container table.month .day-header{border-color:#ffffff;}
.calendar-style-02 .calendar-footer > .wrapper-container p::after,
.calendar-style-02 .calendar-footer > .wrapper-container p::before{color:#ffffff!important;}


/* Calendar Header */
.calendar-header .wrapper > .text{background:#ffffff; color:#000000;}
.calendar-header .wrapper > .btn-calendar{border-color:#ffffff!important;}

/* Calendar - Day */
.calendar-wrapper .calendar-header-title > .wrapper .time{border-color:#ffffff!important;}
.calendar-day td.fc-axis.fc-widget-content:first-child{background:#ffffff; color:#000000;}
.calendar-day .fc-unthemed td{border-color:#ffffff;}
.calendar-day .fc-time-grid-event{background:#dddddd!important; border-color:#ffffff!important;}
.calendar-day .fc-time-grid .fc-event .fc-title{color:#000000;}

/* Calendar - Month */
.calendar-month .fc-day-header{background:#ffffff; color:#000000;}
.calendar-month .fc-day-number{background:#ffffff; color:#000000;}
.calendar-month .fc-unthemed td.fc-today{background:#dddddd;}
.calendar-month .fc-unthemed td{border-color:#ffffff;}
.calendar-month .fc-day.fc-other-month{background:#fbf2f2!important;}

/* Calendar - Week */
.calendar-week .fc-time-grid td.fc-axis.fc-widget-content:first-child{background:#ffffff; color:#000000;}
.calendar-week .fc-day-grid .fc-bg td:first-child{background:#ffffff; color:#000000;}
.calendar-week .custom-date.active{background:#ffffff; color:#000000;}
.calendar-week .fc-day-grid .fc-day.fc-widget-content{border-color:#ffffff!important;}
.calendar-week .fc-day.fc-today{background:#ffffff!important;}

/* Client 02 */
.client-02 .swiper-pagination-bullet{background:#ffffff;}

/* Dropdown */
.dropdown-icon{border-color:#ffffff!important;}
.dropdown-icon.style-02{background:#000000; color:#ffffff;}

/* Election Commission */
.election-commission-container .header{background:#000000; color:#ffffff;}

/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea,
.form-group .upload-wrapper::before{
    color:#000000!important; background:#ffffff!important; border-color:#dddddd!important;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
input[type=file]:focus, select:focus, textarea:focus,
.form-group .upload-wrapper:hover::before{border-color:#311916!important;}

input[type=text].fgray, input[type=email].fgray, input[type=password].fgray, input[type=date].fgray, 
input[type=tel].fgray, input[type=number].fgray, input[type=phone].fgray, input[type=submit].fgray, 
input[type=file].fgray, select.fgray, textarea.fgray,
.form-group .upload-wrapper.fgray::before{background:#f8f9fa!important;}
input[type=text].sgray, input[type=email].sgray, input[type=password].sgray, input[type=date].sgray, 
input[type=tel].sgray, input[type=number].sgray, input[type=phone].sgray, input[type=submit].sgray, 
input[type=file].sgray, select.sgray, textarea.sgray,
.form-group .upload-wrapper.sgray::before{background:#e1e1e1!important;}
input[type="search"]::placeholder{color:#000000;}

input[type="email"][disabled], input[type="text"][disabled]{color:#000000!important}

/* Accessibility & Quick Links */
nav.side-panel .option:not(.btn-cursor):hover, nav.side-panel .option:not(.btn-cursor).active {
  background:#ffffff; color:#000000; fill:#000000;
}
nav.side-panel .option{color:#ffffff; fill:#ffffff;}
nav.side-panel .panel-row:first-child{background:#000000; color:#ffffff;}
nav.side-panel .panel-row {background:#000000; color:#ffffff;}
nav.side-panel .option-row .icon + *::before {background:#ffffff;}
nav.side-panel .panel{border-color: rgba(255,255,255,.3);}
nav.side-panel .hamburger > *{background:#ffffff;}

nav.sidenav{background:#ffffff;}
nav.sidenav .hamburger > *{background:#222325;}
nav.sidenav .options > .option{border-color:#000000; color:#000000;}
nav.sidenav .sidenav-toggle, nav.sidenav .options, 
nav.sidenav .options > .option, nav.sidenav .options > .option-btn,
nav.sidenav .option > .dropdown, nav.sidenav .option > .dropdown > *, nav.sidenav .scroll-wrapper, 
nav.sidenav .menu > *:first-child{border-color:#e1e1e1;}
nav.sidenav .submenu > *:first-child{border-color:#ffffff;;}
nav.sidenav .option > .dropdown{background:#ffffff;}
nav.sidenav .menu > *:first-child{color:#000000;}
nav.sidenav .submenu > *:first-child{color:#ffffff; background:#000000;}
nav.sidenav .submenu:hover > *:first-child{color:#000000; background:#ffffff;}
nav.sidenav .submenu > .dropdown-toggle{color:#ffffff;}
nav.sidenav .submenu:hover > .dropdown-toggle{color:#000000;}
nav.sidenav .dropdown-toggle{color:#232323;}

/* Super Topnav */
nav.stopnav{background:#000000;}
nav.stopnav .blocks > .option .hotline > em{border-color:#ffffff;}
nav.stopnav .option-select > .select{background:#ffffff; color:#000000;}
nav.stopnav .option-select > .dropdown{background:#000000;}
nav.stopnav .option-select > .dropdown .item{border-color:#ffffff;}
nav.stopnav .option-select > .dropdown .item:hover{background:#ffffff; color:#000000;}
nav.stopnav .btn-social:hover{background:#ffffff; color:#000000;}
nav.stopnav .blocks > .option .hotline > em{border-color:#000000;}

nav.stopnav.style-02{border-color:#000000;}
nav.stopnav.style-02 .option{border-color:#ffffff;}

nav.stopnav.style-03 .option-select > .select{background:#000000; color:#ffffff;}

nav.stopnav.style-04 .btn-social{border-color:#ffffff;}
nav.topnav.style-04 .menu:hover > *:first-child{background:#000000; color:#ffffff!important;}

/* Topnav */
nav.topnav{background:#ffffff;}
nav.topnav .logo p{color:#000000;}
nav.topnav .hamburger > *{background:#ffffff;}
nav.topnav .submenu{border-color:#ffffff;}
nav.topnav .submenu:hover > *:first-child{background:#ffffff!important; color:#000000!important;}
nav.topnav .submenu-dropdown{background:rgba(0,0,0,.92); color:#ffffff;}
nav.topnav .submenu > .submenu-dropdown{background:#000000!important;}
nav.topnav .menu > *:first-child{color:#000000;}
nav.topnav .option > .dropdown .flag-wrapper:hover{background:#e1e1e1;}

nav.topnav.style-02 .logo{color:#000000;}
nav.topnav.style-02 .menu > *:first-child::after{background:#000000;;}

nav.topnav.style-02 .submenu > .submenu-dropdown .submenu:hover > *:first-child{background:#303032;}
nav.topnav.style-02 .sidenav-toggle::before{background:#1f4e3a;}
nav.topnav.style-02 .sidenav-toggle:hover::before{background:#303032;}
nav.topnav.style-02 .sidenav-toggle::before{background:#000000;}


/* Footer */
nav.footer{border-color:#ffffff;}
nav.footer ul > li::before{background:#ffffff;}
nav.footer .footer-socials > .social{background:#ffffff; color:#000000;}
nav.footer .footer-socials > .social:hover{background:#000000; color:#ffffff; border-color:#ffffff;}
nav.footer .count-web > *{background:#ffffff; color:#000000; border-color:#000000!important;}

nav.footer.style-03 .footer-container{background:#000000}
nav.footer.style-03 .footer-socials .social{
  background:#000000; color:#ffffff; border-color:#ffffff;
}
nav.footer.style-03 .footer-socials > .social-wrapper .tooltip{background:#ffffff; color:#000000;}

nav.footer.style-04 .footer-top, nav.footer.style-04 .footer-bottom,
nav.footer.style-05 .footer-bottom, nav.footer.style-06 .footer-bottom{border-color:#ffffff;}

nav.footer.style-07{background:#ffffff!important;}
nav.footer.style-07 .footer-container{background:#000000;}
nav.footer.style-07 .footer-bottom{border-color:#ffffff!important;}

nav.footer.style-08 .footer-bottom{border-color:#ffffff;}
nav.footer.style-08 .social-links > .btns-social .btn-social:hover{background:#ffffff; color:#000000;}

nav.footer.style-09 .footer-bottom{border-color:#ffffff;}

nav.footer.style-10 .footer-bottom{border-color:#ffffff;}
nav.footer.style-10 .social-links > .btns-social .btn-social:hover{background:#ffffff; color:#000000;}
nav.footer.style-10 .text-intro{border-color:#ffffff;}

nav.footer.style-11{background:#ffffff!important;}
nav.footer.style-11 .footer-container{background:#000000;}
nav.footer.style-11 .footer-bottom{border-color:#ffffff!important;}
nav.footer.style-11 .footer-socials > .social{background:#000000; color:#ffffff;}
nav.footer.style-11 .footer-socials > .social:hover{background:#ffffff; color:#000000;}

/* Footer Single Pages */ 
nav.footer-single-page .social-list .tooltip{background:#ffffff; color:#000000;}
nav.footer-single-page .social-list .icon:hover{background:#ffffff; color:#000000;}

/* Sidebar (Member page) */
.sidebar{border-color:#ffffff;}
.sidebar .wrapper > .arrow-container .arrow{background:#ffffff; color:#000000;}
.sidebar .logo-container{border-color:#ffffff;}
.sidebar .menu-container > .menu-item:not(.menu-item:last-child){border-color:#ffffff;}
.sidebar .menu-item:hover .tooltip, .sidebar .profile-container:hover .tootltip{background:#ffffff; color:#000000;}

/* Special Title */
.ss-title-style-02.style-02{background:#ffffff; color:#000000; border-color:#000000;}
.ss-title-style-02.style-02:after{background:#ffffff;}
.ss-title-style-02.style-02 .link-more > .text, .ss-title-style-02 .link-more > .arrow{color:#000000;}
.ss-title.style-03{border-color:#ffffff;}

/* Password Level */
.password-level > .levels > *{border-color:#ffffff;}
.password-level.level-1 > .levels > *:nth-child(1),
.password-level.level-2 > .levels > *:nth-child(1), 
.password-level.level-2 > .levels > *:nth-child(2){background:#ffffff;}

/* Breadcrumb-01 */
.breadcrumb-01 .wrapper a:last-child::before{background:#ffffff;}

/* Breadcrumb-02 */
.breadcrumb-02 .bottom > .container .wrapper{background:#ffffff;}
.breadcrumb-02 .bottom > .container .wrapper:before,
.breadcrumb-02 .bottom > .container .wrapper:after{background:#ffffff;}
.breadcrumb-02 .sub-title{color:#000000!important;}
.breadcrumb-02 .bottom .title-link{color:#000000!important;}
.breadcrumb-02 select{border-color:#000000!important;}
.breadcrumb-02 .dropdown-icon{border-color:#000000!important;}
.breadcrumb-02 .bottom .wrapper .title-link:nth-child(3) > *{border-color:#000000!important;}
.breadcrumb-02 .ui.icon.input > em.icon.style-03{background:#000000; color:#ffffff;}
.breadcrumb-02 .ui.icon.input input{border-color:#000000;}

/* Breadcrumb 03 */
.breadcrumb-03 .wrapper a::before{background:#ffffff;}
.breadcrumb-03{background:#000000;}
.breadcrumb-03:before{background:#000000;}
.breadcrumb-03.style-02 .wrapper a{color:#000000;}
.breadcrumb-03.style-02 .wrapper a::before{background:#000000;}
.breadcrumb-03.style-03 .wrapper a{color:#ffffff;}
.breadcrumb-03.style-03 .wrapper a::before{background:#ffffff;}

/* Checkbox Set */
.checkbox-set > .checkmark::before,
.checkbox-set > .checkmark::after{border-color:#ffffff;}
.checkbox-set > .checkmark{border-color:#ffffff;}
.checkbox-set input:checked ~ .checkmark{background:#000000;}
.checkbox-set .bg-color.white-theme{background:#ffffff!important;}

/* Content Found - Search Pages */
.content-found .icon{color:#ffffff;}

/* Custom Select */
.custom-select .select-selected{background:#ffffff; color:#000000;}
.custom-select .chev{color:#000000;}
.custom-select .select-items{background:#ffffff;}
.custom-select .select-items div, .custom-select .select-selected{color:#000000;}
.custom-select .select-items div:hover{background:#000000!important; color:#ffffff;}

/* Global Filter */
.filter.style-01{background:rgba(0,0,0,.4)}
.filter.style-02{background:rgba(0,0,0,.4)}
.filter.style-02.bgcolor-02{background:rgba(0,0,0,.4)!important;}
.filter.style-03{ 
  background-image:linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,.4),
  rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0));
}
.filter.style-04{
  background-image:linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,.9),
  rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),
  rgba(0,0,0,0));
}

/* Form */
.form.style-01 .form-footer{border-color:#000000;}
.form.style-01 input[type='email']{border-color:#000000!important;}
.form.style-02 select{background:#dddddd!important; color:#000000!important;}
.form.style-02 input[type=text], .form.style-02 textarea, .form.style-02 input[type=password], 
.form.style-02 input[type=email]{
  background:#dddddd!important; border-color:#000000!important;
}
.form.style-02 ::placeholder{color:#000000!important;}
.form.style-02 .ss-sep-01.style-02 > *::before, .ss-sep-01.style-02 > *::after{background:#000000;}
.form.style-02.style-02 .password-level > .levels > *{border-color:#000000;}
.form.style-02 .password-level.level-1 > .levels > *:nth-child(1){
  background:#000000; border-color:#000000;
}

.form.style-02.white-theme input[type=text], .form.style-02.white-theme textarea, 
.form.style-02.white-theme input[type=password], .form.style-02.white-theme input[type=email]{
  background:#ffffff!important; border-color:#dddddd!important;
}
.form.style-02.black-theme input[type=text], .form.style-02.black-theme textarea, 
.form.style-02.black-theme input[type=password], .form.style-02.black-theme input[type=email]{
  background:#ffffff!important; border-color:#dddddd!important;
}
.form.style-02.black-theme select{background:#ffffff!important; color:#000000!important;}
.form.style-02.black-theme textarea{background:#ffffff!important; border-color:#000000!important;}
.form.style-02.black-theme .ss-sep-01.style-02 > *::before, 
.form.style-02.black-theme .ss-sep-01.style-02 > *::after{background:#ffffff!important;}

.form.style-05 .ui.icon.input > input{background:#ffffff!important;}
.form.style-05 .ui.icon.input > em.icon{background:#dddddd; color:#000000;}

.form.style-06 .dropdown-icon{background:#dddddd!important; color:#000000;}
.form.style-06 .btn-upload{background:#000000!important; color:#ffffff;}


/* Form check container */
.form-check-container{border-color:#ffffff;}
.form-check-container.active{background:#000000;}
.form-check-container .checkmark,
.form-check-container-02 .checkmark{background:#ffffff; border-color:#ffffff;}
.form-check-container  input:checked ~ .checkmark,
.form-check-container-02  input:checked ~ .checkmark{background:#000000!important;}
.form-check-container .checkmark:after,
.form-check-container-02 .checkmark:after{border-color:#ffffff;}

.form-check-container-02.style-02 .checkmark{border-color:#000000;}

.form-check-container-03 .checkmark{background:#ffffff;}
.form-check-container-03  input:checked ~ .checkmark{background:#ffffff!important;}
.form-check-container-03 .checkmark:after{border-color:#000000;}


/* Faq 01 */
.faq-01 .faq > .question{border-color:#ffffff;}
.faq-01 .faq .arrow{border-color:#ffffff!important;}
.faq-01 .faq .answer-wrapper{border-color:#ffffff;}
@media screen and (max-width:991.98px){
  .faq-01 .faq > .question.style-02 .arrow > .wrapper,
  .faq-01 .faq > .question.style-02 .answer-wrapper{border-top:1px solid;}
}


/* Faq 02 */
.faq-02 .faq > .question{border-color:#ffffff;}
.faq-02 .faq > .question .ftag{border-color:#ffffff;}
.faq-02 .faq > .answer{border-color:#ffffff;}
.faq-02 .faq > .answer .content{border-color:#ffffff;}

.faq-02.theme-02 .faq > .question .ftag{background:#000000;}

/* Faq 03 */
.faq-03 .faq > .question{border-color:#ffffff;}
.faq-03 .faq > .question .ftag{border-color:#ffffff;}

/* Faq 04 */
.faq-04 .faq > .question{border-color:#ffffff;}
.faq-04 .faq > .question .ftag{border-color:#ffffff;}

/* Faq 05 */
.faq-05 .faq > .question{border-color:#ffffff;}
.faq-05 .faq > .question .ftag{border-color:#ffffff;}
.faq-05 .faq > .question .button-download > .btn{background:#ffffff; color:#000000;}
.faq-05 .faq:hover > .question .button-download > .btn{background:#000000; color:#ffffff; border-color:#ffffff;}

/* Faq 06 */
.faq-06 .faq > .question{border-color:#ffffff;}
.faq-06 .faq .answer-wrapper{background:#dddddd; color:#000000;}
.faq-06 .faq > .answer .content{border-color:#ffffff;}
.faq-06 .faq .checkbox-set input:checked ~ .checkmark{background:#ffffff;}
.faq-06 .faq  .checkbox-set > .checkmark{border-color:#ffffff; background:#dddddd;}
.faq-06 .faq .checkbox-set > .checkmark::before, 
.faq-06 .faq .checkbox-set > .checkmark::after{border-color:#000000;}

/* Faq 07 */
.faq-07 .faq .arrows-container{background:#000000;}
.faq-07 .faq > .question{border-color:#000000;}
.faq-07 .faq .arrow::before, .faq-07 .faq .arrow::after{background:#ffffff;}
.faq-07 .faq tbody{background:#ffffff;}
.faq-07 .faq > .answer .content > .wrapper .text-container a{color:#000000!important;}
.faq-07 .faq .text-container > .analysis-results .wrapper{color:#000000!important;}
.faq-07 .faq > .answer .content > .wrapper .content-left{background:#000000; color:#ffffff;}
.faq-07 .faq > .answer .content{border-color:#000000;}

/* Faq 08 */
.faq-08 .faq > .question{background:#000000; color:#ffffff;}
.faq-08 .faq > .answer .content{border-color:#000000;}
.faq-08 .faq.active .options .btn{border-color:#ffffff!important;}

/* Faq 09 */
.faq-09 .faq > .question{border-color:#000000;}
.faq-09 .faq > .question .ftag{border-color:#000000; background:rgba(0,0,0,.3);}
.faq-09 .faq > .answer .content{border-color:#000000;}

/* Faq 10 */
.faq-10 .faq > .question .ftag{background:#000000;}
.faq-10 .faq > .question{border-color:#000000;}

/* Faq 11 */
.faq-11 .faq > .question{border-color:#ffffff;}
.faq-11 .faq > .question .ftag{border-color:#ffffff;}
.faq-11 .faq > .answer{border-color:#ffffff;}
.faq-11 .faq > .answer .content{border-color:#ffffff;}

.faq-11.theme-02 .faq > .question .ftag{background:#000000;}

/* Faq 12 */
.faq-12 .faq-link > .question{border-color:#ffffff;}
.faq-12 .faq-link > .question .ftag{border-color:#ffffff;}
.faq-12 .faq-link > .answer{border-color:#ffffff;}
.faq-12 .faq-link > .answer .content{border-color:#ffffff;}

/* Form Container 03 */
.form-container-03 .option .icon-view{background:rgba(0,0,0,.3);}
.form-container-03 .option .icon-view:hover, 
.form-container-03 .option .icon-view.active{background:#000000;}

/* rc-container */
.rc-container.style-02 > label::before{border-color:#ffffff;}
.rc-container.style-02 > label::after{background:#000000;}

.rc-container.style-03 > label::after{background:#000000!important;}
.rc-container.style-03 > label::before{border-color:#000000;}

.rc-container.style-04 > label::before{border-color:#ffffff;}
.rc-container.style-04 > label::after{background:#dddddd;}
.rc-container.style-04 > input:checked + label::after{background:#000000;}

/* Mobile Device Container */
.mobile-device-container .wrapper > .text-container{background:#000000;}

/* Global Search Container */
.global-search-container{color:#ffffff;}
.global-search-container .hamburger > *{background:#ffffff;}

/* Accessibility & Quick Links */
nav.side-panel > .wrapper > .icon{background:#000000;}

/* Buttons Group */
.buttons-group{border-color:#ffffff;}

/* Back to top*/
.back-to-top{background:#000000; border-color:#ffffff;}

/* Category Container */
.category-container .cate-list{border-color:#ffffff;}
.category-container .cate-list.bcolor-white-theme{border-color:#000000;}

/* Dropdown */
.dropdown-icon{background:#000000; color:#ffffff;}

/* List Header Calendar */
.list-header-calendar .options .option.search em.icon{background:#dddddd; color:#000000;}
.list-header-calendar .dropdown-icon{background:#dddddd; color:#000000;}

/* List Header 02 */
.list-header.style-02 .option > select{background:#ffffff!important;}
.list-header.style-02 .option > .dropdown-icon{background:#ffffff; color:#000000; border-color:#000000;}
.list-header.style-02 .option > .ui.icon.input input{background:#ffffff!important;}
.list-header.style-02 .option > .ui.icon.input > em.icon{background:#ffffff; color:#000000; border-color:#000000;}
.list-header.style-02 .option .icon-view{border-color:#ffffff;}
.list-header.style-02 .option .icon-view:hover, 
.list-header.style-02 .option .icon-view.active{border-color:#ffffff; background:#dddddd;}

/* Popular Search Container  */
.popular-search-container{background:#ffffff;} 
.popular-search-container .ss-tags > .tag{background:#000000; color:#ffffff;}

/* Popup Container */
.popup-container.theme-01 .popup-header{border-color:#ffffff;}
.popup-container.theme-01 .popup-header,
.popup-container.theme-01 .box-body{background:#000000;}
.popup-container.theme-01 .close-icon{color:#000000; background:#ffffff;}
.popup-container.theme-01 .close-icon:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}


/* Table */
table.table.table-download .download-card{background:#ffffff; border-color:#000000;}
table.table.table-download.style-03 td:nth-child(1){background:#000000;}
table.table.table-download .text-footer > .wrapper .icon{color:#000000;}
table.table.table-download .title-container{background:#ffffff; color:#000000;}
table.table.table-download .arrow-container{background:#ffffff; color:#000000;}
table.table.table-download .btn.btn-02, .btn.btn-02:focus{background:#000000; color:#ffffff;}

table.table.table-download.style-03 tr{border-color:#000000;}
table.table.table-download.style-03 .download-card{background:#000000; border-color:#000000;}
table.table.table-download.style-03 .data-analysis > .wrapper .icon{color:#000000;}
table.table.table-download.style-03 .data-analysis > .wrapper .icon > em{color:#000000!important;}
table.table.table-download.style-03 .data-analysis > .wrapper{border-color:#000000!important;}

table.table.table-download.style-04 tr{border-color:#000000;}
table.table.table-download.style-04 .download-card{background:#ffffff; border-color:#000000;}
table.table.table-download.style-04 .button-container{background:#ffffff;}
table.table.table-download.style-04 .data-analysis > .wrapper .icon{color:#000000;}
table.table.table-download.style-04 .data-analysis > .wrapper .icon > em{color:#000000!important;}
table.table.table-download.style-04 .data-analysis > .wrapper{border-color:#000000!important;}

table.table.table-download.style-05{background:#ffffff;}
table.table.table-download.style-05 .table-card{border-color:#000000!important;}
table.table.table-download.style-05 .button-container{background:#ffffff;}

table.table.style-05.table-download.theme-03{background:#000000!important;}
table.table.style-05.table-download.theme-03 .download-card{background:transparent!important;}
table.table.style-05.table-download.theme-03 tr{border-color:#ffffff;}

table.table.table-download.style-06{color:#000000;}
table.table.table-download.style-06 tr{border-color:#000000!important;}
table.table.table-download.style-06{background:#ffffff!important;}
table.table.table-download.style-06 tr > td.download-card{background:#000000;}
table.table.table-download.style-06 .color-04{color:#000000!important;}

/* Tab Container 01 */
.tab-container.theme-02 .tab-contents.style-02 > .tab-content{background:#ffffff;}

.tab-container .tabs.tabs-01 .tab::after{background:#000000;}
.tab-container .tabs.tabs-01.style-02 .tab{color:#000000;}
.tab-container .tabs.tabs-01.style-02 .tab.active{background:#000000; color:#ffffff;}

.tab-container .tabs.tabs-02 .tab.active{background:#000000; color:#ffffff;}
.tab-container .tabs.tabs-02.white-theme .tab.active{background:#ffffff!important; color:#000000!important;}

.tab-container .tabs.tabs-03 .tab.active > .wrapper{border-color:#ffffff;}

/* Tab 04 */
.tab-container .tabs.tabs-04 .tab.active > .title{color:#ffffff;}
.tab-container .tabs.tabs-04 .tab::before{background:#000000!important;}

/* Tags Container */
.tags-container{border-color:#ffffff;}
.tags-container .social-list .icon.active{background:#ffffff; color:#000000;}
.tags-container .social-list .icon:hover{background:#ffffff; color:#000000;}

.tags-container.style-02{border-color:#000000;}
.tags-container.style-02 .ss-tags.style-02{border-color:#000000;}
.tags-container.style-02 .tag{color:#000000;}
.tags-container.style-02 .tag:hover{color:#ffffff;}
.tags-container.style-02 .tag::before{background:#000000;}
.tags-container.style-02 .tag::after{background:#282828;}
.tags-container.style-02 .social-list .icon{color:#000000;}
.tags-container.style-02 .social-list .icon:hover,
.tags-container.style-02 .social-list .icon.active{background:#000000; color:#ffffff;}
.tags-container .social-list .tooltip{background:#000000; color:#ffffff;}

/* Pagination */
.paginate.style-02 .arrow{border-color:#ffffff; color:#000000; background:#ffffff;}
.paginate.style-02 .arrow:hover{background:#000000; color:#ffffff;}
.paginate.style-02 .page{border-color:#ffffff; color:#ffffff;}
.paginate.style-02 .page:hover, .paginate.style-02 .page.active{background:#ffffff; color:#000000;}

.paginate.style-03 .page:hover, .paginate.style-03 .page{color:#000000;}
.paginate.style-03 .page:hover, .paginate.style-03 .page.active{background:#000000; color:#ffffff;}

/* Ribbob */
.ribbon-wrapper{
  border-color:#000000; 
  box-shadow: rgba(0, 0, 0) 0px 13px 27px -8px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.ribbon-wrapper:before{border-color:transparent #000000 transparent transparent}
.ribbon-wrapper:after{border-color:#000000 transparent transparent transparent}

/* Select */
select.bg-style-02{background:#ffffff!important; border-color:#dddddd!important; color:#696969!important;}
select.style-02{background:#ffffff!important;}

/* sep 01 */
.ss-sep-01 > *::before, .ss-sep-01 > *::after{background:#ffffff!important;}
.ss-sep-01.white-theme > *::before, .ss-sep-01.white-theme > *::after{background:#ffffff!important;}
.ss-sep-01.style-02 > *::before, .ss-sep-01.style-02 > *::after{background:#000000;}

/* Section Options */
.section-options .option{background:#000000; color:#ffffff; border-color:#ffffff;}
.section-options .option:first-child{background:#ffffff!important; color:#000000!important;}
.section-options .socials > .social{background:#ffffff; color:#000000;}
.section-options .option > .icon.active, 
.section-options .option > .icon:hover{background:#ffffff; color:#000000;}

/* Special List */
.list-style-01 li:before{background:#000000;}
.list-style-02 li:before{background:#000000;}
.list-style-02.white-theme li:before{background:#ffffff;}

/* Shortcode */
.shortcode-container .shortcode-content > .arrow{border-color:#ffffff; background:#ffffff;}

/* Search Container */
.search-container{border-color:#ffffff;}
.search-container .ui.icon.input input{background:#ffffff!important;}
.search-container .ui.icon.input > em.icon{background:#ffffff; color:#000000; border-color:#000000;}

.search-container .form > .search-wrapper:after,
.search-container .form > .form-group .date-wrapper:after{background:#dddddd; color:#000000;}

/* Special Box */
.ss-box.style-02{border-color:#000000;}
.ss-box.style-05{border-color:#ffffff;}

/* Special Box Header */
.ss-box-header{border-color:#ffffff;}
.ss-box-header .ellipsis{background:#ffffff; color:#000000;}
.ss-box-header.style-03 .ellipsis-container{background:#ffffff;}
.ss-box-header.style-03 .ellipsis-container:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}
.ss-box-header.style-03 .ellipsis-container > em{color:#ffffff; background:#000000;}

/* Main Container */
.main-container .main-content > .wrapper .ss-box.style-02{border-color:#ffffff;}
.main-container .main-content > .wrapper .ss-box.style-03{border-color:#ffffff;}
.main-container .main-content .profile-edit > .photo-upload{background:#ffffff; color:#000000;}

/* Banner 02 */
.banner-02 .arrow{border-color:#000000; color:#000000;}

/* Banner 03 */
.banner-03 span.swiper-pagination-bullet:hover,
.banner-03 span.swiper-pagination-bullet-active{background:#ffffff!important; color:#000000!important;}
.banner-03 .text-slide-container{background:#ffffff; color:#000000;}

/* sep 01 */
.ss-sep-01 > *::before, .ss-sep-01 > *::after{background:#000000!important;}

/* Section 05 */
.section-05 .swiper-pagination-bullets{background:#ffffff;}
.section-05 .swiper-pagination-bullet-active{background:#000000;}
.section-05 .arrow-container > .arrow{background:#ffffff; color:#000000;}
.section-05 .arrow-container > .arrow.active,
.section-05 .arrow-container > .arrow:hover{background:transparent; border-color:#ffffff; color:#ffffff;}

/* Section 06 */
.section-06 .swiper-pagination-bullets{background:#ffffff;}
.section-06 .swiper-pagination-bullet-active{background:#000000;}
.section-06 .arrow-container > .arrow{background:#ffffff; color:#000000;}

/* Section 07 */
.section-07 .swiper-container > .btns-swiper .wrapper > .btn .arrow{background:#000000; color:#ffffff;}
.section-07 .swiper-container > .btns-swiper .wrapper > .dots{background:#000000; color:#ffffff;}

/* Section 09 */
.section-09 .swiper-background > .text-wrapper{background:#ffffff;}
.section-09 .swiper-arrows-container > .arrows-container .arrow{
  background:#ffffff; border-color:#ffffff; color:#000000;
}

/* Section 12 */
.section-12 .content-box > .line{border-color:#ffffff;}

/* Section 14 */
.section-14 .ss-title{color:#000000; border-color:#000000;}
.section-14 .ss-box > .body{background:#ffffff;}
.section-14 .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#000000!important;}

/* Section 15 */
.section-15 .arrow-container > .arrow{background:#ffffff; color:#000000;}
.section-15 .swiper-pagination-bullet-active{background:#000000;}

/* Section 18 */ 
.section-18 .arrow-container > .arrow{background:#ffffff; color:#000000;}

/* Section 21 */
.section-21 .arrow-container > .arrow{background:#ffffff; color:#000000;}

/* Section 23 */ 
.section-23 .swiper-pagination-bullets{background:#ffffff;}
.section-23 .swiper-pagination-bullet-active{background:#000000;}
.section-23 .arrow-container > .arrow{background:#ffffff; color:#000000;}
.section-23 .arrow-container > .arrow.active,
.section-23 .arrow-container > .arrow:hover{background:transparent; border-color:#ffffff; color:#ffffff;}

/* Section 24 */
.section-24 .swiper-container > .fraction-container .wrapper > .dots{background:#ffffff;}
.section-24 .swiper-container .dots > span:first-child{color:#000000;}
.section-24 .arrow-container > .btn .arrow{background:#ffffff; color:#000000;}
.section-24 .arrow-container > .btn .arrow:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

/* Section 25 */
.section-25 .swiper-pagination-bullets{background:#f2f2f2;}
.section-25 .swiper-pagination-bullet{background:#2e603d;}
.section-25 .swiper-pagination-bullet-active{background:#2e603d;}
.section-25 .arrow-container > .arrow{background:#ffffff; color:#000000;}

/* Section 29 */
.section-29 .steps{background:#ffffff; color:#000000;}
.section-29 .swiper-pagination-bullet{background:#ffffff;}
.section-29 .swiper-pagination-bullet-active{background:#dddddd;}

/* Section 31 */
.section-31 .swiper-pagination-bullet{background:#ffffff;}
.section-31 .swiper-pagination-bullet-active{background:#dddddd;}

/* Section 32 */
.section-32 .swiper-pagination-bullet{background:#ffffff;}
.section-32 .swiper-pagination-bullet-active{background:#dddddd;}

/* Special Tag */
.ss-tags.style-02{border-color:#ffffff;}
.ss-tags > .tag.style-02{background:#ffffff; color:#000000;}
.ss-tags > .tag.style-03{background:#ffffff; color:#000000;}
.ss-tags > .tag.style-04{background:#ffffff; color:#000000;}


/* Special List */
.ss-list.style-02 > li::before{background:#ffffff;}
.ss-list.style-03 > li::before{background:#ffffff;}
.list-style-03 li::before{background:#000000;}
.ss-list.style-04 > li::before{background:#000000;}
.ss-list.style-04.level-3 > li::before{background:#000000;}
.ss-list.style-04 .line{background:#000000;}
.ss-list.style-08 > li::before{background:#000000;}
.ss-list.style-13 > li::before{background:#000000;}
.ss-list.style-13.theme-02 > li::before{background:#ffffff;}
.ss-list.style-14 > li::before{background:#ffffff;}

/* Special Card */
.ss-card .number-of-picture{background:rgba(0,0,0,.4); color:#ffffff;}

/* Special Card 01 */
.ss-card-01 .ss-img::after{
  background-image:linear-gradient(to top,rgba(0,0,0,.8),rgba(0,0,0,.7),
  rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),
  rgba(0,0,0,0),rgba(0,0,0,0));
}
.ss-card-01 .text-container > .ss-tags .tag{background:#000000; color:#ffffff;}

/* Special Card 03 */
.ss-card-03{background:#000000;}

/* Special Card 05 */
.ss-card-05.filter-02 .ss-img::after{
  background-image:linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,.9),
  rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),
  rgba(0,0,0,0));
}

/* Special Card 11 */
.ss-card-11 .filter-01{background:rgb(0,0,0,.4)}

/* Special Card 12 */
.ss-card-12 .text-container{border-color:#ffffff;}

/* Special Card 17 */
.ss-card-17 .wrapper .img-container .ebook-container:before{background:#dddddd;}
.ss-card-17 .wrapper .img-container .ebook-container::after{background:#ffffff;}
.ss-card-17 .wrapper .img-container .ebook-container > .wrapper > img{border-color:#ffffff;}

/* Special Card 18 */
.ss-card-18 .wrapper .img-container .ebook-container:before{background:#dddddd;}
.ss-card-18 .wrapper .img-container .ebook-container::after{background:#ffffff;}
.ss-card-18 .wrapper .img-container .ebook-container > .wrapper > img{border-color:#ffffff;}

/* Special Card 20 */
.ss-card-20 .wrapper > .date .wrapper{border-color:#ffffff;}
.ss-card-20 .wrapper > .date .wrapper > .day{background:#ffffff; color:#000000;}
.ss-card-20 .wrapper > .date .wrapper.style-02::after{background:#ffffff;}

/* Special Card 21 */
.ss-card-21 .wrapper > .date .wrapper{border-color:#ffffff;}
.ss-card-21 .wrapper > .date .wrapper > .day{background:#ffffff; color:#000000;}
.ss-card-21 .wrapper > .date .wrapper > .month{color:#ffffff;}
.ss-card-21 .wrapper > .date .wrapper::after{background:#dddddd;}

/* Special Card 23 */
.ss-card-23 .text-container{background:#000000;}
.ss-card-23 .text-container .title{color:#ffffff;}
.ss-card-23 .text-container > .ss-tags .tag{background:#ffffff; color:#000000;}

/* Special Card 24 */
.ss-card-24{background:#ffffff;}
.ss-card-24 .wrapper > .icon{background:#000000;}
.ss-card-24 .wrapper > .text-container .title,
.ss-card-24 .wrapper > .text-container .desc{color:#000000;}
.ss-card-24 .wrapper > .text-container .arrow{color:#000000;}

/* Special Card 25 */
.ss-card-25{border-color:#ffffff;}
.ss-card-25 .text-container > .arrow{color:#ffffff;}

/* Special Card 26 */
.ss-card-26{border-color:#ffffff;}
.ss-card-26 .wrapper > .icon{color:#000000; background:#ffffff;}
.ss-card-26:hover .wrapper > .text-container .title{color:#ffffff;}
.ss-card-26:hover .wrapper > .text-container{background:#ffffff;}
.ss-card-26:hover .wrapper > .text-container .title{color:#000000;}

/* Special Card 28 */
.ss-card-28 .text-container{background:#ffffff; color:#000000;}

/* Special Card 29 */
.ss-card-29{background:#ffffff; color:#000000!important;}

/* Special Card 30 */
.ss-card-30 .wrapper > .text-container a{color:#000000!important; border-color:#000000!important;}

/* Special Card 39 */
.ss-card-39{border-color:#ffffff;}
.ss-card-39 .date-container{background:#ffffff; color:#000000;}

/* Special Card 31 */
.ss-card-31{border-color:#dddddd;}
.ss-card-31 .top > .wrapper .item:nth-child(1) > .icon{background:#000000; color:#ffffff;}
.ss-card-31.style-02{border-color:#ffffff;}
.ss-card-31.style-02 .top > .wrapper .item:nth-child(1) > .icon{background:#ffffff; color:#000000;}

/* Special Card 32 */
.ss-card-32{border-color:#ffffff;}
.ss-card-32 .wrapper > .text-container .title{color:#000000;}
.ss-card-32 .wrapper > .text-container .x-mark{background:#000000; color:#ffffff;}
.ss-card-32.mini-site .wrapper > .icon{background:#000000;}
.ss-card-32.mini-site .wrapper > .text-container .title{color:#000000!important;}
.ss-card-32.mini-site{border-color:#000000!important; background:#dddddd;}

.ss-card-32.style-02 .wrapper > .text-container .title{color:#ffffff;}
.ss-card-32.style-02 .wrapper{border-color:#ffffff!important;}
.ss-card-32.style-02 .wrapper > .text-container .x-mark{background:#ffffff; color:#000000;}

/* Special Card 33 */
.ss-card-33{border-color:#000000; color:#000000;}

/* Special Card 34 */
.ss-card-34{border-color:#ffffff;}
.ss-card-34 .wrapper > .icon{border-color:#ffffff;}
.ss-card-34 .text-container > .social-list .icon:hover{border-color:#ffffff; color:#000000;}

/* Special Card 35 */
.ss-card-35 .wrapper > .date .wrapper > .day{background:#ffffff; color:#000000;}
.ss-card-35 .wrapper > .date{border-color:#ffffff;}

/* Special Card 36 */
.ss-card-36 .filter-01{background:rgba(0,0,0,.4);}

/* Special Card 37 */
.ss-card-37 .text-container{border-color:#ffffff;}
.ss-card-37 .card-footer .link-footer > .arrow{color:#ffffff;}

/* Special Card 38 */
.ss-card-38 .wrapper > .text-container{border-color:#ffffff;}
.ss-card-38 .wrapper > .text-container .title, .ss-card-38 .card-footer .wrapper,
.ss-card-38 .link-footer > .arrow, .ss-card-38 .link-footer > .text{color:#ffffff!important;}


/* Special Card 40 */
.ss-card-40 .text-container{background:#ffffff;}
.ss-card-40 .text-container .text{color:#000000!important;}
.ss-card-40 .text-container > .date-container .date-wrapper{background:#000000;}

/* Special Card 41 */
.ss-card-41 .image-container > .date-container .date-wrapper{background:#000000;}

/* Special Card 44 */
.ss-card-44 .text-container{background:#ffffff; color:#000000;}

/* Special Card 45 */
.ss-card-45{border-color:#ffffff;}
.ss-card-45 .ss-tags > .tag{background:#ffffff; color:#000000;}

/* Special Card 46 */
.ss-card-46 .topic > .title::before, .ss-card-46 .topic > .title::after{background:#ffffff;}

/* Special Card 49 */
.ss-card-49 .header{background:#000000; color:#ffffff;}

/* Special Card 51 */
.ss-card-51{border-color:#ffffff;}
.ss-card-51 .card-line{background:#ffffff;}

/* Special Card 52 */
.ss-card-52{background:#ffffff; color:#000000;}

/* Special Card 60  */
.ss-card-60 .card-footer > .wrapper .icon{color:#000000;}
.ss-card-60 .text-container{border-color:#000000;}

/* Special Card 61 */
.ss-card-61 .text-container{border-color:#ffffff;}
.ss-card-61 .card-footer .link-footer > .arrow{color:#ffffff;}

/* Special Card 62 */
.ss-card-62 .wrapper > .img-container .ebook-container::before{background:#e9e9e9;}
.ss-card-62 .wrapper > .img-container .ebook-container::after{background:#ffffff;}
.ss-card-62 .wrapper > .img-container .ebook-container > .wrapper > img{border-color:#ffffff;}
.ss-card-62 .text-container{border-color:#ffffff;}
.ss-card-62 .card-footer .link-footer > .arrow{color:#ffffff;}

/* Special Card 63 */
.ss-card-63 .title{color:#000000!important;}
.ss-card-63 .card-footer{color:#000000!important;}
.ss-card-63 .card-footer .color-05{color:#000000!important;}
.ss-card-63 .card-footer .bcolor-05{border-color:#000000!important;}

/* Special Card 64 */
.ss-card-64 .wrapper > .img-container .ebook-container::before{background:#e9e9e9;}
.ss-card-64 .wrapper > .img-container .ebook-container::after{background:#ffffff;}
.ss-card-64 .wrapper > .img-container .ebook-container > .wrapper > img{border-color:#ffffff;}
.ss-card-64 .wrapper > .text-container{border-color:#ffffff;}

/* Special Card 65 */
.ss-card-65 .text-container{border-color:#000000; color:#000000;}

/* Special Card 67 */
.ss-card-67{border-color:#000000; background:#dddddd;}
.ss-card-67 .wrapper > .icon{background:#000000;}
.ss-card-67 .wrapper > .icon em{background:#ffffff;}
.ss-card-67 .text-container > .social-list .icon:hover{background:#000000;}

/* Special Card 68 */
.ss-card-68{border-color:#000000; background:#dddddd;}
.ss-card-68 .top > .wrapper .item:nth-child(1) > .icon{background:#000000; color:#ffffff;}

/* Special Card 69 */
.ss-card-69{background:#000000; color:#ffffff!important;}

/* Special Card 70 */
.ss-card-70, .ss-card-70 h6{color:#000000!important;}
.ss-card-70 .option > .icon{color:#000000;}

/* Special Card 73 */
.ss-card-73 .number{background:#000000;}
.ss-card-73.theme-02 .number{background:#ffffff; color:#000000;}

/* Special Card 75 */
.ss-card-75 .number{background:#ffffff; color:#000000;}
.ss-card-75.theme-02 .number{background:#000000; color:#ffffff;}

/* Special Card 79 */
.ss-card-79 .wrapper > .icon{border-color:#ffffff; background:transparent;}