/* Super Topnav */
nav.stopnav{
  position:relative; display:block; width:100%; padding:0;
  border-bottom:1px solid transparent; z-index:96;
}
nav.stopnav > .wrapper{display:block; width:100%; padding:0 1.75rem;}
nav.stopnav .blocks{display:flex; align-items:center;}
nav.stopnav .blocks > .option .hotline{
  display:flex; align-items:center; margin:0; cursor:pointer; transition:color .5s, border .5s;
}
nav.stopnav .blocks > .option .hotline > em{
  width:1.5rem; height:1.5rem; display:flex; justify-content:center; align-items:center; transition:border .25s;
  margin-right:.375rem; background:transparent; border-radius:50%; border:1px solid transparent;
}
nav.stopnav .blocks.blocks-main{width:100%; justify-content:space-between;}
nav.stopnav .option{
  display:flex; align-items:center; border-right:1px solid transparent;
  font-size:.8125rem; font-weight:500; padding:.5625rem .875rem; transition:color .25s;
}
nav.stopnav .option:first-child{padding-left:0;}
nav.stopnav .option:last-child{padding-right:0; border-right:0;}
nav.stopnav .option > .icon{margin:0 .4375rem 0 0;}
nav.stopnav .option-select{position:relative; display:block; margin:0 1rem 0 0;}
nav.stopnav .option-select > .select{
  display:flex; align-items:center; justify-content:center; font-size:.8125rem; font-weight:500;
  padding:.1875rem .5rem .125rem .5rem; border-radius:.375rem; cursor:pointer;
}
nav.stopnav .option-select > .select > .chev{font-size:.5rem; margin:0 0 0 .25rem;}
nav.stopnav .option-select > .dropdown{
  position:absolute; top:calc(100% + .375rem); left:0; right:0; padding:.25rem 0;
  border-radius:.375rem; border:1px solid transparent; pointer-events:none; opacity:0;
  transition:top .25s, opacity .25s;
}
nav.stopnav .option-select:hover > .dropdown{top:100%; pointer-events:auto; opacity:1;}
nav.stopnav .option-select > .dropdown .item{
  display:block; width:100%; font-size:.8125rem; font-weight:500; padding:.25rem .5rem;
  border-top:1px solid transparent; transition:background .25s, color .25s;
}
nav.stopnav .option-select > .dropdown .item:first-child{border-top:0;}
nav.stopnav .btn-social{
  display:flex; align-items:center; justify-content:center; width:1.625rem; height:1.625rem;
  border-radius:50%; font-size:.875rem; margin:0 0 0 .1875rem;
  transition:background .25s, color .25s;
}

nav.stopnav.style-02{border-bottom:1px solid transparent;}

nav.stopnav.style-03 .blocks{align-items:unset;}
nav.stopnav.style-03 .option-select{margin:0;}
nav.stopnav.style-03 .blocks.blocks-main{width:100%; justify-content:flex-end;}
nav.stopnav.style-03 .option:first-child{padding-left:.875rem;}
nav.stopnav.style-03 .option:last-child{padding:.5625rem .875rem; border-right:1px solid transparent;}
nav.stopnav.style-03 .option.select{padding:.5625rem 0 .875rem .5625rem!important;}
nav.stopnav.style-03 .option.select .select{margin:0;}
nav.stopnav.style-03 .option-select > .select{padding:.5625rem 0 .5625rem .875rem!important;}


nav.stopnav.style-04 .blocks.hid{display:flex; align-items:center;}
nav.stopnav.style-04 .logo {
  display: flex; align-items: center; white-space: nowrap; padding: 0 .625rem 0 0;
  padding: .375rem 0; transition: color .25s;
}
nav.stopnav.style-04 .logo img {display:block; height:3.5rem; width:auto;}
nav.stopnav.style-04 .logo .img-container{margin: 0 .625rem 0 0;}
nav.stopnav.style-04 .logo p{
  font-size:1.25rem; font-weight:500; transition:color .25s;
}
nav.stopnav.style-04 .option-select{margin:0;}
nav.stopnav.style-04 .btn-social{border:2px solid transparent; border-radius:.25rem; width:1.75rem!important;}
nav.stopnav.style-04 .blocks.blocks-main{width:100%; justify-content:space-between;}
nav.stopnav.style-04 .option:first-child{padding-left:.875rem;}
nav.stopnav.style-04 .option:last-child{padding:.5625rem 0 .5625rem .875rem; border-right:1px solid transparent;}
nav.stopnav.style-04 .option > .icon{font-size:1.25rem; display:flex; align-items:center;}

@media screen and (max-width:1199.98px){
  nav.stopnav > .wrapper{padding:0 1.5rem;}
}
@media screen and (max-width:991.98px){
  nav.stopnav > .wrapper{padding:0 1.25rem;}
  nav.stopnav.style-04 .blocks.hide-tablet{display:none;}
  nav.stopnav.style-04 .option:nth-child(2){border-right:0;}
}
@media screen and (max-width:767.98px){
  nav.stopnav > .wrapper{padding:0 1rem;}
  nav.stopnav .blocks.hide-mobile{display:none;}
  nav.stopnav .blocks.blocks-main{width:100%; justify-content:center;}
  nav.stopnav.style-03 .blocks.blocks-main{justify-content:center;}
  nav.stopnav.style-03 .option:last-child{padding:.5625rem .875rem; border-right:0px;}
  nav.stopnav > .wrapper{padding:1rem 1rem;}
  nav.stopnav.style-04 .blocks.blocks-main{justify-content:space-between; flex-direction:column;}
  nav.stopnav.style-04 .option:last-child{padding:.5625rem .875rem; border-right:0px;}
}

/* Topnav */
nav.topnav{
  position:absolute; left:0; width:100%; padding:0; z-index:95;
  transition:transform .25s, background .25s, box-shadow .25s, border .25s;
}
nav.topnav.sticky{position:fixed; top:0; box-shadow:0px 4px 12px 8px rgba(0,0,0,.04);}
nav.topnav > .wrapper{width:100%; display:flex; align-items:center; padding:0 1.75rem;}

nav.topnav .logo{
  display:flex; align-items:center; white-space:nowrap; padding:0 .625rem 0 0;
  padding:.375rem 0; transition:color .25s;
}
nav.topnav .logo .img-container{margin:0 .625rem 0 0;}
nav.topnav .logo img{display:block; height:3.5rem; width:auto;}
nav.topnav .logo p{font-size:1.25rem; font-weight:500; transition:color .25s;}

nav.topnav .menu-container{display:flex; align-items:center; margin:0 0 0 auto;}
nav.topnav .menu{position:relative; display:block; padding:0 .875rem;}
nav.topnav .menu > *:first-child{
  position:relative; display:flex; align-items:center; font-size:1rem; font-weight:400;
  padding:1.325rem 0; white-space:nowrap; transition:background .25s, color .25s;
}
nav.topnav .menu > *:first-child em{font-size:.5625rem; margin:0 0 0 .375rem;}
nav.topnav .menu > *:first-child::after{
  position:absolute; content:''; bottom:0; right:0; 
  width:0; height:.1875rem; transition:width .5s;
}
nav.topnav .menu:hover > *:first-child::after{left:0; right:unset; width:100%;}

nav.topnav .submenu-dropdown{
  position:absolute; top:100%; left:0;
  box-shadow:0px 4px 8px 4px rgba(0,0,0,.1); border-radius:0;
  opacity:0; pointer-events:none; transition:opacity .5s, top .5s;
}
nav.topnav .submenu-dropdown.anchor-right{left:auto; right:0;}
nav.topnav .submenu-dropdown.anchor-middle{transform:translateX(-50%);}
nav.topnav .menu:hover > .submenu-dropdown{opacity:1; top:100%; pointer-events:auto;}
nav.topnav .submenu-container{position:relative; display:flex;}
nav.topnav .submenu-wrapper{display:block; width:280px; padding:.5rem 0 1.5rem 0;}
nav.topnav .submenu{position:relative; border-bottom:1px solid transparent;}
nav.topnav .submenu:last-child{border-bottom:0;}
nav.topnav .submenu > *:first-child{
  display:block; position:relative; width:100%; margin:0; padding:.5rem .875rem .5rem .875rem;
  font-size:1rem; font-weight:400; transition:background .25s, color .25s;
}
nav.topnav .blocks{display:flex; margin:0 -.875rem 0 1.5rem;}
nav.topnav .blocks .option{
  display:flex; align-items:center; justify-content:center; height:4.25rem; padding:0 .875rem;
}
nav.topnav .blocks .option img{display:block; height:1.625rem; width:auto;}
nav.topnav .sidenav-toggle{position:relative;}
nav.topnav .sidenav-toggle::before{
  content:''; position:absolute; top:0; bottom:0; left:0; width:calc(100% + 1.75rem);
  transition:background .25s;
}
nav.topnav .sidenav-toggle > .hamburger{position:relative;}
nav.topnav .show-tablet{display:none!important;}
nav.topnav + .topnav-spacer{display:block; width:100%; height:4.25rem;}
@media screen and (max-width:1299.98px){
  nav.topnav .show-tablet{display:flex!important;}
  nav.topnav .hide-tablet{display:none!important;}
  nav.topnav .blocks{margin:0 -.875rem 0 auto;}
}
@media screen and (max-width:1199.98px){
  nav.topnav > .wrapper{padding:0 1.5rem;}
  nav.topnav .sidenav-toggle::before{width:calc(100% + 1.5rem);}
}
@media screen and (max-width:991.98px){
  nav.topnav > .wrapper{padding:0 1.25rem;}
  nav.topnav .sidenav-toggle::before{width:calc(100% + 1.25rem);}
}
@media screen and (max-width:767.98px){
  nav.topnav > .wrapper{padding:0 1rem;}
  nav.topnav .sidenav-toggle::before{width:calc(100% + 1rem);}
}
@media screen and (max-width:575.98px){
  nav.topnav .logo p{display:none;}
}

nav.topnav.style-02 .submenu > .submenu-dropdown{top:-.5125rem; left:100%;}
nav.topnav.style-02 .submenu-dropdown.anchor-right .submenu > .submenu-dropdown{
  left:unset; right:100%;
}
nav.topnav.style-02 .submenu:hover > .submenu-dropdown{opacity:1!important; left:100%; pointer-events:auto;}
nav.topnav.style-02 .submenu-dropdown.anchor-right .submenu:hover > .submenu-dropdown{right:100%;}

nav.topnav.style-03 .submenu > .submenu-dropdown{top:-.5125rem; left:100%;}
nav.topnav.style-03 .submenu-dropdown.anchor-right .submenu > .submenu-dropdown{
  left:unset; right:100%; padding:0 .625rem 0 0;
}
nav.topnav.style-03 .submenu:hover > .submenu-dropdown{opacity:1!important; left:100%; pointer-events:auto;}
nav.topnav.style-03 .submenu-dropdown.anchor-right .submenu:hover > .submenu-dropdown{right:100%;}
nav.topnav.style-03 .menu{transition:background .25s}
nav.topnav.style-03 .menu > *:first-child{transition:color .25s;}
nav.topnav.style-03 .menu:hover > *:first-child::after{left:0; right:unset; width:0;}

/* nav.topnav.style-04 .menu:hover > .submenu-dropdown{top:128%;} */
nav.topnav.style-04 > .wrapper{display:flex; justify-content:space-between;}
nav.topnav.style-04 .menu-container{display:flex; align-items:center; margin:unset;}
nav.topnav.style-04 .submenu > .submenu-dropdown{top:-.5125rem; left:100%;}
nav.topnav.style-04 .submenu-dropdown.anchor-right .submenu > .submenu-dropdown{
  left:unset; right:100%;
}
nav.topnav.style-04 .submenu:hover > .submenu-dropdown{opacity:1!important; left:100%; pointer-events:auto;}
nav.topnav.style-04 .submenu-dropdown.anchor-right .submenu:hover > .submenu-dropdown{right:100%;}
nav.topnav.style-04 .menu{transition:background .25s; padding:1rem .375rem;}
nav.topnav.style-04 .menu > a{display:inline-block; padding:.5rem;}
nav.topnav.style-04 .menu > *:first-child{transition:background .25s, color .25s; border-radius:.375rem;}
nav.topnav.style-04 .menu:hover > *:first-child::after{left:0; right:unset; width:0;}

nav.topnav.style-04 .menu:hover > *:first-child{background:#ffffff; color:#303030!important;}


/* Sidenav */
nav.sidenav{
  display:none; position:fixed; top:0; right:0; width:340px; height:100vh; z-index:98;
  transform:translateX(340px); transition:transform .5s;
}
nav.sidenav > .wrapper{position:relative; width:100%; height:100%; overflow:hidden;}
nav.sidenav .sidenav-toggle{
  display:block; width:4rem; height:4rem; padding:1.5rem 1rem 0 1rem; margin:0 0 0 auto;
  cursor:pointer; border-left:1px solid transparent;
}
nav.sidenav .options{display:flex; width:100%; margin:0; border-top:1px solid transparent;}
nav.sidenav .options > .option, nav.sidenav .options > .option-btn{
  display:flex; align-items:center; justify-content:center; width:calc(100% / 3);
  height:3.125rem; position:relative; cursor:pointer; border-right:1px solid transparent; 
}
nav.sidenav .options > .option:last-child{border-right:0;}
nav.sidenav .option > .icon{font-size:1.125rem; font-weight:500;}
nav.sidenav .option .flag{
  display:block; width:1.5rem; height:1.5rem; border-radius:50%; margin:0 auto;
  background-size:cover; background-position:center; background-repeat:no-repeat;
}
nav.sidenav .options > .option-btn > a{
  display:block; font-size:.9375rem; font-weight:500; transition:color .25s;
}
nav.sidenav .option > .dropdown{
  position:absolute; top:calc(100% + .25rem); left:0; right:0; opacity:0;
  border:1px solid transparent; border-radius:.25rem; pointer-events:none;
  box-shadow:0px 4px 8px 4px rgba(0,0,0,.08); overflow:hidden; z-index:1;
  transition:opacity .5s, top .5s;
}
nav.sidenav .option:hover > .dropdown{opacity:1; top:100%; pointer-events:all;}
nav.sidenav .option > .dropdown > *{
  display:flex; align-items:center; justify-content:center; width:100%; height:3.125rem;
  text-decoration:none; border-top:1px solid transparent;
}
nav.sidenav .option > .dropdown > *:first-child{border-top:0;}
nav.sidenav .option [data-theme="0"]{background:#ffffff!important; color:#000000!important;}
nav.sidenav .option [data-theme="1"]{background:#000000!important; color:#ffffff!important;}
nav.sidenav .option [data-theme="2"]{background:#000000!important; color:#ffff00!important;}
nav.sidenav .scroll-wrapper{
  display:block; width:100%; height:calc(100% - 12rem); max-height:calc(100% - 12rem);
  overflow-x:hidden; overflow-y:auto; border-top:1px solid transparent;
  padding:0 0 1px 0;
}
nav.sidenav .menu, nav.sidenav .submenu{position:relative;}
nav.sidenav .menu > *:first-child, nav.sidenav .submenu > *:first-child{
  display:block; width:100%; text-decoration:none; padding:1.0625rem 1rem .875rem 1rem;
  margin:0; font-size:1rem; font-weight:400; line-height:1.25;
  border-bottom:1px solid transparent; transition:background .25s, color .25s;
}
nav.sidenav .submenu > *:first-child{padding-left:1.5rem;}
nav.sidenav .submenu .submenu > *:first-child{padding-left:2.5rem;}
nav.sidenav .has-children > *:first-child{padding-right:4.125rem!important;}
nav.sidenav .submenu-dropdown, nav.sidenav .submenu > .submenu-wrapper{display:none;}
nav.sidenav .dropdown-toggle{
  position:absolute; right:0; top:0; width:3.125rem; height:3.125rem; text-align:center;
  line-height:3.125rem; cursor:pointer; font-size:.875rem;
}
nav.sidenav .dropdown-toggle > em{transition:transform .25s, color .25s;}
nav.sidenav .dropdown-toggle.active > em{transform:rotate(90deg);}
nav.sidenav .dropdown-toggle::after{display:none;}
nav.sidenav ~ .sidenav-filter {
  display:none; position:fixed; top:0; left:0; width:100%; height:100vh;
  z-index:97; background:#000000; opacity:0; pointer-events:none; cursor:pointer; transition:opacity .5s;
}

nav.sidenav.minisite .options > .option{width:3.9375rem;}
nav.sidenav.minisite .options > .option-btn{width:calc(100% - 3.9375rem);}

@media screen and (max-width:1299.98px){
  nav.sidenav{display:block;}
  nav.sidenav.active{transform:translateX(0);}
  nav.sidenav ~ .sidenav-filter{display:block;}
  nav.sidenav.active ~ .sidenav-filter{opacity:.7; pointer-events:all;}
}


/* Global Search Container */
.global-search-container{
  display:block; position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:100;
  opacity:0; pointer-events:none; background:rgba(0,0,0,.85);
}
.global-search-container:not(.use-gsap){transition:opacity .45s;}
.global-search-container.active{opacity:1; pointer-events:all;}
.global-search-container > .wrapper{
  position:relative; width:100%; height:100%; padding:1.5rem 1.5rem 6rem 1.5rem;;
  display:flex; align-items:center;
}
.global-search-container .hamburger{position:absolute; top:2.5rem; right:2.5rem; transform:scale(1.2);}
.global-search-container form{width:100%; max-width:500px; margin:0 auto; position:relative;}
.global-search-container .input-container{position:relative;}
.global-search-container input[type=text]{
  width:100%; font-size:1.25rem; border:1.5px solid transparent; border-radius:.4375rem;
  padding:.75rem 3.75rem .75rem 1rem; margin:0; box-shadow:none; transition:border-color .3s;
}
.global-search-container button{
  position:absolute; top:0; bottom:0; right:0; width:3.5rem; background:transparent;
  box-shadow:none; outline:none; border:0; font-size:1.75rem; padding:0; text-align:center;
  cursor:pointer; transition:color .3s;
}


/* Accessibility & Quick Links */
nav.side-panel{position:fixed; top:8rem; right:0; letter-spacing:0; z-index:97;}
nav.side-panel > .wrapper > .icon{transform:translateY(1px);}
nav.side-panel > .wrapper{position:relative;}
nav.side-panel .icon{
  position:relative; display:flex; align-items:center; justify-content:center;
  cursor:pointer; width:60px; height:60px; margin:0; font-size:24px;
  transition:.25s background, .25s color, .25s opacity;
}
nav.side-panel .icon.main{border-radius:.4375rem 0 0 .4375rem;}
nav.side-panel .icon.main > *{transition:opacity .25s;}
nav.side-panel .icon.main .icon-active{
  position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
  display:flex; align-items:center; justify-content:center;
}
nav.side-panel.active .icon.main .icon-active{opacity:1;}
nav.side-panel.active .icon.main .icon-inactive{opacity:0;}
nav.side-panel .icon > img{display:block; height:60%; width:auto;}
nav.side-panel .panel{
  position:absolute; top:0; right:-1rem; opacity:0; pointer-events:none;
  border:1px solid transparent; border-radius:.4375rem 0 0 .4375rem;
  overflow:hidden; transition:opacity .25s, right .25s;
}
nav.side-panel.active .panel{right:0; opacity:1; pointer-events:auto;}
nav.side-panel .panel-row{width:240px; min-height:60px; display:flex; align-items:center;}
nav.side-panel .panel-row:first-child{cursor:pointer;}
nav.side-panel .panel-row p{font-size:13.5px; line-height:1.5; font-weight:300;}
nav.side-panel .panel-row:first-child p{padding:0 0 0 12px;}
nav.side-panel .icon-width{display:block; text-align:center; width:110px; padding:8px 0 0 0;}
nav.side-panel .icon-width > img{
  display:block; width:auto; max-width:54px; height:auto; max-height:24px;
  margin:0 auto 4px auto;
}
nav.side-panel .options{
  width:calc(100% - 110px); padding:0 .75rem 0 0; display:flex; align-items:center;
  justify-content:space-between; flex-wrap:wrap;
}
nav.side-panel .option{
  display:block; font-size:16px; font-weight:300; padding:0; margin:0; cursor:pointer;
  width:28px; height:50px; line-height:50px; border-radius:0; text-align:center;
  border-radius:.4375rem; transition:background .25s, color .25s, fill .25s;
}
nav.side-panel .option.btn-lsp{
  width:58px; display:flex; align-items:center; justify-content:center;
}
nav.side-panel .option.btn-cursor{position:relative;}
nav.side-panel .option.btn-cursor img{
  position:absolute; top:calc(50% - 9px); left:calc(50% - 9px);
  display:block; width:18px; height:auto; transition:opacity .25s;
}
nav.side-panel .option.btn-cursor[data-cursor="0.8"] img{transform:scale(.8);}
nav.side-panel .option.btn-cursor[data-cursor="0.6"] img{transform:scale(.6);}
nav.side-panel .option.btn-cursor img:nth-child(2){opacity:0;}
nav.side-panel .option.btn-cursor.active img:nth-child(2){opacity:1;}
nav.side-panel .option-row{
  display:flex; align-items:center; position:relative; width:100%; font-size:15px;
  font-weight:500; padding:0; margin:0; border-radius:0;
  cursor:pointer;; transition:background .25s, color .25s, fill .25s;
}
nav.side-panel .option-row:first-child{margin:.5rem 0 0 0;}
nav.side-panel .option-row:last-child{margin:0 0 .5rem 0;}
nav.side-panel .option-row .icon{
  background:transparent; display:block; width:1rem; height:1rem;
  margin:0 .75rem 0 0;
}
nav.side-panel .option-row .icon img{display:block; height:100%; width:auto;}
nav.side-panel .option-row .icon + *{position:relative; padding:.1875rem 0 0 0;}
nav.side-panel .option-row .icon + *::before{
  content:''; position:absolute; bottom:.125rem; left:-.375rem;
  width:0; height:.1rem; transition:width .25s;
}
nav.side-panel .option-row:hover .icon + *::before,
nav.side-panel .option-row.active .icon + *::before{width:calc(100% + .375rem);}

nav.side-panel + .access-filter{
  position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:96;
  cursor:pointer; pointer-events:none; opacity:0; background:rgba(0,0,0,.4);
  transition:opacity .25s;
}
nav.side-panel.style-02 + .access-filter{height:100%;}
nav.side-panel.active + .access-filter{opacity:1; pointer-events:auto;}

/* Page Loader */
.page-loader{position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:101;}
.page-loader > .bg{position:relative; width:100%; height:100%;}
.page-loader > .bg > *{position:absolute; top:0; bottom:0; width:25%; transition:width .75s;}
.page-loader.fade-out > .bg > *{width:0;}
.page-loader > .bg > *:nth-child(1){left:0;}
.page-loader > .bg > *:nth-child(2){left:25%;}
.page-loader > .bg > *:nth-child(3){left:50%;}
.page-loader > .bg > *:nth-child(4){left:75%;}
.page-loader > .wrapper{
  display:flex; align-items:center; justify-content:center;
  position:absolute; top:0; bottom:0; left:0; right:0; transition:opacity .3s;
}
.page-loader.fade-out > .wrapper{opacity:0;}
.page-loader .spinner-wrapper{display:flex; justify-content:center;}
.page-loader .spinner{
  border-radius:50%; border:3px solid transparent;
  height:150px; margin:0 auto 3.5rem auto; width:150px;
  -webkit-animation:spinner 1s infinite linear;
  animation:spinner 1s infinite linear;
}
.page-loader .text-wrapper{
  display:flex; align-items:center; justify-content:center; margin:0;
}
.page-loader .text{
  position:relative; font-size:4.5rem; font-weight:700; line-height:.8; padding:0 .625rem;
}
.page-loader .text .sub{
  position:absolute; top:-4px; transform:rotateY(-90deg);
  -webkit-animation:spinnerLetter 4s infinite;
  animation:spinnerLetter 4s infinite;
}
.page-loader .text:nth-child(1) .sub{animation-delay:0s;}
.page-loader .text:nth-child(2) .sub{animation-delay:.15s;}
.page-loader .text:nth-child(3) .sub{animation-delay:.3s;}
.page-loader .text:nth-child(4) .sub{animation-delay:.45s;}
.page-loader .text:nth-child(5) .sub{animation-delay:.6s;}
.page-loader .text:nth-child(6) .sub{animation-delay:.75s;}
.page-loader .text:nth-child(7) .sub{animation-delay:.9s;}
.page-loader .text:nth-child(8) .sub{animation-delay:1.05s;}
@keyframes spinner{
  0% {transform:rotate(0deg);}
  50% {transform:rotate(180deg);}
  100% {transform:rotate(360deg);}
}
@keyframes spinnerLetter{
  0%, 75%, 100% {
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
	}
	25%, 50% {
		opacity: 1;
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
}

.page-loader.style-02  > .bg > *{
  top:unset; bottom:unset; left:0; right:0; width:100%; height:50vh;
  opacity:1; transition:transform .7s cubic-bezier(1,0,.55,1);
}
.page-loader.style-02 > .bg > *:nth-child(1){top:0;}
.page-loader.style-02.fade-out > .bg > *:nth-child(1){transform:translateY(-50vh);}
.page-loader.style-02 > .bg > *:nth-child(2){bottom:0;}
.page-loader.style-02.fade-out > .bg > *:nth-child(2){transform:translateY(50vh);}
.page-loader.style-02.fade-out > .bg > *{transition-delay:1s;}
.page-loader.style-02 > .wrapper{opacity:1!important;}
.page-loader.style-02 .loader-text{
  display:block; width:100%; text-align:center; font-size:.8125rem; font-weight:500;
  margin:0 0 3.5rem 0; transition:all .8s cubic-bezier(.19,1,.22,1); text-transform:uppercase;
}
.page-loader.style-02.fade-out .loader-text{
  opacity:0; transform:translateY(2rem); transition-delay:.5s;
}
.page-loader.style-02 .loader-progress{
  position:absolute; top:calc(50vh - .875px); left:calc(50% - 220px); right:calc(50% - 220px);
  height:1.75px; transition:all .9s;
}
.page-loader.style-02 .loader-progress > .bar{
  display:block; height:100%; width:0; transition:width 1s linear;
}
.page-loader.style-02.started .loader-progress > .bar{width:100%;}
@media screen and (max-width:767.98px){
  .page-loader.style-02 .loader-progress{left:calc(50% - 180px); right:calc(50% - 180px);}
}
@media screen and (max-width:575.98px){
  .page-loader.style-02 .loader-progress{left:20%; right:20%;}
}
.page-loader.style-02.fade-out .loader-progress{left:0; right:0; opacity:0;}

/* Sidebar (Member Page) */
.sidebar{
  position:fixed; left:0; top:0; height: 100%; width:17.5rem;
  z-index: 99; transition: all 0.5s ease; border-right:1px solid transparent;
}
.sidebar.open{width:17.5rem;}
.sidebar .logo-container{width:100%; height:5rem; position:relative; border-bottom:1px solid transparent;}
.sidebar .logo-container > .wrapper{
  display:flex; align-items:center; padding:.5rem 0 .5rem .5rem; height:100%;
}
.sidebar .logo-container > .wrapper .logo{
  min-width:3.5rem; display:flex; justify-content:center; align-items:center;
}
.sidebar .logo-container > .wrapper .logo img{
  display:block; max-width:100%; max-height:100%; width:auto; height:3.5rem;
}
.sidebar .logo-container > .wrapper .text-container{
  width:calc(100% - 5.5rem); padding-left:.5rem;
}
.sidebar .logo-container > .wrapper .arrow-container{position:absolute; right:-1.25rem; transform:rotate(180deg); transition:transform .15s ease-in-out;}
.sidebar.open .logo-container > .wrapper .arrow-container{right:-1.25rem; transform:rotate(0);}
.sidebar.open .logo-container > .wrapper .arrow-container{display:block;}
.sidebar .logo-container > .wrapper .arrow{
  width:2.125rem; height:2.125rem; display:flex; justify-content:center; align-items:center;
  border-radius:50%; font-size:.9735rem; cursor:pointer;
}
.sidebar .logo-container > .wrapper .arrow > img{
  display:block; max-width:100%; max-height:100%; width:auto; height:1.0625rem;
}
.sidebar .profile-container{position:relative; min-width:17.5rem;}
.sidebar .profile-container > .wrapper{padding:1rem; display:flex; align-items:center;}
.sidebar .profile-container > .wrapper .img-container{width:3rem; height:3rem; border-radius:50%; overflow:hidden;}
.sidebar .profile-container > .wrapper .text-container{width:calc(100% - 3rem); padding-left:1rem;}
.sidebar .menu-container > .menu-item{display:block; padding:.9375rem 1rem; transition:.5s;}
.sidebar .menu-container > .menu-item .wrapper{display:flex; align-items:center;}
.sidebar .menu-container > .menu-item .wrapper > .icon{
  margin-right:1rem; min-width:3rem; height:1.5rem; display:flex;
  justify-content:center; align-items:center;
}
.sidebar .menu-container > .menu-item .wrapper > .icon img{
  display:block; max-width:100%; max-height:100%; width:auto; height:.9375rem;
}
.sidebar .menu-container > .menu-item{position:relative; border-bottom:1px solid transparent;}
.sidebar .tooltip,
.sidebar .profile-container .tootltip{
  position: absolute; top:.5rem; left: calc(100% + .3125rem); z-index:3; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding:.375rem .75rem; border-radius:.25rem; font-weight: 400; opacity:0; white-space: nowrap; pointer-events:none;
  transition:.25s;
}
.sidebar .menu-item:hover .tooltip,
.sidebar .profile-container:hover .tootltip{opacity:1; pointer-events: auto; transition: all .4s ease;}
.sidebar.open .menu-item .tooltip{display: none;}
.sidebar .logo-container .title-link,
.sidebar .menu-item .title-link,
.sidebar .profile-container .title-link{
  white-space:nowrap; opacity:0; pointer-events:none; transition: .25s;
}
.sidebar.open .logo-container .title-link,
.sidebar.open .menu-item .title-link,
.sidebar.open .profile-container .title-link{
  opacity:1; pointer-events:auto; transition: 2s;
}
.sidebar.open ~ .main-container{left: 17.5rem; width: calc(100% - 17.5rem);}

.main-container{
  position:relative; top:0; left:5rem; width:calc(100% - 5rem);
  transition:all .5s ease; z-index:2;
}
.main-container .main-header{
  position:relative; width:100%; height:5rem; display:flex; align-items:center;
  padding:.5rem 3rem .5rem 3.5rem;
}
.main-container .main-header > .main-header-menu{display:flex; align-items:center;}
.main-container .main-header > .main-header-menu .icon{
  width:1.5rem; height:1.5rem; display:flex; justify-content:center; align-items:center;
}
.main-container .main-header > .main-header-menu:hover .title{transition:color .25s;}
.main-container .main-header > .main-header-menu img{
  display:block; max-width:100%; max-height:100%; width:auto; height:1rem; transition:opacity .25s;
}
.main-container .main-header > .main-header-menu img.active{opacity:0;}
.main-container .main-header > .main-header-menu:hover img.active{opacity:1;}
.main-container .main-header > .main-header-menu:hover img.inactive{opacity:0;}
.main-container .main-header #openBtn{opacity:0;}
.main-container .main-content > .wrapper{padding:1rem;}
.main-container .main-content > .wrapper .ss-box.style-02{border:1px solid transparent;}
.main-container .ss-box > .ss-box-content{border:1px solid transparent;}
.main-container  .ss-box > .ss-box-content{min-height:32rem;}
.main-container  .ss-box > .ss-box-content.size-02{min-height:30rem;}
.main-container  .ss-box > .ss-box-content.size-unset{min-height:0;}


/* Back to Top */
.back-to-top{
  display:block; text-decoration:none; width:3rem; height:3rem; border-radius:.3125rem;
  text-align:center; line-height:3.25rem; font-size:1.25rem; opacity:0; z-index:90;
  position:fixed; bottom:1rem; right:1rem; border:1.8px solid transparent;
  pointer-events:none; transition:opacity .25s, background .25s, color .25s;
}
.back-to-top.active{opacity:1; pointer-events:all;}
.back-to-top.active:hover{opacity:1;}
.back-to-top > i{transform:translateY(-.1875rem);}


/* Footer */
nav.footer{position:relative; width:100%; padding:2.5rem 0; overflow:hidden; border-top:1px solid transparent;}
nav.footer > .img-bg{position:absolute; top:0; left:0; bottom:0; right:0;}
nav.footer > .container{position:relative;}
nav.footer > .pattern{
  display:block; height:37rem; width:auto; position:absolute; bottom:-15.5rem; right:-9rem;
  pointer-events:none; opacity:.08;
}
nav.footer .list-icon{display:flex; align-items:center;}
nav.footer .list-icon > .icon{
  display:block; width:1.5rem; text-align:center; margin:0 .5rem 0 0; font-size:.875rem;
}
nav.footer .title-empty{opacity:0;}
nav.footer .footer-socials{display:flex; align-items:center; margin:-.375rem -.375rem 0 0;}
nav.footer .footer-socials > .social{
  display:flex; align-items:center; justify-content:center; border:2px solid transparent;
  border-radius:.5rem; font-size:1rem; width:2.375rem; height:2.375rem;
  margin:.375rem .375rem 0 0; transition:background .25s, color .25s, border-color .25s;
}
@media screen and (max-width:1299.98px){
  nav.footer > .pattern{height:35rem; bottom:-14rem; right:-11rem;}
  nav.footer .grid.mute-lg{margin-top:0;}
  nav.footer .grid.mute-lg .title-empty{display:none;}
}
@media screen and (max-width:1199.98px){
  nav.footer{padding:2rem 0;}
  nav.footer > .pattern{height:32rem; bottom:-12rem; right:-10rem;}
}
@media screen and (max-width:991.98px){
  nav.footer{padding:1.5rem 0 2rem 0;}
  nav.footer > .pattern{display:none;}
}
@media screen and (max-width:767.98px){
  nav.footer{padding:1.25rem 0 2rem 0;}
  nav.footer > .pattern{height:28rem; bottom:-11rem; right:-9rem;}
}
@media screen and (max-width:575.98px){
  nav.footer > .pattern{height:25rem; bottom:-10rem; right:-10rem;}
  nav.footer .grid.mute-xs{margin-top:0;}
  nav.footer .grid.mute-xs .title-empty{display:none;}
}

/* Footer Style 03 */
nav.footer.style-03{padding-bottom:0; background-size:cover; background-position:center; height:100%;}
nav.footer.style-03 .footer-container{border-radius:.875rem .875rem 0 0; margin-top:3rem;}
nav.footer.style-03 .footer-container > .wrapper{padding:2rem;}

/* Footer Style 04 */
nav.footer.style-04 .footer-top{border-bottom:1px solid transparent; padding:1rem 0;}
nav.footer.style-04 .footer-top .contact{display:flex; align-items:center;}
nav.footer.style-04 .footer-top .contact > .icon{
  width:2rem; height:3rem; display:flex; align-items:center; font-size:1.4375rem;
}
nav.footer.style-04 .footer-top .contact > .text-wrapper{width:calc(100% - 2rem);}
nav.footer.style-04 .counts{margin:.875rem 0}
nav.footer.style-04 .count-web{display:flex; margin:0;}
nav.footer.style-04 .count-web > *{
 width:1.375rem; height:1.375rem; display:flex; justify-content:center; align-items:center; 
 border-right:1px solid transparent; font-size:.625rem;
}
nav.footer.style-04 .footer-bottom{
  border-top:1px solid transparent; margin-top:1.5rem; padding:1.5rem 0; text-align:center;
}

/* Footer Style 05 */
nav.footer.style-05 .google-map{border-radius:.875rem;}
nav.footer.style-05 .footer-bottom{
  margin-top:1.5rem; padding:1.375rem 0; text-align:center; border-top:1px solid transparent;
}
nav.footer.style-05 .footer-bottom .counts{display:flex; align-items:center;}
nav.footer.style-05 .count-web{display:flex;}
nav.footer.style-05 .count-web > *{
  width:1.375rem; height:1.375rem; display:flex; justify-content:center; align-items:center; 
  border-right:1px solid transparent; font-size:.625rem; 
 }
 nav.footer.style-05 .count-web > *:last-child{border-right:0;}
@media screen and (max-width:1299.98px){
  nav.footer.style-05 .google-map{height:500px;}
}
@media screen and (max-width:991.98px){
  nav.footer.style-05 .google-map{height:320px;}
  nav.footer.style-05 .footer-bottom .counts{flex-direction:column; margin-bottom:.5rem;}
}
@media screen and (max-width:767.98px){
  nav.footer.style-05 .google-map{height:290px;}
}

/* Footer Style 06 */
nav.footer.style-06 .footer-bottom{
  margin-top:1.5rem; padding:1.375rem 0; text-align:center; border-top:1px solid transparent;
}
nav.footer.style-06 .counts{display:flex; align-items:center;}
nav.footer.style-06 .count-web{display:flex;}
nav.footer.style-06 .count-web > *{
  width:1.375rem; height:1.375rem; display:flex; justify-content:center; align-items:center; 
  border-right:1px solid transparent; font-size:.625rem;
}
nav.footer.style-06 .count-web > *:last-child{border-right:0;}
@media screen and (max-width:991.98px){
  nav.footer.style-06 .footer-bottom .counts{flex-direction:column; margin-bottom:.5rem;}
}

/* Footer Style 07 */
nav.footer.style-07{padding-bottom:0; background-size:cover; background-position:center; height:100%;}
nav.footer.style-07 .footer-container{border-radius:.875rem .875rem 0 0; margin-top:3rem;}
nav.footer.style-07 .footer-container > .wrapper{padding:2rem;}
nav.footer.style-07 .footer-bottom{
  padding:1.215rem; text-align:center;
}
nav.footer.style-07 .google-map{border-radius:.875rem!important;}

/* Footer Style 08 */
nav.footer.style-08 .text-intro{
  max-width:50rem; margin:0 auto; border-top:4px solid transparent; padding-top:.5rem;
  margin-bottom:1rem;
}
nav.footer.style-08 .contact{
  border-top:1px solid transparent; border-bottom:1px solid transparent; margin-top:1rem;
  padding:.5rem 0;
}
nav.footer.style-08 .contact-list{display:flex; align-items:center;}
nav.footer.style-08 .contact-list.center{justify-content:center;}
nav.footer.style-08 .contact-list.right{justify-content:flex-end;}
nav.footer.style-08 .contact-list > .icon{
  display:flex; justify-content:center; align-items:center; width:1.625rem; height:1.625rem; font-size:.875rem; 
}
nav.footer.style-08 .social-links{display:flex; justify-content:center; align-items:center; margin-top:.9375rem;}
nav.footer.style-08 .social-links > .btns-social{display:flex;}
nav.footer.style-08 .social-links > .btns-social .btn-social{
  width:1.625rem; height:1.625rem; margin:0 0 0 .1875rem; display:flex; align-items:center; 
  justify-content:center; border-radius:50%; transition:color .25s, background .25s;
}
nav.footer.style-08 .policy-container{
  max-width:60rem; display:flex; flex-wrap:wrap; align-items:center; margin:2rem auto 0 auto; 
  justify-content:center;
}
nav.footer.style-08 .policy-container > .text-wrapper a{font-weight:500; font-size:.9375rem; transition:color .25s;}
nav.footer.style-08 .policy-container > .image-container{margin-left:1rem; width:10rem;}
nav.footer.style-08 .policy-container > .image-container img{display:block; max-width:100%; height:auto;}
nav.footer.style-08 .footer-bottom{
  margin-top:1.5rem; padding:1.375rem 0; text-align:center; border-top:1px solid transparent;
}
nav.footer.style-08 .count-container{display:flex; flex-wrap:wrap; align-items:center;}
nav.footer.style-08 .count-container > .counts:last-child{margin-left:1rem;}
nav.footer.style-08 .counts{display:flex; align-items:center;}
nav.footer.style-08 .count-web{display:flex; border-radius:.1875rem; overflow:hidden;}
nav.footer.style-08 .count-web > *{
  width:1.375rem; height:2rem; display:flex; justify-content:center; align-items:center; 
  border-right:1px solid transparent; font-size:.875rem; font-weight:500; 
}
nav.footer.style-08 .count-web > *:last-child{border-right:0;}
@media screen and (max-width:1199.98px){
  nav.footer.style-08 .footer-bottom .counts{
    flex-direction:column; align-items:flex-start; margin-bottom:.5rem;
  }
  nav.footer.style-08 .count-web{margin-left:0!important;}
}
@media screen and (max-width:991.98px){
  nav.footer.style-08 .policy-container > .image-container{margin:.875rem 0 0 0; width:9.5rem;}
  nav.footer.style-08 .footer-bottom .copyright{justify-content:center;}
  nav.footer.style-08 .footer-bottom .counts{
    flex-direction:row; align-items:center; margin:.75rem 0 0 0;
  }
  nav.footer.style-08 .count-web{margin-left:.375rem!important;}
  nav.footer.style-08 .count-container{justify-content:center;}
}
@media screen and (max-width:767.98px){
  nav.footer.style-08 .contact-list.center{justify-content:flex-end;}
  nav.footer.style-08 .contact-list.right{justify-content:flex-start; margin-top:.5rem;}
}
@media screen and (max-width:575.98px){
  nav.footer.style-08 .social-links{justify-content:flex-start;}
  nav.footer.style-08 .policy-container > .image-container{width:9rem;}
  nav.footer.style-08 .footer-bottom .counts{
    flex-direction:column; align-items:center;
  }
  nav.footer.style-08 .contact-list.center{justify-content:flex-start; margin-top:.5rem;}
  nav.footer.style-08 .count-web{margin-left:0!important;}
}

/* Footer Style 09 */
nav.footer.style-09 .google-map{border-radius:.875rem!important;}
nav.footer.style-09 .text-intro{
  max-width:50rem; margin:0 auto; border-top:4px solid transparent; padding-top:.5rem;
  margin-bottom:1rem;
}
nav.footer.style-09 .contact{
  border-top:1px solid transparent; border-bottom:1px solid transparent; margin-top:1rem;
  padding:.5rem 0;
}
nav.footer.style-09 .contact-list{display:flex; align-items:center;}
nav.footer.style-09 .contact-list.center{justify-content:center;}
nav.footer.style-09 .contact-list.right{justify-content:flex-end;}
nav.footer.style-09 .contact-list > .icon{
  display:flex; justify-content:center; align-items:center; width:1.625rem; height:1.625rem; font-size:.875rem; 
}
nav.footer.style-09 .social-links{display:flex; justify-content:center; align-items:center; margin-top:.9375rem;}
nav.footer.style-09 .social-links > .btns-social{display:flex;}
nav.footer.style-09 .social-links > .btns-social .btn-social{
  width:1.625rem; height:1.625rem; margin:0 0 0 .1875rem; display:flex; align-items:center; 
  justify-content:center; border-radius:50%; transition:color .25s, background .25s;
}
nav.footer.style-09 .policy-container{
  max-width:60rem; display:flex; flex-wrap:wrap; align-items:center; margin:2rem auto 0 auto; 
  justify-content:center;
}
nav.footer.style-09 .policy-container > .text-wrapper a{font-weight:500; font-size:.9375rem; transition:color .25s;}
nav.footer.style-09 .policy-container > .image-container{margin-left:1rem; width:10rem;}
nav.footer.style-09 .policy-container > .image-container img{display:block; max-width:100%; height:auto;}
nav.footer.style-09 .footer-bottom{
  margin-top:1.5rem; padding:1.375rem 0; text-align:center; border-top:1px solid transparent;
}
nav.footer.style-09 .count-container{display:flex; flex-wrap:wrap; align-items:center;}
nav.footer.style-09 .count-container > .counts:last-child{margin-left:1rem;}
nav.footer.style-09 .counts{display:flex; align-items:center;}
nav.footer.style-09 .count-web{display:flex; border-radius:.1875rem; overflow:hidden;}
nav.footer.style-09 .count-web > *{
  width:1.375rem; height:2rem; display:flex; justify-content:center; align-items:center; 
  border-right:1px solid transparent; font-size:.875rem; font-weight:500; 
}
nav.footer.style-09 .count-web > *:last-child{border-right:0;}
@media screen and (max-width:1299.98px){
  nav.footer.style-09 .google-map{height:500px;}
  nav.footer.style-09 .count-container{margin-bottom:1rem;}
}
@media screen and (max-width:991.98px){
  nav.footer.style-09 .policy{justify-content:center;}
  nav.footer.style-09 .google-map{height:320px;}
  nav.footer.style-09 .policy-container > .image-container{margin:.875rem 0 0 0; width:9.5rem;}
  nav.footer.style-09 .footer-bottom .copyright{justify-content:center;}
  nav.footer.style-09 .footer-bottom .counts{
    flex-direction:row; align-items:center; margin:.75rem 0 0 0;
  }
  nav.footer.style-09 .count-web{margin-left:.375rem!important;}
  nav.footer.style-09 .count-container{justify-content:center;}
}
@media screen and (max-width:767.98px){
  nav.footer.style-09 .google-map{height:290px;}
  nav.footer.style-09 .contact-list.center{justify-content:flex-end;}
  nav.footer.style-09 .contact-list.right{justify-content:flex-start; margin-top:.5rem;}
}
@media screen and (max-width:575.98px){
  nav.footer.style-09 .social-links{justify-content:flex-start;}
  nav.footer.style-09 .policy-container > .image-container{width:9rem;}
  nav.footer.style-09 .footer-bottom .counts{
    flex-direction:column; align-items:center;
  }
  nav.footer.style-09 .contact-list.center{justify-content:flex-start; margin-top:.5rem;}
  nav.footer.style-09 .count-web{margin-left:0!important;}
}

/* Footer Style 10 */
nav.footer.style-10 .text-intro{
  max-width:50rem; margin:0 auto; border-top:4px solid transparent; padding-top:.5rem;
  margin-bottom:1rem;
}
nav.footer.style-10 .contact{
  border-top:1px solid transparent; border-bottom:1px solid transparent; margin-top:1rem;
  padding:.5rem 0;
}
nav.footer.style-10 .contact-list{display:flex; align-items:center;}
nav.footer.style-10 .contact-list.center{justify-content:center;}
nav.footer.style-10 .contact-list.right{justify-content:flex-end;}
nav.footer.style-10 .contact-list > .icon{
  display:flex; justify-content:center; align-items:center; width:1.625rem; height:1.625rem; font-size:.875rem; 
}
nav.footer.style-10 .social-links{display:flex; justify-content:center; align-items:center; margin-top:.9375rem;}
nav.footer.style-10 .social-links > .btns-social{display:flex;}
nav.footer.style-10 .social-links > .btns-social .btn-social{
  width:1.625rem; height:1.625rem; margin:0 0 0 .1875rem; display:flex; align-items:center; 
  justify-content:center; border-radius:50%; transition:color .25s, background .25s;
}
nav.footer.style-10 .policy-container{
  max-width:60rem; display:flex; flex-wrap:wrap; align-items:center; margin:2rem auto 0 auto; 
  justify-content:center;
}
nav.footer.style-10 .policy-container > .text-wrapper a{font-weight:500; font-size:.9375rem; transition:color .25s;}
nav.footer.style-10 .policy-container > .image-container{margin-left:1rem; width:10rem;}
nav.footer.style-10 .policy-container > .image-container img{display:block; max-width:100%; height:auto;}
nav.footer.style-10 .footer-bottom{
  margin-top:1.5rem; padding:1.375rem 0; text-align:center; border-top:1px solid transparent;
}
nav.footer.style-10 .count-container{display:flex; flex-wrap:wrap; align-items:center;}
nav.footer.style-10 .count-container > .counts:last-child{margin-left:1rem;}
nav.footer.style-10 .counts{display:flex; align-items:center;}
nav.footer.style-10 .count-web{display:flex; border-radius:.1875rem; overflow:hidden;}
nav.footer.style-10 .count-web > *{
  width:1.375rem; height:2rem; display:flex; justify-content:center; align-items:center; 
  border-right:1px solid transparent; font-size:.875rem; font-weight:500; 
}
nav.footer.style-10 .count-web > *:last-child{border-right:0;}
@media screen and (max-width:1199.98px){
  nav.footer.style-10 .footer-bottom .counts{
    flex-direction:column; align-items:flex-start; margin-bottom:.5rem;
  }
  nav.footer.style-10 .count-web{margin-left:0!important;}
}
@media screen and (max-width:991.98px){
  nav.footer.style-10 .policy-container > .image-container{margin:.875rem 0 0 0; width:9.5rem;}
  nav.footer.style-10 .footer-bottom .copyright{justify-content:center;}
  nav.footer.style-10 .footer-bottom .counts{
    flex-direction:row; align-items:center; margin:.75rem 0 0 0;
  }
  nav.footer.style-10 .count-web{margin-left:.375rem!important;}
  nav.footer.style-10 .count-container{justify-content:center;}
}
@media screen and (max-width:767.98px){
  nav.footer.style-10 .contact-list.center{justify-content:flex-end;}
  nav.footer.style-10 .contact-list.right{justify-content:flex-start; margin-top:.5rem;}
}
@media screen and (max-width:575.98px){
  nav.footer.style-10 .social-links{justify-content:flex-start;}
  nav.footer.style-10 .policy-container > .image-container{width:9rem;}
  nav.footer.style-10 .footer-bottom .counts{
    flex-direction:column; align-items:center;
  }
  nav.footer.style-10 .contact-list.center{justify-content:flex-start; margin-top:.5rem;}
  nav.footer.style-10 .count-web{margin-left:0!important;}
}

/* Footer Style 11 */
nav.footer.style-11{padding-bottom:0; background-size:cover; background-position:center; height:100%;}
nav.footer.style-11 .google-map-container{display:flex;}
nav.footer.style-11 .footer-container{border-radius:.875rem .875rem 0 0; margin-top:3rem;}
nav.footer.style-11 .footer-container > .wrapper{padding:2rem;}
nav.footer.style-11 .footer-bottom{
  padding:1.215rem; text-align:center;
}
nav.footer.style-11 .google-map{border-radius:.875rem!important;}
nav.footer.style-11 .footer-socials > .social{border:none; border-radius:50%;}
@media screen and (max-width:1299.98px){
  nav.footer.style-11 .google-map-container{display:unset;}
}