
/* Super Topnav */
nav.stopnav{
  position:relative; display:block; width:100%; padding:0;
  border-bottom:1px solid transparent; z-index:96;
}
nav.stopnav > .wrapper{display:block; width:100%; padding:0 1.75rem;}
nav.stopnav .blocks{display:flex; align-items:center;}
nav.stopnav .blocks.blocks-main{width:100%; justify-content:space-between;}
nav.stopnav .option{
  display:flex; align-items:center; border-right:1px solid transparent;
  font-size:.8125rem; font-weight:500; padding:.5625rem .875rem; transition:color .25s;
}
nav.stopnav .option:first-child{padding-left:0;}
nav.stopnav .option:last-child{padding-right:0; border-right:0;}
nav.stopnav .option > .icon{margin:0 .4375rem 0 0;}
nav.stopnav .option-select{position:relative; display:block; margin:0 1rem 0 0;}
nav.stopnav .option-select > .select{
  display:flex; align-items:center; justify-content:center; font-size:.8125rem; font-weight:500;
  padding:.1875rem .5rem .125rem .5rem; border-radius:.375rem; cursor:pointer;
}
nav.stopnav .option-select > .select > .chev{font-size:.5rem; margin:0 0 0 .25rem;}
nav.stopnav .option-select > .dropdown{
  position:absolute; top:calc(100% + .375rem); left:0; right:0; padding:.25rem 0;
  border-radius:.375rem; border:1px solid transparent; pointer-events:none; opacity:0;
  transition:top .25s, opacity .25s;
}
nav.stopnav .option-select:hover > .dropdown{top:100%; pointer-events:auto; opacity:1;}
nav.stopnav .option-select > .dropdown .item{
  display:block; width:100%; font-size:.8125rem; font-weight:500; padding:.25rem .5rem;
  border-top:1px solid transparent; transition:background .25s, color .25s;
}
nav.stopnav .option-select > .dropdown .item:first-child{border-top:0;}
nav.stopnav .btn-social{
  display:flex; align-items:center; justify-content:center; width:1.625rem; height:1.625rem;
  border-radius:50%; font-size:.875rem; margin:0 0 0 .1875rem;
  transition:background .25s, color .25s;
}
@media screen and (max-width:1199.98px){
  nav.stopnav > .wrapper{padding:0 1.5rem;}
}
@media screen and (max-width:991.98px){
  nav.stopnav > .wrapper{padding:0 1.25rem;}
}
@media screen and (max-width:767.98px){
  nav.stopnav > .wrapper{padding:0 1rem;}
  nav.stopnav .blocks.hide-mobile{display:none;}
  nav.stopnav .blocks.blocks-main{width:100%; justify-content:center;}
}


/* Topnav */
nav.topnav{
  position:absolute; left:0; width:100%; padding:0; z-index:95;
  transition:transform .25s, background .25s, box-shadow .25s, border .25s;
}
nav.topnav.sticky{position:fixed; top:0; box-shadow:0px 4px 12px 8px rgba(0,0,0,.04);}
nav.topnav > .wrapper{width:100%; display:flex; align-items:center; padding:0 1.75rem;}

nav.topnav .logo{
  display:flex; align-items:center; white-space:nowrap; padding:0 .625rem 0 0;
  padding:.375rem 0; transition:color .25s;
}
nav.topnav .logo .img-container{margin:0 .625rem 0 0;}
nav.topnav .logo img{display:block; height:3.5rem; width:auto;}
nav.topnav .logo p{font-size:1.25rem; font-weight:500; transition:color .25s;}

nav.topnav .menu-container{display:flex; align-items:center; margin:0 0 0 auto;}
nav.topnav .menu{position:relative; display:block; padding:0 .875rem;}
nav.topnav .menu > *:first-child{
  position:relative; display:flex; align-items:center; font-size:1rem; font-weight:400;
  padding:1.325rem 0; white-space:nowrap; transition:background .25s, color .25s;
}
nav.topnav .menu > *:first-child em{font-size:.5625rem; margin:0 0 0 .375rem;}
nav.topnav .menu > *:first-child::after{
  position:absolute; content:''; bottom:0; right:0; 
  width:0; height:.1875rem; transition:width .5s;
}
nav.topnav .menu:hover > *:first-child::after{left:0; right:unset; width:100%;}

nav.topnav .submenu-dropdown{
  position:absolute; top:calc(100% + .5rem); left:0; overflow:hidden;
  box-shadow:0px 4px 8px 4px rgba(0,0,0,.1); border-radius:0;
  opacity:0; pointer-events:none; transition:opacity .5s, top .5s;
}
nav.topnav .submenu-dropdown.anchor-right{left:auto; right:0;}
nav.topnav .submenu-dropdown.anchor-middle{transform:translateX(-50%);}
nav.topnav .menu:hover > .submenu-dropdown{opacity:1; top:100%; pointer-events:auto;}
nav.topnav .submenu-container{position:relative; display:flex;}
nav.topnav .submenu-wrapper{display:block; width:280px; padding:.5rem 0 1.5rem 0;}
nav.topnav .submenu{position:relative; border-bottom:1px solid transparent;}
nav.topnav .submenu:last-child{border-bottom:0;}
nav.topnav .submenu > *:first-child{
  display:block; position:relative; width:100%; margin:0; padding:.5rem .875rem .5rem .875rem;
  font-size:1rem; font-weight:400; transition:background .25s, color .25s;
}

nav.topnav .blocks{display:flex; margin:0 -.875rem 0 1.5rem;}
nav.topnav .blocks .option{
  display:flex; align-items:center; justify-content:center; height:4.25rem; padding:0 .875rem;
}
nav.topnav .blocks .option img{display:block; height:1.625rem; width:auto;}
nav.topnav .sidenav-toggle{position:relative;}
nav.topnav .sidenav-toggle::before{
  content:''; position:absolute; top:0; bottom:0; left:0; width:calc(100% + 1.75rem);
  transition:background .25s;
}
nav.topnav .sidenav-toggle > .hamburger{position:relative;}

nav.topnav .show-tablet{display:none!important;}

nav.topnav + .topnav-spacer{display:block; width:100%; height:4.25rem;}

@media screen and (max-width:1299.98px){
  nav.topnav .show-tablet{display:flex!important;}
  nav.topnav .hide-tablet{display:none!important;}
  nav.topnav .blocks{margin:0 -.875rem 0 auto;}
}
@media screen and (max-width:1199.98px){
  nav.topnav > .wrapper{padding:0 1.5rem;}
  nav.topnav .sidenav-toggle::before{width:calc(100% + 1.5rem);}
}
@media screen and (max-width:991.98px){
  nav.topnav > .wrapper{padding:0 1.25rem;}
  nav.topnav .sidenav-toggle::before{width:calc(100% + 1.25rem);}
}
@media screen and (max-width:767.98px){
  nav.topnav > .wrapper{padding:0 1rem;}
  nav.topnav .sidenav-toggle::before{width:calc(100% + 1rem);}
}
@media screen and (max-width:575.98px){
  nav.topnav .logo p{display:none;}
}


/* Sidenav */
nav.sidenav{
  display:none; position:fixed; top:0; right:0; width:340px; height:100vh; z-index:98;
  transform:translateX(340px); transition:transform .5s;
}
nav.sidenav > .wrapper{position:relative; width:100%; height:100%; overflow:hidden;}
nav.sidenav .sidenav-toggle{
  display:block; width:4rem; height:4rem; padding:1.5rem 1rem 0 1rem; margin:0 0 0 auto;
  cursor:pointer; border-left:1px solid transparent;
}
nav.sidenav .options{display:flex; width:100%; margin:0; border-top:1px solid transparent;}
nav.sidenav .options > .option, nav.sidenav .options > .option-btn{
  display:flex; align-items:center; justify-content:center; width:calc(100% / 3);
  height:3.125rem; position:relative; cursor:pointer; border-right:1px solid transparent; 
}
nav.sidenav .options > .option:last-child{border-right:0;}
nav.sidenav .option > .icon{font-size:1.125rem; font-weight:500;}
nav.sidenav .option .flag{
  display:block; width:1.5rem; height:1.5rem; border-radius:50%; margin:0 auto;
  background-size:cover; background-position:center; background-repeat:no-repeat;
}
nav.sidenav .options > .option-btn > a{
  display:block; font-size:.9375rem; font-weight:500; transition:color .25s;
}
nav.sidenav .option > .dropdown{
  position:absolute; top:calc(100% + .25rem); left:0; right:0; opacity:0;
  border:1px solid transparent; border-radius:.25rem; pointer-events:none;
  box-shadow:0px 4px 8px 4px rgba(0,0,0,.08); overflow:hidden; z-index:1;
  transition:opacity .5s, top .5s;
}
nav.sidenav .option:hover > .dropdown{opacity:1; top:100%; pointer-events:all;}
nav.sidenav .option > .dropdown > *{
  display:flex; align-items:center; justify-content:center; width:100%; height:3.125rem;
  text-decoration:none; border-top:1px solid transparent;
}
nav.sidenav .option > .dropdown > *:first-child{border-top:0;}
nav.sidenav .option [data-theme="0"]{background:#ffffff!important; color:#000000!important;}
nav.sidenav .option [data-theme="1"]{background:#000000!important; color:#ffffff!important;}
nav.sidenav .option [data-theme="2"]{background:#000000!important; color:#ffff00!important;}
nav.sidenav .scroll-wrapper{
  display:block; width:100%; height:calc(100% - 12rem); max-height:calc(100% - 12rem);
  overflow-x:hidden; overflow-y:auto; border-top:1px solid transparent;
  padding:0 0 1px 0;
}
nav.sidenav .menu, nav.sidenav .submenu{position:relative;}
nav.sidenav .menu > *:first-child, nav.sidenav .submenu > *:first-child{
  display:block; width:100%; text-decoration:none; padding:1.0625rem 1rem .875rem 1rem;
  margin:0; font-size:1rem; font-weight:400; line-height:1.25;
  border-bottom:1px solid transparent; transition:background .25s, color .25s;
}
nav.sidenav .submenu > *:first-child{padding-left:1.5rem;}
nav.sidenav .submenu .submenu > *:first-child{padding-left:2.5rem;}
nav.sidenav .has-children > *:first-child{padding-right:4.125rem!important;}
nav.sidenav .submenu-dropdown, nav.sidenav .submenu > .submenu-wrapper{display:none;}
nav.sidenav .dropdown-toggle{
  position:absolute; right:0; top:0; width:3.125rem; height:3.125rem; text-align:center;
  line-height:3.125rem; cursor:pointer; font-size:.875rem;
}
nav.sidenav .dropdown-toggle > em{transition:transform .25s, color .25s;}
nav.sidenav .dropdown-toggle.active > em{transform:rotate(90deg);}
nav.sidenav .dropdown-toggle::after{display:none;}
nav.sidenav ~ .sidenav-filter{
  display:none; position:fixed; top:0; left:0; width:100%; height:100vh; z-index:97;
  background:#000000; opacity:0; pointer-events:none; cursor:pointer; transition:opacity .5s;
}

nav.sidenav.minisite .options > .option{width:3.9375rem;}
nav.sidenav.minisite .options > .option-btn{width:calc(100% - 3.9375rem);}

@media screen and (max-width:1299.98px){
  nav.sidenav{display:block;}
  nav.sidenav.active{transform:translateX(0);}
  nav.sidenav ~ .sidenav-filter{display:block;}
  nav.sidenav.active ~ .sidenav-filter{opacity:.7; pointer-events:all;}
}


/* Global Search Container */
.global-search-container{
    display:block; position:absolute; left:0; width:100%; height:100vh; z-index:97;
    opacity:0; pointer-events:none; background:rgba(0,0,0,.7); transition:opacity .45s;
}
.global-search-container.active{opacity:1; pointer-events:all;}
.global-search-container.sticky{position:fixed; top:4.5rem;}
.global-search-container > .wrapper{position:relative; width:100%; height:100%; padding:0;}
.global-search-container .close-filter{
    position:absolute; top:0; bottom:0; left:0; right:0; cursor:pointer;
}
.global-search-container .container{position:relative; display:flex; justify-content:flex-end;}
.global-search-container .search-panel{display:block; width:100%; max-width:20rem;}
.global-search-container:not(.minisite) input[type=text]{
    border:0!important; border-bottom:3px solid transparent!important;
}
.global-search-container .form-group .append .icon{width:2.9375rem; background:transparent;}
.global-search-container .btns{margin:1rem 0 0 0;}
.global-search-container .item-container{width:100%; padding:1rem;}
.global-search-container .items{
    width:calc(100% + 1rem); margin:.25rem -1rem 0 0; max-height:calc(100vh - 17rem);
    min-height:calc(100vh - 27rem); overflow-x:hidden; overflow-y:auto;
}
.global-search-container .item{
    display:flex; align-items:center; margin:.75rem 1rem 0 0; transition:color .25s;
}
.global-search-container .item .text-container{
    width:calc(100% - 2.5rem); display:block; display:-webkit-box; text-overflow:ellipsis;
    overflow:hidden; -webkit-box-orient:vertical; -webkit-line-clamp:1;
}
.global-search-container .item .icon{
    display:block; width:2.5rem; padding:0 0 0 1rem; transition:transform .25s;
}
.global-search-container .item:hover .icon{transform:translateX(.5rem);}
.global-search-container .item .icon > img{display:block; width:100%; height:auto;}

.global-search-container.minisite{position:fixed; top:0; left:0;}
.global-search-container.minisite .container{flex-wrap:wrap;}
.global-search-container.minisite .btns{width:100%; margin:0;}
.global-search-container.minisite .btn-close{
    display:flex; align-items:center; justify-content:center;
    width:4.5rem; height:4.4375rem; margin:0 0 0 auto;
}
.global-search-container.minisite .search-panel{
    max-width:40rem; padding:2rem 2rem 1.75rem 2rem;
}
.global-search-container.minisite .form-group button{border:0;}

@media screen and (max-width:1199.98px){
    .global-search-container.sticky{top:4.5rem;}
}
@media screen and (max-width:991.98px){
    .global-search-container.minisite .btn-close{
        width:3.75rem; height:3.9375rem; margin:0 3.875rem 0 auto;
    }
    .global-search-container.minisite .search-panel{padding:1.5rem 1.5rem 1.25rem 1.5rem;}
}
@media screen and (max-width:767.98px){
    .global-search-container.sticky{top:4rem;}
    .global-search-container.minisite .search-panel{padding:1rem 1rem .75rem 1rem;}
}


/* Back to Top */
.back-to-top{
    display:block; text-decoration:none; width:3rem; height:3rem; border-radius:.3125rem;
    text-align:center; line-height:3.25rem; font-size:1.25rem; opacity:0; z-index:90;
    position:fixed; bottom:1rem; right:1rem; border:1.8px solid transparent;
    pointer-events:none; transition:opacity .25s;
}
.back-to-top.active{opacity:.6; pointer-events:all;}
.back-to-top.active:hover{opacity:1;}
.back-to-top > i{transform:translateY(-.1875rem);}


/* Footer */
nav.footer{
  height:100%; min-height:430px; background-size:cover; background-repeat:no-repeat;
  background-position:center; 
}